1. Impute (or interpolate) data for the following years:  2018, 2020, 2021.  When youare imputing, assume that data for all the other 9 years are available, except this.
- Use at least 3 different imputation techniques.
- Impute for the following features:
    - (1) Purpose of visit for each continent,
    - (2) Total number ofincoming tourists per continent,
    - (3) Number of domestic toursists per state,  and measure theaccuracy for the 3 different techniques.
    - Explain the differences between the techniques.

In [1]:
import pandas as pd
import warnings
pd.set_option('display.max_rows', None)  # Show all rows
pd.set_option('display.max_columns', None)  # Show all columns
pd.set_option('display.width', None)  # Automatically adjust the width
pd.set_option('display.max_colwidth', None)  # Show full content of columns
warnings.filterwarnings('ignore')

# 1 -> Purpose of visit

## 1 -> Analysis

In [ ]:
df_purpose_2013=pd.read_excel('../data-students/TourismData-2013/DISTRIBUTION OF NATIONALITY-WISE FTAs IN INDIA ACCORDING TO PURPOSE.xlsx')
# df_purpose_2014=pd.read_excel('../data-students/TourismData-2014/DISTRIBUTION OF NATIONALITY-WISE FTAs IN INDIA ACCORDING TO PURPOSE.xlsx')
df_purpose_2016=pd.read_excel('../data-students/TourismData-2016/DISTRIBUTION OF NATIONALITY-WISE FTAs IN INDIA ACCORDING TO PURPOSE.xlsx')
df_purpose_2017=pd.read_excel('../data-students/TourismData-2017/DISTRIBUTION OF NATIONALITY-WISE FTAs IN INDIA ACCORDING TO PURPOSE.xlsx')
df_purpose_2018=pd.read_excel('../data-students/TourismData-2018/DISTRIBUTION OF NATIONALITY-WISE FTAs IN INDIA ACCORDING TO PURPOSE.xlsx')
df_purpose_2019=pd.read_excel('../data-students/TourismData-2019/DISTRIBUTION OF NATIONALITY-WISE FTAs IN INDIA ACCORDING TO PURPOSE.xlsx')
df_purpose_2020=pd.read_excel('../data-students/TourismData-2020/DISTRIBUTION OF NATIONALITY-WISE FTAs IN INDIA ACCORDING TO PURPOSE.xlsx')
df_purpose_2021=pd.read_excel('../data-students/TourismData-2021/DISTRIBUTION OF NATIONALITY-WISE FTAs IN INDIA ACCORDING TO PURPOSE.xlsx')
df_purpose_2022=pd.read_excel('../data-students/TourismData-2022/DISTRIBUTION OF NATIONALITY-WISE FTAs IN INDIA ACCORDING TO PURPOSE.xlsx')

In [3]:
df_purpose_2013['Others'] = df_purpose_2013['Others'] + df_purpose_2013['Student']
df_purpose_2021['Others'] = df_purpose_2021['Others'] + df_purpose_2021['Student']
df_purpose_2022['Others'] = df_purpose_2022['Others'] + df_purpose_2022['Student']

df_purpose_2013 = df_purpose_2013.drop(columns=['Student'])
df_purpose_2021 = df_purpose_2021.drop(columns=['Student'])
df_purpose_2022 = df_purpose_2022.drop(columns=['Student'])

In [4]:
list_purpose=[df_purpose_2013,df_purpose_2016,df_purpose_2017,df_purpose_2018,df_purpose_2019,df_purpose_2020,df_purpose_2021,df_purpose_2022]
for df in list_purpose:
    df.columns = df.columns.str.upper()
    df['COUNTRY OF NATIONALITY'] = df['COUNTRY OF NATIONALITY'].str.upper()
    df['COUNTRY OF NATIONALITY'] = df['COUNTRY OF NATIONALITY'].str.strip()

list_purpose=[df_purpose_2013,df_purpose_2016,df_purpose_2017,df_purpose_2018,df_purpose_2019,df_purpose_2020,df_purpose_2021,df_purpose_2022]

In [5]:
df_purpose_2013.head()

,COUNTRY OF NATIONALITY,ARRIVALS (IN NUMBERS),BUSINESS AND PROFESSIONAL,LEISURE HOLIDAY AND RECREATION,MEDICAL,INDIAN DIASPORA,OTHERS
0,NORTH AMERICA,NaN,NaN,NaN,NaN,NaN,NaN
1,CANADA,268485.0,5.3,56.4,0.1,30.3,7.9
2,UNITED STATES OF AMERICA,1118983.0,12.2,36.2,0.1,46.5,5.0
3,CENTRAL & SOUTH AMERICA,NaN,NaN,NaN,NaN,NaN,NaN
4,ARGENTINA,9731.0,11.0,82.7,0.1,0.4,5.8

In [6]:
years=[2013,2016,2017,2018,2019,2020,2021,2022]
df=pd.DataFrame(columns=['COUNTRY OF NATIONALITY'])

In [7]:
# for i in range(len(list_purpose)):
#     # Convert the string data to a pandas DataFrame
#     list_purpose[i] = list_purpose[i][list_purpose[i]['COUNTRY OF NATIONALITY'] != 'OTHERS']
#     list_purpose[i] = list_purpose[i].reset_index(drop=True)

#     # Add the continent column based on the country names
#     continent_mapping = {
#         "NORTH AMERICA": ["CANADA", "UNITED STATES OF AMERICA"],
#         "CENTRAL & SOUTH AMERICA": ["ARGENTINA", "BRAZIL", "MEXICO"],
#         "WESTERN EUROPE": ["AUSTRIA", "BELGIUM", "DENMARK", "FINLAND", "FRANCE", "GERMANY", "GREECE", 
#                         "IRELAND", "ITALY", "NETHERLANDS", "NORWAY", "PORTUGAL", "SPAIN", "SWEDEN", 
#                         "SWITZERLAND", "UNITED KINGDOM"],
#         "EASTERN EUROPE": ["CZECH REPUBLIC", "KAZAKHSTAN", "POLAND", "RUSSIAN FEDERATION", "UKRAINE", "HUNGARY"],
#         "AFRICA": ["EGYPT", "KENYA", "MAURITIUS", "NIGERIA", "SOUTH AFRICA", "SUDAN", "TANZANIA"],
#         "WEST ASIA": ["BAHRAIN", "IRAQ", "ISRAEL", "OMAN", "SAUDI ARABIA", "TURKEY", "UNITED ARAB EMIRATES", 
#                     "YEMEN"],
#         "SOUTH ASIA": ["AFGHANISTAN", "IRAN", "MALDIVES", "NEPAL", "PAKISTAN", "BANGLADESH", "SRI LANKA", "BHUTAN"],
#         "SOUTH EAST ASIA": ["INDONESIA", "MALAYSIA", "MYANMAR", "PHILIPPINES", "SINGAPORE", "THAILAND", "VIETNAM"],
#         "EAST ASIA": ["REPUBLIC OF CHINA", "TAIWAN", "JAPAN", "REPUBLIC OF KOREA"],
#         "AUSTRALASIA": ["AUSTRALIA", "NEW ZEALAND"]
#     }

#     # Function to assign continent based on the country
#     def assign_continent(row):
#         for continent, countries in continent_mapping.items():
#             if row['COUNTRY OF NATIONALITY'] in countries:
#                 return continent
#         return "Unknown"

#     # Apply the function to create the new continent column
#     # list_purpose[i]['CONTINENT'] = list_purpose[i].apply(assign_continent, axis=1)
#     list_purpose[i].dropna(inplace=True)
#     list_purpose[i] = list_purpose[i].reset_index(drop=True)

#     list_purpose[i]=list_purpose[i][['COUNTRY OF NATIONALITY', 'ARRIVALS (IN NUMBERS)', 'BUSINESS AND PROFESSIONAL', 'LEISURE HOLIDAY AND RECREATION', 'MEDICAL', 'INDIAN DIASPORA', 'OTHERS',]]

#     # list_purpose[i].columns = ['COUNTRY OF NATIONALITY', 'BUSINESS AND PROFESSIONAL '+str(years[i]), 'LEISURE HOLIDAY AND RECREATION '+str(years[i]), 'MEDICAL '+str(years[i]), 'INDIAN DIASPORA '+str(years[i]), 'OTHERS '+str(years[i])]
#     list_purpose[i].columns = ['COUNTRY OF NATIONALITY','ARRIVALS (IN NUMBERS) '+str(years[i]), 'BUSINESS AND PROFESSIONAL '+str(years[i]), 'LEISURE HOLIDAY AND RECREATION '+str(years[i]), 'MEDICAL '+str(years[i]), 'INDIAN DIASPORA '+str(years[i]), 'OTHERS '+str(years[i])]

#     # df = pd.merge(df,list_gender[i][['COUNTRY OF NATIONALITY','MALE','FEMALE']], on='COUNTRY OF NATIONALITY', how='outer')
#     # df = pd.merge(df,list_age[i][['COUNTRY OF NATIONALITY', '0-14', '15-24',
#     #    '25-34', '35-44', '45-54', '55-64', '65 AND ABOVE']], on='COUNTRY OF NATIONALITY', how='outer')
#     # df = pd.merge(df,list_purpose[i][['COUNTRY OF NATIONALITY', 'BUSINESS AND PROFESSIONAL', 'LEISURE HOLIDAY AND RECREATION',
#     #    'MEDICAL', 'INDIAN DIASPORA', 'OTHERS',]], on='COUNTRY OF NATIONALITY', how='outer')
#     # # print("i : ", i)
#     df = pd.merge(df,list_purpose[i], on='COUNTRY OF NATIONALITY', how='outer')
#     # print("i : ", i)

# df['CONTINENT'] = df.apply(assign_continent, axis=1)

In [8]:
df.head()

Empty DataFrame
Columns: [COUNTRY OF NATIONALITY]
Index: []

In [9]:
# import pandas as pd

# # Sample list of years and dataframes for each year
# years = [2020, 2021]  # Modify with actual years
# list_purpose = [...]  # Replace with the actual list of dataframes

# Country-to-continent mapping
continent_mapping = {
    "NORTH AMERICA": ["CANADA", "UNITED STATES OF AMERICA"],
    "CENTRAL & SOUTH AMERICA": ["ARGENTINA", "BRAZIL", "MEXICO"],
    "WESTERN EUROPE": ["AUSTRIA", "BELGIUM", "DENMARK", "FINLAND", "FRANCE", "GERMANY", "GREECE", 
                    "IRELAND", "ITALY", "NETHERLANDS", "NORWAY", "PORTUGAL", "SPAIN", "SWEDEN", 
                    "SWITZERLAND", "UNITED KINGDOM"],
    "EASTERN EUROPE": ["CZECH REPUBLIC", "KAZAKHSTAN", "POLAND", "RUSSIAN FEDERATION", "UKRAINE", "HUNGARY"],
    "AFRICA": ["EGYPT", "KENYA", "MAURITIUS", "NIGERIA", "SOUTH AFRICA", "SUDAN", "TANZANIA"],
    "WEST ASIA": ["BAHRAIN", "IRAQ", "ISRAEL", "OMAN", "SAUDI ARABIA", "TURKEY", "UNITED ARAB EMIRATES", 
                "YEMEN"],
    "SOUTH ASIA": ["AFGHANISTAN", "IRAN", "MALDIVES", "NEPAL", "PAKISTAN", "BANGLADESH", "SRI LANKA", "BHUTAN"],
    "SOUTH EAST ASIA": ["INDONESIA", "MALAYSIA", "MYANMAR", "PHILIPPINES", "SINGAPORE", "THAILAND", "VIETNAM"],
    "EAST ASIA": ["REPUBLIC OF CHINA", "TAIWAN", "JAPAN", "REPUBLIC OF KOREA"],
    "AUSTRALASIA": ["AUSTRALIA", "NEW ZEALAND"]
}

# Function to assign continent based on the country
def assign_continent(row):
    for continent, countries in continent_mapping.items():
        if row['COUNTRY OF NATIONALITY'] in countries:
            return continent
    # return "Unknown"

# Processing each dataframe in list_purpose
for i in range(len(list_purpose)):
    list_purpose[i] = list_purpose[i][list_purpose[i]['COUNTRY OF NATIONALITY'] != 'OTHERS']
    list_purpose[i].reset_index(drop=True, inplace=True)
    
    # Add year and continent columns
    list_purpose[i]['YEAR'] = years[i]
    list_purpose[i]['CONTINENT'] = list_purpose[i].apply(assign_continent, axis=1)
    
    # Select and rename relevant columns
    list_purpose[i] = list_purpose[i][['COUNTRY OF NATIONALITY', 'CONTINENT', 'YEAR', 
                                       'ARRIVALS (IN NUMBERS)', 'BUSINESS AND PROFESSIONAL', 
                                       'LEISURE HOLIDAY AND RECREATION', 'MEDICAL', 
                                       'INDIAN DIASPORA', 'OTHERS']]

# Concatenate all yearly data into a single dataframe
df = pd.concat(list_purpose, ignore_index=True)

# Aggregate data by continent and year
continent_yearly_df = df.groupby(['CONTINENT', 'YEAR']).sum(numeric_only=True).reset_index()

# View result
# print(continent_yearly_df)
# continent_yearly_df

In [10]:
import numpy as np

def remove_columns_for_years(df, years_to_remove=[2018, 2020, 2021], columns_to_remove=None):
    # Set default columns to remove if not provided
    if columns_to_remove is None:
        columns_to_remove = ['BUSINESS AND PROFESSIONAL', 'LEISURE HOLIDAY AND RECREATION', 
                             'MEDICAL', 'INDIAN DIASPORA', 'OTHERS']
    
    # Replace the specified columns with NaN for the specified years
    df.loc[df['YEAR'].isin(years_to_remove), columns_to_remove] = np.nan
    return df

# Example usage:
continent_yearly_removed_df = remove_columns_for_years(continent_yearly_df.copy())
continent_yearly_removed_df
# continent_yearly_df

,CONTINENT,YEAR,ARRIVALS (IN NUMBERS),BUSINESS AND PROFESSIONAL,LEISURE HOLIDAY AND RECREATION,MEDICAL,INDIAN DIASPORA,OTHERS
0,AFRICA,2016,210646.0,130.18,286.66,115.32,101.18,66.74
1,AFRICA,2017,146639.0,133.00,143.08,126.14,45.90,151.90
2,AFRICA,2018,240262.0,NaN,NaN,NaN,NaN,NaN
3,AFRICA,2019,146639.0,133.00,143.08,126.14,45.90,151.90
4,AFRICA,2020,61070.0,NaN,NaN,NaN,NaN,NaN
5,AFRICA,2021,39827.0,NaN,NaN,NaN,NaN,NaN
6,AFRICA,2022,149541.0,165.30,170.80,121.90,65.00,177.00
7,AUSTRALASIA,2016,344542.0,18.85,98.58,0.11,75.32,7.15
8,AUSTRALASIA,2017,103411.0,10.50,88.30,0.30,70.10,30.70
9,AUSTRALASIA,2018,407150.0,NaN,NaN,NaN,NaN,NaN
10,AUSTRALASIA,2019,103411.0,10.50,88.30,0.30,70.10,30.70
11,AUSTRALASIA,2020,103411.0,NaN,NaN,NaN,NaN,NaN
12,AUSTRALASIA,2021,38361.0,NaN,NaN,NaN,NaN,NaN
13,AUSTRALASIA,2022,431872.0,7.00,54.60,0.30,84.10,54.00
14,CENTRAL & SOUTH AMERICA,2013,43272.0,53.10,222.20,0.40,2.10,22.20
15,CENTRAL & SOUTH AMERICA,2016,49286.0,48.27,236.44,0.10,11.12,4.07
16,CENTRAL & SOUTH AMERICA,2017,59032.0,62.08,208.79,0.20,4.72,24.20
17,CENTRAL & SOUTH AMERICA,2018,62833.0,NaN,NaN,NaN,NaN,NaN
18,CENTRAL & SOUTH AMERICA,2019,59032.0,62.08,208.79,0.20,4.72,24.20
19,CENTRAL & SOUTH AMERICA,2020,16966.0,NaN,NaN,NaN,NaN,NaN
20,CENTRAL & SOUTH AMERICA,2021,3444.0,NaN,NaN,NaN,NaN,NaN
21,CENTRAL & SOUTH AMERICA,2022,25936.0,81.80,176.10,0.50,8.80,32.80
22,EAST ASIA,2016,613563.0,184.67,194.70,0.02,14.90,5.72
23,EAST ASIA,2017,129048.0,172.50,210.20,0.00,10.20,7.00
24,EAST ASIA,2018,717997.0,NaN,NaN,NaN,NaN,NaN
25,EAST ASIA,2019,129048.0,172.50,210.20,0.00,10.20,7.00
26,EAST ASIA,2020,129048.0,NaN,NaN,NaN,NaN,NaN
27,EAST ASIA,2021,32190.0,NaN,NaN,NaN,NaN,NaN
28,EAST ASIA,2022,125381.0,174.70,41.60,0.20,30.00,53.50
29,EASTERN EUROPE,2016,314080.0,118.53,446.61,2.28,18.69,13.89
30,EASTERN EUROPE,2017,353261.0,109.04,407.69,3.12,14.70,65.45
31,EASTERN EUROPE,2018,356052.0,NaN,NaN,NaN,NaN,NaN
32,EASTERN EUROPE,2019,353261.0,109.04,407.69,3.12,14.70,65.45
33,EASTERN EUROPE,2020,137435.0,NaN,NaN,NaN,NaN,NaN
34,EASTERN EUROPE,2021,29239.0,NaN,NaN,NaN,NaN,NaN
35,EASTERN EUROPE,2022,143371.0,148.40,340.80,7.10,26.10,77.60
36,NORTH AMERICA,2013,1387468.0,17.50,92.60,0.20,76.80,12.90
37,NORTH AMERICA,2016,1614178.0,16.44,110.62,0.14,65.49,7.31
38,NORTH AMERICA,2017,1863891.0,16.06,89.50,0.22,50.97,43.25
39,NORTH AMERICA,2018,1807718.0,NaN,NaN,NaN,NaN,NaN
40,NORTH AMERICA,2019,1863891.0,16.06,89.50,0.22,50.97,43.25
41,NORTH AMERICA,2020,516960.0,NaN,NaN,NaN,NaN,NaN
42,NORTH AMERICA,2021,510297.0,NaN,NaN,NaN,NaN,NaN
43,NORTH AMERICA,2022,1692658.0,6.40,47.40,0.40,89.60,56.20
44,SOUTH ASIA,2016,2194555.0,58.30,438.16,136.08,54.09,113.37
45,SOUTH ASIA,2017,750061.0,68.80,429.80,132.80,39.30,129.70
46,SOUTH ASIA,2018,3104422.0,NaN,NaN,NaN,NaN,NaN
47,SOUTH ASIA,2019,750061.0,68.80,429.80,132.80,39.30,129.70
48,SOUTH ASIA,2020,750061.0,NaN,NaN,NaN,NaN,NaN
49,SOUTH ASIA,2021,398722.0,NaN,NaN,NaN,NaN,NaN
50,SOUTH ASIA,2022,1723016.0,65.30,210.60,44.70,18.20,461.20
51,SOUTH EAST ASIA,2016,741192.0,116.02,460.40,4.12,72.73,46.74
52,SOUTH EAST ASIA,2017,228236.0,91.00,478.70,6.30,43.70,80.10
53,SOUTH EAST ASIA,2018,876586.0,NaN,NaN,NaN,NaN,NaN
54,SOUTH EAST ASIA,2019,228236.0,91.00,478.70,6.30,43.70,80.10
55,SOUTH EAST ASIA,2020,228236.0,NaN,NaN,NaN,NaN,NaN
56,SOUTH EAST ASIA,2021,37852.0,NaN,NaN,NaN,NaN,NaN
57,SOUTH EAST ASIA,2022,408762.0,83.70,344.80,23.00,44.60,203.90
58,WEST ASIA,2016,408243.0,94.55,506.18,134.29,28.78,36.22
59,WEST ASIA,2017,88671.0,94.60,421.60,211.60,33.20,38.90
60,WEST ASIA,2018,407919.0,NaN,NaN,NaN,NaN,NaN
61,WEST ASIA,2019,88671.0,94.60,421.60,211.60,33.20,38.90
62,WEST ASIA,2020,88671.0,NaN,NaN,NaN,NaN,NaN
63,WEST ASIA,2021,47675.0,NaN,NaN,NaN,NaN,NaN
64,WEST ASIA,2022,239361.0,85.90,321.50,193.20,26.50,172.90
65,WESTERN EUROPE,2013,1851052.0,386.20,893.10,0.90,199.90,119.90
66,WESTERN EUROPE,2016,2016141.0,394.31,925.19,1.20,235.69,43.59
67,WESTERN EUROPE,2017,2159027.0,355.45,761.72,1.86,229.37,251.54
68,WESTERN EUROPE,2018,2228239.0,NaN,NaN,NaN,NaN,NaN
69,WESTERN EUROPE,2019,2159027.0,355.45,761.72,1.86,229.37,251.54
70,WESTERN EUROPE,2020,619678.0,NaN,NaN,NaN,NaN,NaN
71,WESTERN EUROPE,2021,333083.0,NaN,NaN,NaN,NaN,NaN
72,WESTERN EUROPE,2022,1289865.0,329.30,524.90,5.40,343.60,397.10

- Mean Imputations

In [11]:
def mean_imputation(df, columns):
    for column in columns:
        df[column] = df.groupby('CONTINENT')[column].transform(lambda x: x.fillna(x.mean()))
    return df

- Forward fill

In [12]:
def forward_fill_imputation(df, columns):
    for column in columns:
        df[column] = df.groupby('CONTINENT')[column].ffill()
    return df

- KNN

In [13]:
from sklearn.impute import KNNImputer

def knn_imputation(df, columns, n_neighbors=3):
    imputer = KNNImputer(n_neighbors=n_neighbors)
    
    # Impute only the specified columns
    df[columns] = imputer.fit_transform(df[columns])
    return df

- Seasonal Decomposition with interpolation

In [14]:
import pandas as pd
from statsmodels.tsa.seasonal import seasonal_decompose

def seasonal_interpolation(df, columns, frequency=1):
    for column in columns:
        # Temporarily interpolate missing values for decomposition
        temp_series = df[column].interpolate(method='linear')
        
        # Decompose the interpolated series
        decomposed = seasonal_decompose(temp_series, model='additive', period=frequency)
        
        # Replace NaNs in the original data with the trend + seasonal + residual from decomposed result
        df[column].fillna(decomposed.trend + decomposed.seasonal + decomposed.resid, inplace=True)
        
    return df

- Linear Interpolation

In [15]:
def linear_interpolation(df, columns):
    for column in columns:
        df[column] = df[column].interpolate(method='linear')
    return df

- Time-Series Imputation with Rolling Mean

In [16]:
def rolling_mean_imputation(df, columns, window=2):
    for column in columns:
        df[column] = df[column].fillna(df[column].rolling(window=window, min_periods=1).mean())
    return df

In [17]:
# Columns to be imputed
columns_to_impute = ['BUSINESS AND PROFESSIONAL', 'LEISURE HOLIDAY AND RECREATION', 
                     'MEDICAL', 'INDIAN DIASPORA', 'OTHERS']

# Make copies of the DataFrame for each imputation method
df_mean_imputed = mean_imputation(continent_yearly_removed_df.copy(), columns_to_impute)
df_ffill_imputed = forward_fill_imputation(continent_yearly_removed_df.copy(), columns_to_impute)
df_knn_imputed = knn_imputation(continent_yearly_removed_df.copy(), columns_to_impute, n_neighbors=3)
df_seasonal_imputed = seasonal_interpolation(continent_yearly_removed_df.copy(), columns_to_impute, frequency=1)
df_linear_imputed = linear_interpolation(continent_yearly_removed_df.copy(), columns_to_impute)
df_rolling_mean_imputed = rolling_mean_imputation(continent_yearly_removed_df.copy(), columns_to_impute, window=3)

In [18]:
# continent_yearly_df.head(7)

In [19]:
# df_knn_imputed

In [20]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

def evaluate_imputation_with_threshold(imputed_df, original_df, columns, threshold=5):
    results = {}
    accuracy_counts = {column: 0 for column in columns}  # Track correct imputations for each column
    total_counts = {column: 0 for column in columns}  # Track total imputations for each column

    for column in columns:
        # Filter out rows where the original data has NaN (the rows we removed)
        mask = original_df[column].notna()
        
        # Calculate metrics
        mae = mean_absolute_error(original_df.loc[mask, column], imputed_df.loc[mask, column])
        mse = mean_squared_error(original_df.loc[mask, column], imputed_df.loc[mask, column])
        r2 = r2_score(original_df.loc[mask, column], imputed_df.loc[mask, column])
        
        # Count correct imputations within the threshold
        differences = (imputed_df.loc[mask, column] - original_df.loc[mask, column]).abs()
        correct_count = (differences <= threshold).sum()  # Count values within 5 difference
        total_count = len(differences)  # Total number of imputations for the column
        
        # Calculate percentage accuracy
        accuracy = correct_count / total_count * 100 if total_count > 0 else None

        # Store results
        results[column] = {
            'Mean Absolute Error': mae,
            'Mean Squared Error': mse,
            'R-squared': r2,
            'Accuracy within 5': accuracy
        }
    
    return results


# List of columns with missing data that were imputed
columns_to_evaluate = ['BUSINESS AND PROFESSIONAL', 'LEISURE HOLIDAY AND RECREATION', 
                       'MEDICAL', 'INDIAN DIASPORA', 'OTHERS']

# Evaluate each imputed DataFrame
mean_imputed_scores_with_threshold = evaluate_imputation_with_threshold(df_mean_imputed, continent_yearly_df, columns_to_evaluate)
ffill_imputed_scores_with_threshold = evaluate_imputation_with_threshold(df_ffill_imputed, continent_yearly_df, columns_to_evaluate)
knn_imputed_scores_with_threshold = evaluate_imputation_with_threshold(df_knn_imputed, continent_yearly_df, columns_to_evaluate)
seasonal_imputed_scores_with_threshold = evaluate_imputation_with_threshold(df_seasonal_imputed, continent_yearly_df, columns_to_evaluate)
linear_imputed_scores_with_threshold = evaluate_imputation_with_threshold(df_linear_imputed, continent_yearly_df, columns_to_evaluate)
rolling_mean_imputed_scores_with_threshold = evaluate_imputation_with_threshold(df_rolling_mean_imputed, continent_yearly_df, columns_to_evaluate)

# Display results
# print("Mean Imputation Scores:\n", mean_imputed_scores)
# print("\nForward Fill Imputation Scores:\n", ffill_imputed_scores)
# print("\nKNN Imputation Scores:\n", knn_imputed_scores)


mean_imputed_scores_with_threshold=pd.DataFrame(mean_imputed_scores_with_threshold)
ffill_imputed_scores_with_threshold=pd.DataFrame(ffill_imputed_scores_with_threshold)
knn_imputed_scores_with_threshold=pd.DataFrame(knn_imputed_scores_with_threshold)
seasonal_imputed_scores_with_threshold=pd.DataFrame(seasonal_imputed_scores_with_threshold)
linear_imputed_scores_with_threshold=pd.DataFrame(linear_imputed_scores_with_threshold)
rolling_mean_imputed_scores_with_threshold=pd.DataFrame(rolling_mean_imputed_scores_with_threshold)

## 1 -> Result

In [21]:
mean_imputed_scores_with_threshold

,BUSINESS AND PROFESSIONAL,LEISURE HOLIDAY AND RECREATION,MEDICAL,INDIAN DIASPORA,OTHERS
Mean Absolute Error,13.182342,48.601418,7.721000,15.279363,20.316829
Mean Squared Error,1117.729124,13971.400689,664.001870,3754.122698,2088.364056
R-squared,0.896955,0.734762,0.889366,0.651746,0.768398
Accuracy within 5,69.863014,60.273973,83.561644,69.863014,63.013699

In [22]:
ffill_imputed_scores_with_threshold

,BUSINESS AND PROFESSIONAL,LEISURE HOLIDAY AND RECREATION,MEDICAL,INDIAN DIASPORA,OTHERS
Mean Absolute Error,13.377397,47.659178,6.912329,16.476986,19.295068
Mean Squared Error,1191.826415,14753.578178,529.706795,4120.464200,2227.839888
R-squared,0.890123,0.719913,0.911742,0.617762,0.752930
Accuracy within 5,71.232877,65.753425,84.931507,75.342466,68.493151

In [23]:
knn_imputed_scores_with_threshold

,BUSINESS AND PROFESSIONAL,LEISURE HOLIDAY AND RECREATION,MEDICAL,INDIAN DIASPORA,OTHERS
Mean Absolute Error,33.922733,85.864511,28.108092,25.658662,29.513132
Mean Squared Error,4685.731714,24368.086172,3468.916321,7798.334859,3263.103153
R-squared,0.568014,0.537388,0.422018,0.276581,0.638118
Accuracy within 5,58.904110,58.904110,58.904110,61.643836,58.904110

In [24]:
seasonal_imputed_scores_with_threshold

,BUSINESS AND PROFESSIONAL,LEISURE HOLIDAY AND RECREATION,MEDICAL,INDIAN DIASPORA,OTHERS
Mean Absolute Error,12.928767,43.064292,8.310137,14.878904,20.051416
Mean Squared Error,1054.305272,9489.891154,792.095032,3039.702793,2133.950506
R-squared,0.902802,0.819841,0.868023,0.718020,0.763343
Accuracy within 5,72.602740,58.904110,80.821918,72.602740,65.753425

In [25]:
linear_imputed_scores_with_threshold

,BUSINESS AND PROFESSIONAL,LEISURE HOLIDAY AND RECREATION,MEDICAL,INDIAN DIASPORA,OTHERS
Mean Absolute Error,12.928767,43.064292,8.310137,14.878904,20.051416
Mean Squared Error,1054.305272,9489.891154,792.095032,3039.702793,2133.950506
R-squared,0.902802,0.819841,0.868023,0.718020,0.763343
Accuracy within 5,72.602740,58.904110,80.821918,72.602740,65.753425

In [26]:
rolling_mean_imputed_scores_with_threshold

,BUSINESS AND PROFESSIONAL,LEISURE HOLIDAY AND RECREATION,MEDICAL,INDIAN DIASPORA,OTHERS
Mean Absolute Error,12.809795,44.955068,6.975890,15.742260,16.021507
Mean Squared Error,1172.879673,14225.233388,534.958090,4092.042852,1515.149449
R-squared,0.891870,0.729943,0.910867,0.620398,0.831968
Accuracy within 5,72.602740,65.753425,84.931507,75.342466,68.493151

In [27]:
mean_imputed_scores_with_threshold.to_csv("1_mean_imputed_scores_with_threshold.csv")
ffill_imputed_scores_with_threshold.to_csv("1_ffill_imputed_scores_with_threshold.csv")
knn_imputed_scores_with_threshold.to_csv("1_knn_imputed_scores_with_threshold.csv")
seasonal_imputed_scores_with_threshold.to_csv("1_seasonal_imputed_scores_with_threshold.csv")
linear_imputed_scores_with_threshold.to_csv("1_linear_imputed_scores_with_threshold.csv")
rolling_mean_imputed_scores_with_threshold.to_csv("1_rolling_mean_imputed_scores_with_threshold.csv")

# 2 -> Total No of Incoming tourists per continent

## 2 -> Analysis

In [28]:
continent_arrival_df=continent_yearly_df[['CONTINENT','YEAR','ARRIVALS (IN NUMBERS)']]
continent_arrival_df.head()

  CONTINENT  YEAR  ARRIVALS (IN NUMBERS)
0    AFRICA  2016               210646.0
1    AFRICA  2017               146639.0
2    AFRICA  2018               240262.0
3    AFRICA  2019               146639.0
4    AFRICA  2020                61070.0

In [29]:
def remove_columns_for_years(df, years_to_remove=[2018, 2020, 2021], columns_to_remove=None):
    # Set default columns to remove if not provided
    if columns_to_remove is None:
        columns_to_remove = ['ARRIVALS (IN NUMBERS)']
    
    # Replace the specified columns with NaN for the specified years
    df.loc[df['YEAR'].isin(years_to_remove), columns_to_remove] = np.nan
    return df

# Example usage:
continent_arrival_removed_df = remove_columns_for_years(continent_arrival_df.copy())
continent_arrival_removed_df.head(7)

  CONTINENT  YEAR  ARRIVALS (IN NUMBERS)
0    AFRICA  2016               210646.0
1    AFRICA  2017               146639.0
2    AFRICA  2018                    NaN
3    AFRICA  2019               146639.0
4    AFRICA  2020                    NaN
5    AFRICA  2021                    NaN
6    AFRICA  2022               149541.0

In [30]:
# Columns to be imputed
columns_to_impute = ['ARRIVALS (IN NUMBERS)']

# Make copies of the DataFrame for each imputation method
df_mean_imputed = mean_imputation(continent_arrival_removed_df.copy(), columns_to_impute)
df_ffill_imputed = forward_fill_imputation(continent_arrival_removed_df.copy(), columns_to_impute)
df_knn_imputed = knn_imputation(continent_arrival_removed_df.copy(), columns_to_impute, n_neighbors=3)
df_seasonal_imputed = seasonal_interpolation(continent_arrival_removed_df.copy(), columns_to_impute, frequency=1)
df_linear_imputed = linear_interpolation(continent_arrival_removed_df.copy(), columns_to_impute)
df_rolling_mean_imputed = rolling_mean_imputation(continent_arrival_removed_df.copy(), columns_to_impute, window=3)

In [31]:
columns_to_evaluate = ['ARRIVALS (IN NUMBERS)']

# Evaluate each imputed DataFrame
mean_imputed_scores_with_threshold = evaluate_imputation_with_threshold(df_mean_imputed, continent_arrival_df, columns_to_evaluate)
ffill_imputed_scores_with_threshold = evaluate_imputation_with_threshold(df_ffill_imputed, continent_arrival_df, columns_to_evaluate)
knn_imputed_scores_with_threshold = evaluate_imputation_with_threshold(df_knn_imputed, continent_arrival_df, columns_to_evaluate)
seasonal_imputed_scores_with_threshold = evaluate_imputation_with_threshold(df_seasonal_imputed, continent_arrival_df, columns_to_evaluate)
linear_imputed_scores_with_threshold = evaluate_imputation_with_threshold(df_linear_imputed, continent_arrival_df, columns_to_evaluate)
rolling_mean_imputed_scores_with_threshold = evaluate_imputation_with_threshold(df_rolling_mean_imputed, continent_arrival_df, columns_to_evaluate)

# Display results
# print("Mean Imputation Scores:\n", mean_imputed_scores)
# print("\nForward Fill Imputation Scores:\n", ffill_imputed_scores)
# print("\nKNN Imputation Scores:\n", knn_imputed_scores)


mean_imputed_scores_with_threshold=pd.DataFrame(mean_imputed_scores_with_threshold)
ffill_imputed_scores_with_threshold=pd.DataFrame(ffill_imputed_scores_with_threshold)
knn_imputed_scores_with_threshold=pd.DataFrame(knn_imputed_scores_with_threshold)
seasonal_imputed_scores_with_threshold=pd.DataFrame(seasonal_imputed_scores_with_threshold)
linear_imputed_scores_with_threshold=pd.DataFrame(linear_imputed_scores_with_threshold)
rolling_mean_imputed_scores_with_threshold=pd.DataFrame(rolling_mean_imputed_scores_with_threshold)

## 2 -> Result

In [32]:
mean_imputed_scores_with_threshold

                     ARRIVALS (IN NUMBERS)
Mean Absolute Error           1.729507e+05
Mean Squared Error            1.677305e+11
R-squared                     6.853721e-01
Accuracy within 5            5.890411e+01

In [33]:
ffill_imputed_scores_with_threshold

                     ARRIVALS (IN NUMBERS)
Mean Absolute Error           1.654873e+05
Mean Squared Error            2.222108e+11
R-squared                     5.831782e-01
Accuracy within 5            6.575342e+01

In [34]:
knn_imputed_scores_with_threshold

                     ARRIVALS (IN NUMBERS)
Mean Absolute Error           2.343139e+05
Mean Squared Error            2.202262e+11
R-squared                     5.869010e-01
Accuracy within 5            5.890411e+01

In [35]:
seasonal_imputed_scores_with_threshold

                     ARRIVALS (IN NUMBERS)
Mean Absolute Error           1.702946e+05
Mean Squared Error            1.951013e+11
R-squared                     6.340300e-01
Accuracy within 5            5.890411e+01

In [36]:
linear_imputed_scores_with_threshold

                     ARRIVALS (IN NUMBERS)
Mean Absolute Error           1.702946e+05
Mean Squared Error            1.951013e+11
R-squared                     6.340300e-01
Accuracy within 5            5.890411e+01

In [37]:
rolling_mean_imputed_scores_with_threshold

                     ARRIVALS (IN NUMBERS)
Mean Absolute Error           1.459679e+05
Mean Squared Error            1.743241e+11
R-squared                     6.730039e-01
Accuracy within 5            6.575342e+01

In [38]:
mean_imputed_scores_with_threshold.to_csv("2_mean_imputed_scores_with_threshold.csv")
ffill_imputed_scores_with_threshold.to_csv("2_ffill_imputed_scores_with_threshold.csv")
knn_imputed_scores_with_threshold.to_csv("2_knn_imputed_scores_with_threshold.csv")
seasonal_imputed_scores_with_threshold.to_csv("2_seasonal_imputed_scores_with_threshold.csv")
linear_imputed_scores_with_threshold.to_csv("2_linear_imputed_scores_with_threshold.csv")
rolling_mean_imputed_scores_with_threshold.to_csv("2_rolling_mean_imputed_scores_with_threshold.csv")

# 3 -> No of domestic tourists per state

## 3 -> Analysis

In [ ]:
df_state_2013=pd.read_excel('../data-students/TourismData-2013/STATE UT-WISE DOMESTIC AND FOREIGN TOURIST VISITS.xlsx')
df_state_2014=pd.read_excel('../data-students/TourismData-2014/STATE UT-WISE DOMESTIC AND FOREIGN TOURIST VISITS.xlsx')
df_state_2016=pd.read_excel('../data-students/TourismData-2016/STATE UT-WISE DOMESTIC AND FOREIGN TOURIST VISITS.xlsx')
df_state_2017=pd.read_excel('../data-students/TourismData-2017/STATE UT-WISE DOMESTIC AND FOREIGN TOURIST VISITS.xlsx')
df_state_2018=pd.read_excel('../data-students/TourismData-2018/STATE UT-WISE DOMESTIC AND FOREIGN TOURIST VISITS.xlsx')
df_state_2019=pd.read_excel('../data-students/TourismData-2019/STATE UT-WISE DOMESTIC AND FOREIGN TOURIST VISITS.xlsx')
df_state_2020=pd.read_excel('../data-students/TourismData-2020/STATE UT-WISE DOMESTIC AND FOREIGN TOURIST VISITS.xlsx')
df_state_2021=pd.read_excel('../data-students/TourismData-2021/STATE UT-WISE DOMESTIC AND FOREIGN TOURIST VISITS.xlsx')
df_state_2022=pd.read_excel('../data-students/TourismData-2022/STATE UT-WISE DOMESTIC AND FOREIGN TOURIST VISITS.xlsx')

In [40]:
df_state_2013.columns

Index(['State/UT', 'Domestic', 'Foreign'], dtype='object')

In [41]:
list_state=[df_state_2013,df_state_2014,df_state_2016,df_state_2017,df_state_2018,df_state_2019,df_state_2020,df_state_2021,df_state_2022]
for df in list_state:
    # df = df.drop(columns=["Foreign"])
    df.columns = df.columns.str.upper()
    df['STATE/UT'] = df['STATE/UT'].str.upper()
    df['STATE/UT'] = df['STATE/UT'].str.strip()

# list_state=[df_state_2013,df_state_2014,df_state_2016,df_state_2017,df_state_2018,df_state_2019,df_state_2020,df_state_2021,df_state_2022]

In [42]:
years=[2013,2014,2016,2017,2018,2019,2020,2021,2022]
# df=pd.DataFrame(columns=['COUNTRY OF NATIONALITY'])

In [43]:
# # Create an empty list to store the updated DataFrames
# df_combined = []

# # Iterate through each DataFrame in the list
# for df, year in zip(list_state, years):
#     df = df.drop(columns=["FOREIGN"])

#     # Add a column 'Year' to each DataFrame
#     df['Year'] = year
#     # Append the DataFrame to the combined list
#     df_combined.append(df)

# # Concatenate all the DataFrames into one
# df_result = pd.concat(df_combined, ignore_index=True)

# # Now, df_result contains the combined data with the year column
# # print(df_result)

In [44]:
# import pandas as pd
import numpy as np

# Assuming your DataFrames and years list
# list_state = [df_state_2013, df_state_2014, df_state_2016, df_state_2017, df_state_2018, df_state_2019, df_state_2020, df_state_2021, df_state_2022]
# years = [2013, 2014, 2016, 2017, 2018, 2019, 2020, 2021, 2022]

# Create an empty list to store the updated DataFrames
df_combined = []
df_combined_removed = []

# Iterate through each DataFrame and year, dropping "FOREIGN" column and adding "Year"
for df, year in zip(list_state, years):
    df = df.drop(columns=["FOREIGN"])
    df['Year'] = year
    
    df_combined.append(df.copy())

    # Set 'DOMESTIC' values to NaN for specified years
    if year in [2018, 2020, 2021]:
        df['DOMESTIC'] = np.nan

    df_combined_removed.append(df)

# Concatenate all DataFrames
df_result = pd.concat(df_combined, ignore_index=True)
df_result_removed = pd.concat(df_combined_removed, ignore_index=True)

# Sort by 'STATE/UT' to group similar entries together
df_result = df_result.sort_values(by="STATE/UT").reset_index(drop=True)
df_result_removed =df_result_removed.sort_values(by="STATE/UT").reset_index(drop=True)


# Display the result
# print(df_result)

In [45]:
df_result.head()

                    STATE/UT  DOMESTIC  Year
0  ANDAMAN & NICOBAR ISLANDS  243703.0  2013
1  ANDAMAN & NICOBAR ISLANDS  498279.0  2018
2  ANDAMAN & NICOBAR ISLANDS  191207.0  2020
3  ANDAMAN & NICOBAR ISLANDS  471919.0  2017
4  ANDAMAN & NICOBAR ISLANDS  126238.0  2021

In [46]:
df_result_removed.head()

                    STATE/UT  DOMESTIC  Year
0  ANDAMAN & NICOBAR ISLANDS  243703.0  2013
1  ANDAMAN & NICOBAR ISLANDS       NaN  2018
2  ANDAMAN & NICOBAR ISLANDS       NaN  2020
3  ANDAMAN & NICOBAR ISLANDS  471919.0  2017
4  ANDAMAN & NICOBAR ISLANDS       NaN  2021

In [47]:
# # Create an empty list to store the modified DataFrames
# df_combined = []

# # Iterate through each DataFrame in the list
# for df, year in zip(list_state, years):
#     # Drop the "FOREIGN" column
#     df = df.drop(columns=["FOREIGN"])
#     # Rename the "DOMESTIC" column to reflect the year
#     df.rename(columns={"DOMESTIC": f"Domestic_{year}"}, inplace=True)
#     # Append the modified DataFrame to the combined list
#     df_combined.append(df)

# # Merge all DataFrames on the "STATE/UT" column
# df_result = pd.concat(df_combined, axis=1)

# # Drop duplicate "STATE/UT" columns (will keep only the first one)
# df_result = df_result.loc[:, ~df_result.columns.duplicated()]

# df_result = df_result.dropna()

# df_result_removed=df_result.copy()

# df_result_removed["Domestic_2018"] = np.nan
# df_result_removed["Domestic_2020"] = np.nan
# df_result_removed["Domestic_2021"] = np.nan

# # Now, df_result contains the desired structure
# # print(df_result)
# df_result_removed.head()

In [48]:
df_result.head()

                    STATE/UT  DOMESTIC  Year
0  ANDAMAN & NICOBAR ISLANDS  243703.0  2013
1  ANDAMAN & NICOBAR ISLANDS  498279.0  2018
2  ANDAMAN & NICOBAR ISLANDS  191207.0  2020
3  ANDAMAN & NICOBAR ISLANDS  471919.0  2017
4  ANDAMAN & NICOBAR ISLANDS  126238.0  2021

In [49]:
# df_result_removed.to_csv("temp1.csv",index=False)

- Mean Imputations

In [50]:
# def mean_imputation(df):
#     return df.fillna(df.mean())

def mean_imputation(df, columns):
    for column in columns:
        df[column] = df.groupby('STATE/UT')[column].transform(lambda x: x.fillna(x.mean()))
    return df

- Forward Fill

In [51]:
# def forward_fill(df):
#     return df.fillna(method='ffill')

def forward_fill_imputation(df, columns):
    for column in columns:
        df[column] = df.groupby('STATE/UT')[column].ffill()
    return df

- KNN

In [52]:
# def knn_imputation(df, n_neighbors=5):
#     imputer = KNNImputer(n_neighbors=n_neighbors)
#     df_imputed = imputer.fit_transform(df)
#     return pd.DataFrame(df_imputed, columns=df.columns)

from sklearn.impute import KNNImputer

def knn_imputation(df, columns, n_neighbors=3):
    imputer = KNNImputer(n_neighbors=n_neighbors)
    
    # Impute only the specified columns
    df[columns] = imputer.fit_transform(df[columns])
    return df

- Seasonal Decomposition with Interpolation:

In [53]:
# from statsmodels.tsa.seasonal import seasonal_decompose

# def seasonal_decomposition_imputation(df):
#     # Assuming 'df' is a time-series data (indexed by time)
#     df_imputed = df.copy()
#     for column in df.columns:
#         # Decompose each column
#         decomposition = seasonal_decompose(df[column], model='additive', period=12)  # Assuming monthly data
#         decomposed = decomposition.trend + decomposition.seasonal  # Reconstruct series
#         df_imputed[column] = decomposed.interpolate()  # Interpolate missing values
#     return df_imputed

from statsmodels.tsa.seasonal import seasonal_decompose

def seasonal_interpolation(df, columns, frequency=1):
    for column in columns:
        # Temporarily interpolate missing values for decomposition
        temp_series = df[column].interpolate(method='linear')
        
        # Decompose the interpolated series
        decomposed = seasonal_decompose(temp_series, model='additive', period=frequency)
        
        # Replace NaNs in the original data with the trend + seasonal + residual from decomposed result
        df[column].fillna(decomposed.trend + decomposed.seasonal + decomposed.resid, inplace=True)
        
    return df

- Linear Interpolation

In [54]:
# def linear_interpolation(df):
#     return df.interpolate(method='linear', axis=0)

def linear_interpolation(df, columns):
    for column in columns:
        df[column] = df[column].interpolate(method='linear')
    return df

- Time-Series Imputation with Rolling Mean:

In [55]:
# def rolling_mean_imputation(df, window=3):
#     return df.fillna(df.rolling(window=window, min_periods=1).mean())

def rolling_mean_imputation(df, columns, window=2):
    for column in columns:
        df[column] = df[column].fillna(df[column].rolling(window=window, min_periods=1).mean())
    return df

In [56]:
# # Columns to be imputed
# columns_to_impute = ['Domestic_2018','Domestic_2020','Domestic_2021']

# # Make copies of the DataFrame for each imputation method
# df_mean_imputed = mean_imputation(df_result_removed.copy(), columns_to_impute)
# df_ffill_imputed = forward_fill(df_result_removed.copy(), columns_to_impute)
# df_knn_imputed = knn_imputation(df_result_removed.copy(), columns_to_impute, n_neighbors=3)
# df_seasonal_imputed = seasonal_decomposition_imputation(df_result_removed.copy(), columns_to_impute,frequency=1)
# df_linear_imputed = linear_interpolation(df_result_removed.copy(), columns_to_impute)
# df_rolling_mean_imputed = rolling_mean_imputation(df_result_removed.copy(), columns_to_impute, window=3)

# Columns to be imputed
# columns_to_impute = ['Domestic_2018','Domestic_2020','Domestic_2021']
# df_result_removed.set_index('STATE/UT', inplace=True)
# Make copies of the DataFrame for each imputation method
# df_mean_imputed = mean_imputation(df_result_removed.copy())
# # df_mean_imputed = mean_imputation(df_result_removed.copy(), columns_to_impute)
# df_ffill_imputed = forward_fill(df_result_removed.copy())
# df_knn_imputed = knn_imputation(df_result_removed.copy(), n_neighbors=3)
# df_seasonal_imputed = seasonal_decomposition_imputation(df_result_removed.copy())
# df_linear_imputed = linear_interpolation(df_result_removed.copy() )
# df_rolling_mean_imputed = rolling_mean_imputation(df_result_removed.copy(), window=3)


# # 1. Forward Fill
# result_df_ffill = df_result_removed.fillna(method='ffill')

# # 2. Backward Fill
# result_df_bfill = df_result_removed.fillna(method='bfill')

# # 3. Linear Interpolation
# result_df_interpolate_linear = df_result_removed.interpolate(method='linear')

# # 4. Polynomial Interpolation (degree=2 for example)
# result_df_interpolate_poly = df_result_removed.interpolate(method='polynomial', order=2)

# # 5. Fill with a Specific Value (e.g., 0)
# result_df_fill_zero = df_result_removed.fillna(0)

# # 6. Fill with Mean or Median of each column
# result_df_fill_mean = df_result_removed.apply(lambda col: col.fillna(col.mean()) if col.dtype in ['float64', 'int64'] else col)
# result_df_fill_median = df_result_removed.apply(lambda col: col.fillna(col.median()) if col.dtype in ['float64', 'int64'] else col)

# # Optionally, print or return the results to inspect the filled data
# print("Forward Fill Result:")
# print(result_df_ffill.head())
# print("\nBackward Fill Result:")
# print(result_df_bfill.head())
# print("\nLinear Interpolation Result:")
# print(result_df_interpolate_linear.head())
# print("\nPolynomial Interpolation Result:")
# print(result_df_interpolate_poly.head())
# print("\nFill with Zero Result:")
# print(result_df_fill_zero.head())
# print("\nFill with Mean Result:")
# print(result_df_fill_mean.head())
# print("\nFill with Median Result:")
# print(result_df_fill_median.head())

In [57]:
df_result_removed.head()

                    STATE/UT  DOMESTIC  Year
0  ANDAMAN & NICOBAR ISLANDS  243703.0  2013
1  ANDAMAN & NICOBAR ISLANDS       NaN  2018
2  ANDAMAN & NICOBAR ISLANDS       NaN  2020
3  ANDAMAN & NICOBAR ISLANDS  471919.0  2017
4  ANDAMAN & NICOBAR ISLANDS       NaN  2021

In [58]:
df_result.head()

                    STATE/UT  DOMESTIC  Year
0  ANDAMAN & NICOBAR ISLANDS  243703.0  2013
1  ANDAMAN & NICOBAR ISLANDS  498279.0  2018
2  ANDAMAN & NICOBAR ISLANDS  191207.0  2020
3  ANDAMAN & NICOBAR ISLANDS  471919.0  2017
4  ANDAMAN & NICOBAR ISLANDS  126238.0  2021

In [59]:
columns_to_impute=['DOMESTIC']
df_mean_imputed = mean_imputation(df_result_removed.copy(),columns_to_impute)
# df_ffill_imputed = forward_fill(df_result_removed.copy())
# df_knn_imputed = knn_imputation(df_result_removed.copy(), n_neighbors=3)
# df_seasonal_imputed = seasonal_decomposition_imputation(df_result_removed.copy())
# df_linear_imputed = linear_interpolation(df_result_removed.copy() )
# df_rolling_mean_imputed = rolling_mean_imputation(df_result_removed.copy(), window=3)
# df_mean_imputed = mean_imputation(df_result_removed.copy(), columns_to_impute)
# df_ffill_imputed = forward_fill_imputation(df_result_removed.copy(),columns_to_impute)
df_knn_imputed = knn_imputation(df_result_removed.copy(), columns_to_impute, n_neighbors=3)
df_seasonal_imputed = seasonal_interpolation(df_result_removed.copy(), columns_to_impute, frequency=1)
df_linear_imputed = linear_interpolation(df_result_removed.copy(), columns_to_impute)
df_rolling_mean_imputed = rolling_mean_imputation(df_result_removed.copy(), columns_to_impute, window=3)

- Drop column which could not be filled

In [60]:
# df_ffill_imputed=df_ffill_imputed.dropna()
# df_ffill_imputed

In [61]:
df_result.head()

                    STATE/UT  DOMESTIC  Year
0  ANDAMAN & NICOBAR ISLANDS  243703.0  2013
1  ANDAMAN & NICOBAR ISLANDS  498279.0  2018
2  ANDAMAN & NICOBAR ISLANDS  191207.0  2020
3  ANDAMAN & NICOBAR ISLANDS  471919.0  2017
4  ANDAMAN & NICOBAR ISLANDS  126238.0  2021

In [62]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

def evaluate_imputation_with_threshold(imputed_df, original_df, columns, threshold=5):
    results = {}
    accuracy_counts = {column: 0 for column in columns}  # Track correct imputations for each column
    total_counts = {column: 0 for column in columns}  # Track total imputations for each column

    for column in columns:
        # Filter out rows where the original data has NaN (the rows we removed)
        mask = original_df[column].notna()
        
        # Calculate metrics
        mae = mean_absolute_error(original_df.loc[mask, column], imputed_df.loc[mask, column])
        mse = mean_squared_error(original_df.loc[mask, column], imputed_df.loc[mask, column])
        r2 = r2_score(original_df.loc[mask, column], imputed_df.loc[mask, column])
        
        # Count correct imputations within the threshold
        differences = (imputed_df.loc[mask, column] - original_df.loc[mask, column]).abs()
        correct_count = (differences <= threshold).sum()  # Count values within 5 difference
        total_count = len(differences)  # Total number of imputations for the column
        
        # Calculate percentage accuracy
        accuracy = correct_count / total_count * 100 if total_count > 0 else None

        # Store results
        results[column] = {
            'Mean Absolute Error': mae,
            'Mean Squared Error': mse,
            'R-squared': r2,
            'Accuracy within 5': accuracy
        }
    
    return results


# List of columns with missing data that were imputed
# columns_to_evaluate = ['BUSINESS AND PROFESSIONAL', 'LEISURE HOLIDAY AND RECREATION', 
#                        'MEDICAL', 'INDIAN DIASPORA', 'OTHERS']

columns_to_evaluate=['DOMESTIC']


# Evaluate each imputed DataFrame
mean_imputed_scores_with_threshold = evaluate_imputation_with_threshold(df_mean_imputed, df_result, columns_to_evaluate)
mean_imputed_scores_with_threshold = evaluate_imputation_with_threshold(df_mean_imputed, df_result, columns_to_evaluate)
# ffill_imputed_scores_with_threshold = evaluate_imputation_with_threshold(df_ffill_imputed, df_result, columns_to_evaluate)
knn_imputed_scores_with_threshold = evaluate_imputation_with_threshold(df_knn_imputed, df_result, columns_to_evaluate)
seasonal_imputed_scores_with_threshold = evaluate_imputation_with_threshold(df_seasonal_imputed, df_result, columns_to_evaluate)
linear_imputed_scores_with_threshold = evaluate_imputation_with_threshold(df_linear_imputed, df_result, columns_to_evaluate)
# rolling_mean_imputed_scores_with_threshold = evaluate_imputation_with_threshold(df_rolling_mean_imputed, df_result, columns_to_evaluate)

# Display results
# print("Mean Imputation Scores:\n", mean_imputed_scores)
# print("\nForward Fill Imputation Scores:\n", ffill_imputed_scores)
# print("\nKNN Imputation Scores:\n", knn_imputed_scores)


mean_imputed_scores_with_threshold=pd.DataFrame(mean_imputed_scores_with_threshold)
# ffill_imputed_scores_with_threshold=pd.DataFrame(ffill_imputed_scores_with_threshold)
knn_imputed_scores_with_threshold=pd.DataFrame(knn_imputed_scores_with_threshold)
seasonal_imputed_scores_with_threshold=pd.DataFrame(seasonal_imputed_scores_with_threshold)
linear_imputed_scores_with_threshold=pd.DataFrame(linear_imputed_scores_with_threshold)
# rolling_mean_imputed_scores_with_threshold=pd.DataFrame(rolling_mean_imputed_scores_with_threshold)

In [63]:
df_result.head()

                    STATE/UT  DOMESTIC  Year
0  ANDAMAN & NICOBAR ISLANDS  243703.0  2013
1  ANDAMAN & NICOBAR ISLANDS  498279.0  2018
2  ANDAMAN & NICOBAR ISLANDS  191207.0  2020
3  ANDAMAN & NICOBAR ISLANDS  471919.0  2017
4  ANDAMAN & NICOBAR ISLANDS  126238.0  2021

## 3 -> Result

In [64]:
df_result_removed.head()

                    STATE/UT  DOMESTIC  Year
0  ANDAMAN & NICOBAR ISLANDS  243703.0  2013
1  ANDAMAN & NICOBAR ISLANDS       NaN  2018
2  ANDAMAN & NICOBAR ISLANDS       NaN  2020
3  ANDAMAN & NICOBAR ISLANDS  471919.0  2017
4  ANDAMAN & NICOBAR ISLANDS       NaN  2021

In [65]:
mean_imputed_scores_with_threshold

                         DOMESTIC
Mean Absolute Error  7.077706e+06
Mean Squared Error   6.811933e+14
R-squared            8.799753e-01
Accuracy within 5   6.636086e+01

In [66]:
knn_imputed_scores_with_threshold

                         DOMESTIC
Mean Absolute Error  1.509942e+07
Mean Squared Error   1.221339e+15
R-squared            7.848029e-01
Accuracy within 5   6.636086e+01

In [67]:
seasonal_imputed_scores_with_threshold

                         DOMESTIC
Mean Absolute Error  1.137806e+07
Mean Squared Error   1.258790e+15
R-squared            7.782040e-01
Accuracy within 5   6.636086e+01

In [68]:
linear_imputed_scores_with_threshold

                         DOMESTIC
Mean Absolute Error  1.137806e+07
Mean Squared Error   1.258790e+15
R-squared            7.782040e-01
Accuracy within 5   6.636086e+01

In [69]:
# rolling_mean_imputed_scores_with_threshold

In [70]:
mean_imputed_scores_with_threshold.to_csv("3_mean_imputed_scores_with_threshold.csv")
# ffill_imputed_scores_with_threshold.to_csv("1_ffill_imputed_scores_with_threshold.csv")
knn_imputed_scores_with_threshold.to_csv("3_knn_imputed_scores_with_threshold.csv")
seasonal_imputed_scores_with_threshold.to_csv("3_seasonal_imputed_scores_with_threshold.csv")
linear_imputed_scores_with_threshold.to_csv("3_linear_imputed_scores_with_threshold.csv")
# rolling_mean_imputed_scores_with_threshold.to_csv("1_rolling_mean_imputed_scores_with_threshold.csv")

- Difference between imputation techniques

In [71]:
import pandas as pd

comparison = {
    'Method': [
        'Mean Imputation',
        'Forward Fill',
        'KNN Imputation',
        'Seasonal Decomposition with Interpolation',
        'Linear Interpolation',
        'Time-Series Imputation with Rolling Mean'
    ],
    'Explanation': [
        'Replaces missing values with the average of available data for each state.',
        'Fills missing values by using the last known value for each state.',
        'Estimates missing values based on K most similar data points across states.',
        'Decomposes time series into trend, seasonal, and residual components, then interpolates.',
        'Assumes a linear relationship between known data points to estimate missing values.',
        'Uses a moving average of nearby time points to fill in missing values.'
    ],
    'Pros': [
        'Simple, quick to implement. Works for randomly missing data.',
        'Preserves trends. Simple to understand and implement.',
        'Captures complex patterns and multivariate relationships.',
        'Effective for data with clear seasonality.',
        'Intuitive and works well for smoothly varying data.',
        'Captures local trends and smooths short-term fluctuations.'
    ],
    'Cons': [
        'Distorts distribution. Reduces variability in the dataset.',
        'Can propagate outdated values for long stretches of missing data.',
        'Computationally intensive. Sensitive to choice of K and distance metric.',
        'Assumes consistent seasonal patterns. Complex to implement.',
        'May not capture non-linear trends. Inaccurate for long gaps.',
        'May miss sudden changes or long-term trends. Window size affects results.'
    ],
    'Best For': [
        'States with limited data or random missing values.',
        'States with consistent growth patterns and short gaps.',
        'States with complex patterns and sufficient data from similar states.',
        'States with clear yearly tourism patterns.',
        'States with smooth, consistent trends between known data points.',
        'States with local trends and short-term fluctuations.'
    ],
    'Example': [
        "Goa's missing 2018 data filled with average of available years.",
        "Tamil Nadu's missing 2018 uses 2017 value (345,061,140).",
        "Uses data from states with similar tourism patterns to impute.",
        "Effective for states with clear yearly tourism cycles.",
        "Estimates Uttarakhand's 2018 based on trend between 2017 and 2019.",
        "Might use average of 2017 and 2019 to impute 2018 for a state."
    ]
}

df_comparison = pd.DataFrame(comparison)
df_comparison.set_index('Method', inplace=True)
# print(df_comparison.to_string())

# Difference between imputation techniques

In [72]:
df_comparison

,Explanation,Pros,Cons,Best For,Example
Method,,,,,
Mean Imputation,Replaces missing values with the average of available data for each state.,"Simple, quick to implement. Works for randomly missing data.",Distorts distribution. Reduces variability in the dataset.,States with limited data or random missing values.,Goa's missing 2018 data filled with average of available years.
Forward Fill,Fills missing values by using the last known value for each state.,Preserves trends. Simple to understand and implement.,Can propagate outdated values for long stretches of missing data.,States with consistent growth patterns and short gaps.,"Tamil Nadu's missing 2018 uses 2017 value (345,061,140)."
KNN Imputation,Estimates missing values based on K most similar data points across states.,Captures complex patterns and multivariate relationships.,Computationally intensive. Sensitive to choice of K and distance metric.,States with complex patterns and sufficient data from similar states.,Uses data from states with similar tourism patterns to impute.
Seasonal Decomposition with Interpolation,"Decomposes time series into trend, seasonal, and residual components, then interpolates.",Effective for data with clear seasonality.,Assumes consistent seasonal patterns. Complex to implement.,States with clear yearly tourism patterns.,Effective for states with clear yearly tourism cycles.
Linear Interpolation,Assumes a linear relationship between known data points to estimate missing values.,Intuitive and works well for smoothly varying data.,May not capture non-linear trends. Inaccurate for long gaps.,"States with smooth, consistent trends between known data points.",Estimates Uttarakhand's 2018 based on trend between 2017 and 2019.
Time-Series Imputation with Rolling Mean,Uses a moving average of nearby time points to fill in missing values.,Captures local trends and smooths short-term fluctuations.,May miss sudden changes or long-term trends. Window size affects results.,States with local trends and short-term fluctuations.,Might use average of 2017 and 2019 to impute 2018 for a state.

In [73]:
df_comparison.to_csv("4_df_comparison.csv")