1. Explain the effect of Covid on the tourism data. You may assume 2020 and 2021 tobe the Covid years.
    - In addition, you may do more fine-grained analysis

In [560]:
import pandas as pd
import warnings
pd.set_option('display.max_rows', None)  # Show all rows
pd.set_option('display.max_columns', None)  # Show all columns
pd.set_option('display.width', None)  # Automatically adjust the width
pd.set_option('display.max_colwidth', None)  # Show full content of columns
warnings.filterwarnings('ignore')

In [561]:
df_gender_2013=pd.read_excel('../data-students/TourismData-2013/NATIONALITY-WISE GENDER-WISE DISTRIBUTION OF FTAs IN INDIA.xlsx')
df_gender_2014=pd.read_excel('../data-students/TourismData-2014/NATIONALITY-WISE GENDER-WISE DISTRIBUTION OF FTAs IN INDIA.xlsx')
df_gender_2016=pd.read_excel('../data-students/TourismData-2016/NATIONALITY-WISE GENDER-WISE DISTRIBUTION OF FTAs IN INDIA.xlsx')
df_gender_2017=pd.read_excel('../data-students/TourismData-2017/NATIONALITY-WISE GENDER-WISE DISTRIBUTION OF FTAs IN INDIA.xlsx')
df_gender_2018=pd.read_excel('../data-students/TourismData-2018/NATIONALITY-WISE GENDER-WISE DISTRIBUTION OF FTAs IN INDIA.xlsx')
df_gender_2019=pd.read_excel('../data-students/TourismData-2019/NATIONALITY-WISE GENDER-WISE DISTRIBUTION OF FTAs IN INDIA.xlsx')
df_gender_2020=pd.read_excel('../data-students/TourismData-2020/NATIONALITY-WISE GENDER-WISE DISTRIBUTION OF FTAs IN INDIA.xlsx')
df_gender_2021=pd.read_excel('../data-students/TourismData-2021/NATIONALITY-WISE GENDER-WISE DISTRIBUTION OF FTAs IN INDIA.xlsx')
df_gender_2022=pd.read_excel('../data-students/TourismData-2022/NATIONALITY-WISE GENDER-WISE DISTRIBUTION OF FTAs IN INDIA.xlsx')

In [562]:
df_age_2013=pd.read_excel('../data-students/TourismData-2013/DISTRIBUTION OF NATIONALITY-WISE FTAs IN INDIA ACCORDING TO AGE GROUP.xlsx')
df_age_2014=pd.read_excel('../data-students/TourismData-2014/DISTRIBUTION OF NATIONALITY-WISE FTAs IN INDIA ACCORDING TO AGE GROUP.xlsx')
df_age_2016=pd.read_excel('../data-students/TourismData-2016/DISTRIBUTION OF NATIONALITY-WISE FTAs IN INDIA ACCORDING TO AGE GROUP.xlsx')
df_age_2017=pd.read_excel('../data-students/TourismData-2017/DISTRIBUTION OF NATIONALITY-WISE FTAs IN INDIA ACCORDING TO AGE GROUP.xlsx')
df_age_2018=pd.read_excel('../data-students/TourismData-2018/DISTRIBUTION OF NATIONALITY-WISE FTAs IN INDIA ACCORDING TO AGE GROUP.xlsx')
df_age_2019=pd.read_excel('../data-students/TourismData-2019/DISTRIBUTION OF NATIONALITY-WISE FTAs IN INDIA ACCORDING TO AGE GROUP.xlsx')
df_age_2020=pd.read_excel('../data-students/TourismData-2020/DISTRIBUTION OF NATIONALITY-WISE FTAs IN INDIA ACCORDING TO AGE GROUP.xlsx')
df_age_2021=pd.read_excel('../data-students/TourismData-2021/DISTRIBUTION OF NATIONALITY-WISE FTAs IN INDIA ACCORDING TO AGE GROUP.xlsx')
df_age_2022=pd.read_excel('../data-students/TourismData-2022/DISTRIBUTION OF NATIONALITY-WISE FTAs IN INDIA ACCORDING TO AGE GROUP.xlsx')

In [563]:
df_purpose_2013=pd.read_excel('../data-students/TourismData-2013/DISTRIBUTION OF NATIONALITY-WISE FTAs IN INDIA ACCORDING TO PURPOSE.xlsx')
# df_purpose_2014=pd.read_excel('../data-students/TourismData-2014/DISTRIBUTION OF NATIONALITY-WISE FTAs IN INDIA ACCORDING TO PURPOSE.xlsx')
df_purpose_2016=pd.read_excel('../data-students/TourismData-2016/DISTRIBUTION OF NATIONALITY-WISE FTAs IN INDIA ACCORDING TO PURPOSE.xlsx')
df_purpose_2017=pd.read_excel('../data-students/TourismData-2017/DISTRIBUTION OF NATIONALITY-WISE FTAs IN INDIA ACCORDING TO PURPOSE.xlsx')
df_purpose_2018=pd.read_excel('../data-students/TourismData-2018/DISTRIBUTION OF NATIONALITY-WISE FTAs IN INDIA ACCORDING TO PURPOSE.xlsx')
df_purpose_2019=pd.read_excel('../data-students/TourismData-2019/DISTRIBUTION OF NATIONALITY-WISE FTAs IN INDIA ACCORDING TO PURPOSE.xlsx')
df_purpose_2020=pd.read_excel('../data-students/TourismData-2020/DISTRIBUTION OF NATIONALITY-WISE FTAs IN INDIA ACCORDING TO PURPOSE.xlsx')
df_purpose_2021=pd.read_excel('../data-students/TourismData-2021/DISTRIBUTION OF NATIONALITY-WISE FTAs IN INDIA ACCORDING TO PURPOSE.xlsx')
df_purpose_2022=pd.read_excel('../data-students/TourismData-2022/DISTRIBUTION OF NATIONALITY-WISE FTAs IN INDIA ACCORDING TO PURPOSE.xlsx')

In [564]:
list_gender=[df_gender_2013,df_gender_2014,df_gender_2016,df_gender_2017,df_gender_2018,df_gender_2019,df_gender_2020,df_gender_2021,df_gender_2022]
for df in list_gender:
    df.columns = df.columns.str.upper()
    df['COUNTRY OF NATIONALITY'] = df['COUNTRY OF NATIONALITY'].str.upper()
    df['COUNTRY OF NATIONALITY'] = df['COUNTRY OF NATIONALITY'].str.strip()

list_gender=[df_gender_2013,df_gender_2014,df_gender_2016,df_gender_2017,df_gender_2018,df_gender_2019,df_gender_2020,df_gender_2021,df_gender_2022]

In [565]:
list_age=[df_age_2013,df_age_2014,df_age_2016,df_age_2017,df_age_2018,df_age_2019,df_age_2020,df_age_2021,df_age_2022]
for df in list_age:
    df.columns = df.columns.str.upper()
    df['COUNTRY OF NATIONALITY'] = df['COUNTRY OF NATIONALITY'].str.upper()
    df['COUNTRY OF NATIONALITY'] = df['COUNTRY OF NATIONALITY'].str.strip()

list_age=[df_age_2013,df_age_2014,df_age_2016,df_age_2017,df_age_2018,df_age_2019,df_age_2020,df_age_2021,df_age_2022]

In [566]:
df_purpose_2013['Others'] = df_purpose_2013['Others'] + df_purpose_2013['Student']
df_purpose_2021['Others'] = df_purpose_2021['Others'] + df_purpose_2021['Student']
df_purpose_2022['Others'] = df_purpose_2022['Others'] + df_purpose_2022['Student']

df_purpose_2013 = df_purpose_2013.drop(columns=['Student'])
df_purpose_2021 = df_purpose_2021.drop(columns=['Student'])
df_purpose_2022 = df_purpose_2022.drop(columns=['Student'])

In [567]:
columns = [
    'COUNTRY OF NATIONALITY', 
    'ARRIVALS (IN NUMBERS)', 
    'BUSINESS AND PROFESSIONAL', 
    'LEISURE HOLIDAY AND RECREATION', 
    'MEDICAL', 
    'INDIAN DIASPORA', 
    # 'STUDENT', 
    'OTHERS'
]

# Create an empty DataFrame with the specified columns
df_purpose_2014 = pd.DataFrame(columns=columns)

In [568]:
list_purpose=[df_purpose_2013,df_purpose_2014,df_purpose_2016,df_purpose_2017,df_purpose_2018,df_purpose_2019,df_purpose_2020,df_purpose_2021,df_purpose_2022]
for df in list_purpose:
    df.columns = df.columns.str.upper()
    df['COUNTRY OF NATIONALITY'] = df['COUNTRY OF NATIONALITY'].str.upper()
    df['COUNTRY OF NATIONALITY'] = df['COUNTRY OF NATIONALITY'].str.strip()

list_purpose=[df_purpose_2013,df_purpose_2014,df_purpose_2016,df_purpose_2017,df_purpose_2018,df_purpose_2019,df_purpose_2020,df_purpose_2021,df_purpose_2022]

In [569]:
# df_purpose_2013.to_csv('tp2.csv',index=False)

In [570]:
df_age_2013.head()

,COUNTRY OF NATIONALITY,ARRIVALS (IN NUMBERS),0-14,15-24,25-34,35-44,45-54,55-64,65 AND ABOVE
0,NORTH AMERICA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CANADA,268485.0,15.2,6.9,11.7,17.0,18.2,15.6,15.4
2,UNITED STATES OF AMERICA,1118983.0,19.8,6.7,10.1,17.4,20.5,15.0,10.5
3,CENTRAL & SOUTH AMERICA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ARGENTINA,9731.0,1.6,5.5,26.6,19.3,17.6,17.5,11.9

In [571]:
df_gender_2013.head()

     COUNTRY OF NATIONALITY  ARRIVALS (IN NUMBERS)  MALE  FEMALE
0             NORTH AMERICA                    NaN   NaN     NaN
1                    CANADA               268485.0  53.7    46.3
2  UNITED STATES OF AMERICA              1118983.0  55.9    44.1
3   CENTRAL & SOUTH AMERICA                    NaN   NaN     NaN
4                 ARGENTINA                 9731.0  46.2    53.8

In [572]:
# for data in list_purpose:
for i in range (len(list_gender)):
# Remove any rows with NaN values and reset the index
    list_gender[i] = list_gender[i].dropna().reset_index(drop=True)

    # Convert percentage columns to numeric
    percentage_columns = ['MALE','FEMALE']

    for col in percentage_columns:
        list_gender[i][col] = pd.to_numeric(list_gender[i][col])

    # Calculate actual numbers
    for col in percentage_columns:
        list_gender[i][f'{col}'] = ((list_gender[i]['ARRIVALS (IN NUMBERS)'] * list_gender[i][col]) / 100).astype(int)

    # Display the results
    result = list_gender[i][['COUNTRY OF NATIONALITY', 'ARRIVALS (IN NUMBERS)'] + [f'{col}' for col in percentage_columns]]
    # print(result)

# result

In [573]:
df_age_2013.columns

Index(['COUNTRY OF NATIONALITY', 'ARRIVALS (IN NUMBERS)', '0-14', '15-24',
       '25-34', '35-44', '45-54', '55-64', '65 AND ABOVE'],
      dtype='object')

In [574]:
# for data in list_purpose:
for i in range (len(list_age)):
# Remove any rows with NaN values and reset the index
    list_age[i] = list_age[i].dropna().reset_index(drop=True)

    # Convert percentage columns to numeric
    percentage_columns = ['0-14', '15-24', '25-34', '35-44', '45-54', '55-64', '65 AND ABOVE']

    for col in percentage_columns:
        list_age[i][col] = pd.to_numeric(list_age[i][col])

    # Calculate actual numbers
    for col in percentage_columns:
        list_age[i][f'{col}'] = ((list_age[i]['ARRIVALS (IN NUMBERS)'] * list_age[i][col]) / 100).astype(int)

    # Display the results
    result = list_age[i][['COUNTRY OF NATIONALITY', 'ARRIVALS (IN NUMBERS)'] + [f'{col}' for col in percentage_columns]]
    # print(result)

# result

In [575]:
# for data in list_purpose:
for i in range (len(list_purpose)):
# Remove any rows with NaN values and reset the index
    list_purpose[i] = list_purpose[i].dropna().reset_index(drop=True)

    # Convert percentage columns to numeric
    percentage_columns = ['BUSINESS AND PROFESSIONAL', 'LEISURE HOLIDAY AND RECREATION', 'MEDICAL', 'INDIAN DIASPORA', 'OTHERS']

    for col in percentage_columns:
        list_purpose[i][col] = pd.to_numeric(list_purpose[i][col])

    # Calculate actual numbers
    for col in percentage_columns:
        list_purpose[i][f'{col}'] = ((list_purpose[i]['ARRIVALS (IN NUMBERS)'] * list_purpose[i][col]) / 100).astype(int)

    # Display the results
    result = list_purpose[i][['COUNTRY OF NATIONALITY', 'ARRIVALS (IN NUMBERS)'] + [f'{col}' for col in percentage_columns]]
    # print(result)

# result

In [576]:
list_purpose[0].head()

,COUNTRY OF NATIONALITY,ARRIVALS (IN NUMBERS),BUSINESS AND PROFESSIONAL,LEISURE HOLIDAY AND RECREATION,MEDICAL,INDIAN DIASPORA,OTHERS
0,CANADA,268485.0,14229,151425,268,81350,21210
1,UNITED STATES OF AMERICA,1118983.0,136515,405071,1118,520327,55949
2,ARGENTINA,9731.0,1070,8047,9,38,564
3,BRAZIL,19563.0,4851,12813,58,176,1662
4,MEXICO,13978.0,2418,10343,0,111,1104

In [577]:
result.head()

,COUNTRY OF NATIONALITY,ARRIVALS (IN NUMBERS),BUSINESS AND PROFESSIONAL,LEISURE HOLIDAY AND RECREATION,MEDICAL,INDIAN DIASPORA,OTHERS
0,CANADA,289259.0,4628,58141,578,150993,74918
1,UNITED STATES OF AMERICA,1403399.0,67363,383127,2806,524871,425229
2,OTHERS,1.0,0,0,0,1,0
3,ARGENTINA,4720.0,1132,2973,14,179,420
4,BRAZIL,12301.0,4698,5498,12,270,1820

In [578]:
years=[2013,2014,2016,2017,2018,2019,2020,2021,2022]
df=pd.DataFrame(columns=['COUNTRY OF NATIONALITY'])

In [579]:
for i in range(len(list_gender)):
    # Convert the string data to a pandas DataFrame
    list_gender[i] = list_gender[i][list_gender[i]['COUNTRY OF NATIONALITY'] != 'OTHERS']
    list_gender[i] = list_gender[i].reset_index(drop=True)

    list_age[i] = list_age[i][list_age[i]['COUNTRY OF NATIONALITY'] != 'OTHERS']
    list_age[i] = list_age[i].reset_index(drop=True)

    list_purpose[i] = list_purpose[i][list_purpose[i]['COUNTRY OF NATIONALITY'] != 'OTHERS']
    list_purpose[i] = list_purpose[i].reset_index(drop=True)

    # Add the continent column based on the country names
    continent_mapping = {
        "NORTH AMERICA": ["CANADA", "UNITED STATES OF AMERICA"],
        "CENTRAL & SOUTH AMERICA": ["ARGENTINA", "BRAZIL", "MEXICO"],
        "WESTERN EUROPE": ["AUSTRIA", "BELGIUM", "DENMARK", "FINLAND", "FRANCE", "GERMANY", "GREECE", 
                        "IRELAND", "ITALY", "NETHERLANDS", "NORWAY", "PORTUGAL", "SPAIN", "SWEDEN", 
                        "SWITZERLAND", "UNITED KINGDOM"],
        "EASTERN EUROPE": ["CZECH REPUBLIC", "KAZAKHSTAN", "POLAND", "RUSSIAN FEDERATION", "UKRAINE", "HUNGARY"],
        "AFRICA": ["EGYPT", "KENYA", "MAURITIUS", "NIGERIA", "SOUTH AFRICA", "SUDAN", "TANZANIA"],
        "WEST ASIA": ["BAHRAIN", "IRAQ", "ISRAEL", "OMAN", "SAUDI ARABIA", "TURKEY", "UNITED ARAB EMIRATES", 
                    "YEMEN"],
        "SOUTH ASIA": ["AFGHANISTAN", "IRAN", "MALDIVES", "NEPAL", "PAKISTAN", "BANGLADESH", "SRI LANKA", "BHUTAN"],
        "SOUTH EAST ASIA": ["INDONESIA", "MALAYSIA", "MYANMAR", "PHILIPPINES", "SINGAPORE", "THAILAND", "VIETNAM"],
        "EAST ASIA": ["REPUBLIC OF CHINA", "TAIWAN", "JAPAN", "REPUBLIC OF KOREA"],
        "AUSTRALASIA": ["AUSTRALIA", "NEW ZEALAND"]
    }

    # Function to assign continent based on the country
    def assign_continent(row):
        for continent, countries in continent_mapping.items():
            if row['COUNTRY OF NATIONALITY'] in countries:
                return continent
        return "Unknown"

    # Apply the function to create the new continent column
    # list_gender[i]['CONTINENT'] = list_gender[i].apply(assign_continent, axis=1)
    list_gender[i].dropna(inplace=True)
    list_gender[i] = list_gender[i].reset_index(drop=True)

    # list_age[i]['CONTINENT'] = list_age[i].apply(assign_continent, axis=1)
    list_age[i].dropna(inplace=True)
    list_age[i] = list_age[i].reset_index(drop=True)

    # list_purpose[i]['CONTINENT'] = list_purpose[i].apply(assign_continent, axis=1)
    list_purpose[i].dropna(inplace=True)
    list_purpose[i] = list_purpose[i].reset_index(drop=True)

    list_gender[i]=list_gender[i][['COUNTRY OF NATIONALITY','MALE','FEMALE']]
    list_age[i]=list_age[i][['COUNTRY OF NATIONALITY', '0-14', '15-24', '25-34', '35-44', '45-54', '55-64', '65 AND ABOVE']]
    list_purpose[i]=list_purpose[i][['COUNTRY OF NATIONALITY', 'BUSINESS AND PROFESSIONAL', 'LEISURE HOLIDAY AND RECREATION', 'MEDICAL', 'INDIAN DIASPORA', 'OTHERS',]]

    list_gender[i].columns = ['COUNTRY OF NATIONALITY','MALE '+str(years[i]),'FEMALE '+str(years[i])]
    list_age[i].columns = ['COUNTRY OF NATIONALITY', '0-14 '+str(years[i]), '15-24 '+str(years[i]), '25-34 '+str(years[i]), '35-44 '+str(years[i]), '45-54 '+str(years[i]), '55-64 '+str(years[i]), '65 AND ABOVE '+str(years[i])]
    list_purpose[i].columns = ['COUNTRY OF NATIONALITY', 'BUSINESS AND PROFESSIONAL '+str(years[i]), 'LEISURE HOLIDAY AND RECREATION '+str(years[i]), 'MEDICAL '+str(years[i]), 'INDIAN DIASPORA '+str(years[i]), 'OTHERS '+str(years[i])]

    # df = pd.merge(df,list_gender[i][['COUNTRY OF NATIONALITY','MALE','FEMALE']], on='COUNTRY OF NATIONALITY', how='outer')
    # df = pd.merge(df,list_age[i][['COUNTRY OF NATIONALITY', '0-14', '15-24',
    #    '25-34', '35-44', '45-54', '55-64', '65 AND ABOVE']], on='COUNTRY OF NATIONALITY', how='outer')
    # df = pd.merge(df,list_purpose[i][['COUNTRY OF NATIONALITY', 'BUSINESS AND PROFESSIONAL', 'LEISURE HOLIDAY AND RECREATION',
    #    'MEDICAL', 'INDIAN DIASPORA', 'OTHERS',]], on='COUNTRY OF NATIONALITY', how='outer')
    # # print("i : ", i)
    df = pd.merge(df,list_gender[i], on='COUNTRY OF NATIONALITY', how='outer')
    df = pd.merge(df,list_age[i], on='COUNTRY OF NATIONALITY', how='outer')
    df = pd.merge(df,list_purpose[i], on='COUNTRY OF NATIONALITY', how='outer')
    # print("i : ", i)

df['CONTINENT'] = df.apply(assign_continent, axis=1)

In [580]:
df.head()

,COUNTRY OF NATIONALITY,MALE 2013,FEMALE 2013,0-14 2013,15-24 2013,25-34 2013,35-44 2013,45-54 2013,55-64 2013,65 AND ABOVE 2013,BUSINESS AND PROFESSIONAL 2013,LEISURE HOLIDAY AND RECREATION 2013,MEDICAL 2013,INDIAN DIASPORA 2013,OTHERS 2013,MALE 2014,FEMALE 2014,0-14 2014,15-24 2014,25-34 2014,35-44 2014,45-54 2014,55-64 2014,65 AND ABOVE 2014,BUSINESS AND PROFESSIONAL 2014,LEISURE HOLIDAY AND RECREATION 2014,MEDICAL 2014,INDIAN DIASPORA 2014,OTHERS 2014,MALE 2016,FEMALE 2016,0-14 2016,15-24 2016,25-34 2016,35-44 2016,45-54 2016,55-64 2016,65 AND ABOVE 2016,BUSINESS AND PROFESSIONAL 2016,LEISURE HOLIDAY AND RECREATION 2016,MEDICAL 2016,INDIAN DIASPORA 2016,OTHERS 2016,MALE 2017,FEMALE 2017,0-14 2017,15-24 2017,25-34 2017,35-44 2017,45-54 2017,55-64 2017,65 AND ABOVE 2017,BUSINESS AND PROFESSIONAL 2017,LEISURE HOLIDAY AND RECREATION 2017,MEDICAL 2017,INDIAN DIASPORA 2017,OTHERS 2017,MALE 2018,FEMALE 2018,0-14 2018,15-24 2018,25-34 2018,35-44 2018,45-54 2018,55-64 2018,65 AND ABOVE 2018,BUSINESS AND PROFESSIONAL 2018,LEISURE HOLIDAY AND RECREATION 2018,MEDICAL 2018,INDIAN DIASPORA 2018,OTHERS 2018,MALE 2019,FEMALE 2019,0-14 2019,15-24 2019,25-34 2019,35-44 2019,45-54 2019,55-64 2019,65 AND ABOVE 2019,BUSINESS AND PROFESSIONAL 2019,LEISURE HOLIDAY AND RECREATION 2019,MEDICAL 2019,INDIAN DIASPORA 2019,OTHERS 2019,MALE 2020,FEMALE 2020,0-14 2020,15-24 2020,25-34 2020,35-44 2020,45-54 2020,55-64 2020,65 AND ABOVE 2020,BUSINESS AND PROFESSIONAL 2020,LEISURE HOLIDAY AND RECREATION 2020,MEDICAL 2020,INDIAN DIASPORA 2020,OTHERS 2020,MALE 2021,FEMALE 2021,0-14 2021,15-24 2021,25-34 2021,35-44 2021,45-54 2021,55-64 2021,65 AND ABOVE 2021,BUSINESS AND PROFESSIONAL 2021,LEISURE HOLIDAY AND RECREATION 2021,MEDICAL 2021,INDIAN DIASPORA 2021,OTHERS 2021,MALE 2022,FEMALE 2022,0-14 2022,15-24 2022,25-34 2022,35-44 2022,45-54 2022,55-64 2022,65 AND ABOVE 2022,BUSINESS AND PROFESSIONAL 2022,LEISURE HOLIDAY AND RECREATION 2022,MEDICAL 2022,INDIAN DIASPORA 2022,OTHERS 2022,CONTINENT
0,AFGHANISTAN,85405.0,30163.0,12250.0,25540.0,33515.0,19184.0,12828.0,8320.0,3929.0,NaN,NaN,NaN,NaN,NaN,84202.0,30203.0,12584.0,24482.0,32720.0,19220.0,13042.0,8580.0,3775.0,NaN,NaN,NaN,NaN,NaN,87440,35889,14676,24419,34779,20226,14182,10113,4809,3329,48444,52501,11963,7091,103229,45946,18199,28194,42515,24763,17155,12232,6116,4185.0,20689.0,16170.0,3091.0,3376.0,106040,47864,18776,28626,44786,25394,17391,12312,6617,12004,74951,46787,10465,9696,84029,40090,14894,22838,36615,20355,13901,9929,5585,4185.0,20689.0,16170.0,3091.0,3376.0,31361,16170,6040,8703,13554,7752,5421,3995,2140,4185,20689,16170,3091,3376,10643.0,25807.0,3426.0,6889.0,11226.0,7217.0,3754.0,2624.0,1312.0,7982.0,145.0,19537.0,4884.0,3863.0,286.0,1330.0,126.0,253.0,645.0,318.0,122.0,85.0,64.0,12.0,268.0,9.0,72.0,1253.0,SOUTH ASIA
1,ARGENTINA,4495.0,5235.0,155.0,535.0,2588.0,1878.0,1712.0,1702.0,1157.0,1070.0,8047.0,9.0,38.0,564.0,4413.0,4937.0,205.0,551.0,2665.0,2019.0,1580.0,1477.0,850.0,NaN,NaN,NaN,NaN,NaN,5624,6683,209,713,3384,2535,2240,2018,1206,1319,10637,1,237,112,6426,8449,208,862,4269,2989,2439,2499,1606,1886.0,10095.0,10.0,160.0,691.0,6962,9382,294,866,4641,3448,2647,2631,1814,1601,14350,32,261,98,5754,7089,231,629,3326,2889,2144,2273,1361,1886.0,10095.0,10.0,160.0,691.0,1670,2623,94,304,991,845,790,798,468,317,3851,0,64,60,205.0,324.0,51.0,78.0,140.0,131.0,74.0,36.0,15.0,334.0,43.0,7.0,112.0,32.0,2421.0,2298.0,160.0,221.0,1231.0,1156.0,859.0,670.0,420.0,1132.0,2973.0,14.0,179.0,420.0,CENTRAL & SOUTH AMERICA
2,AUSTRALIA,138822.0,100939.0,41239.0,17502.0,46513.0,50350.0,39800.0,29490.0,14865.0,NaN,NaN,NaN,NaN,NaN,152072.0,111028.0,47621.0,19206.0,51830.0,55251.0,42096.0,30256.0,16838.0,NaN,NaN,NaN,NaN,NaN,167953,125671,56082,19966,54027,63423,46099,33473,20260,30419,148456,146,107877,6724,184170,140072,64848,21724,56094,72630,50257,35990,22697,4945.0,35917.0,86.0,35831.0,9977.0,195764,150721,70336,21828,53012,80038,54051,39499,27718,47815,168045,3118,125081,2425,206022,161218,77120,22034,51046,89974,57289,40763,29012,4945.0,35917.0,86.0,35831.0,9977.0,48905,37852,16050,5552,14054,20821,12146,10063,7547,4945,35917,86,35831,9977,14087.0,19776.0,9651.0,1422.0,4707.0,11005.0,4639.0,1964.0,474.0,948.0,3013.0,101.0,22147.0,7653.0,168473.0,208424.0,106662.0,22613.0,36936.0,114200.0,58042.0,26005.0,12437.0,12814.0,100631.0,376.0,166212.0,96862.0,AUSTRALASIA
3,AUSTRIA,19653.0,14706.0,1649.0,2611.0,5497.0,6700.0,8830.0,5944.0,3126.0,8005.0,19275.0,0.0,5497.0,1580.0,19259.0,14410.0,1649.0,2693.0,5488.0,6498.0,8619.0,5858.0,2929.0,NaN,NaN,NaN,NaN,NaN,19257,13831,1687,2713,5194,5757,8206,6088,3408,8613,19668,13,4298,496,18494,13337,1623,2864,5124,5538,7703,6048,2928,7323.0,15493.0,29.0,5441.0,4044.0,19322,13877,1660,2855,5278,5411,7669,6573,3751,8565,19056,298,5013,265,18461,13870,1616,2586,5043,5205,7307,6725,3815,7323.0,15493.0,29.0,5441.0,4044.0,5094,4087,275,642,1496,1395,2001,2157,1212,1726,5114,18,1671,661,1698.0,2712.0,357.0,366.0,705.0,674.0,1071.0,917.0,322.0,1124.0,167.0,30.0,2121.0,961.0,7552.0,10822.0,1451.0,1617.0,3160.0,3215.0,3895.0,3491.0,1543.0,4520.0,5383.0,36.0,4354.0,4079.0,WESTERN EUROPE
4,BAHRAIN,8604.0,4531.0,1300.0,1891.0,2600.0,2036.0,2377.0,1996.0,932.0,NaN,NaN,NaN,NaN,NaN,9234.0,4778.0,1317.0,2101.0,28726.0,2087.0,2564.0,2129.0,938.0,NaN,NaN,NaN,NaN,NaN,11663,5718,1651,2068,3789,2798,3545,2398,1112,830,13566,921,1491,573,3053332,1463431,1391,1760,3872,2531,3621,2464,1106,198.0,1776.0,380.0,658.0,418.0,9253,4661,1210,1419,3144,2115,2713,2184,1127,1127,8390,1461,2435,500,10740,4387,953,1240,3963,2390,3207,2193,1179,198.0,1776.0,380.0,658.0,418.0,2488,940,157,332,881,617,730,483,222,198,1776,380,658,418,709.0,1017.0,227.0,141.0,291.0,229.0,253.0,354.0,227.0,51.0,198.0,369.0,727.0,381.0,2908.0,7050.0,756.0,727.0,2569.0,1961.0,1583.0,1463.0,896.0,229.0,3057.0,497.0,1324.0,4850.0,WEST ASIA

In [581]:
df_combined=df.copy()

In [582]:
import pandas as pd

# Load the dataset
# data = pd.read_csv('9temp1.csv')
data=df_combined.copy()

# Extract gender data
gender_columns = ['COUNTRY OF NATIONALITY'] + [col for col in data.columns if col.startswith('MALE') or col.startswith('FEMALE')]
gender_df = data[gender_columns]

# Extract age group data
age_columns = ['COUNTRY OF NATIONALITY'] + [col for col in data.columns if any(age in col for age in ['0-14', '15-24', '25-34', '35-44', '45-54', '55-64', '65 AND ABOVE'])]
age_df = data[age_columns]

# Extract purpose data
purpose_columns = ['COUNTRY OF NATIONALITY'] + [col for col in data.columns if any(purpose in col for purpose in ['BUSINESS AND PROFESSIONAL', 'LEISURE HOLIDAY AND RECREATION', 'MEDICAL', 'INDIAN DIASPORA', 'OTHERS'])]
purpose_df = data[purpose_columns]

# Display the first few rows of each DataFrame
# print("Gender Data:")
# print(gender_df.head())
# print("\nAge Group Data:")
# print(age_df.head())
# print("\nPurpose Data:")
# print(purpose_df.head())

In [583]:
# df.to_csv("9temp1.csv",index=False)

In [584]:
# import pandas as pd
import numpy as np

# Load the dataset
# df = pd.read_csv('9temp1.csv')

df=gender_df

# Function to compare years 2020 and 2021 against other years
def compare_years(row, column_prefix):
    other_years = [2013, 2014, 2016, 2017, 2018, 2019, 2022]
    other_years_mean = np.mean([row[f'{column_prefix} {year}'] for year in other_years]).astype(int)
    diff_2020 = row[f'{column_prefix} 2020'] - other_years_mean
    diff_2021 = row[f'{column_prefix} 2021'] - other_years_mean
    return pd.Series({f'{column_prefix} 2020 Diff': diff_2020, f'{column_prefix} 2021 Diff': diff_2021})

# Apply the comparison function
male_comparison = df.apply(lambda row: compare_years(row, 'MALE'), axis=1)
female_comparison = df.apply(lambda row: compare_years(row, 'FEMALE'), axis=1)

# Combine the results
comparison_results = pd.concat([df['COUNTRY OF NATIONALITY'], male_comparison, female_comparison], axis=1)

# Calculate total differences for 2020 and 2021
comparison_results['Total Diff 2020'] = comparison_results['MALE 2020 Diff'].abs() + comparison_results['FEMALE 2020 Diff'].abs()
comparison_results['Total Diff 2021'] = comparison_results['MALE 2021 Diff'].abs() + comparison_results['FEMALE 2021 Diff'].abs()

# Get top 5 countries with largest total differences for 2020 and 2021
largest_diff_2020 = comparison_results.nlargest(5, 'Total Diff 2020')
largest_diff_2021 = comparison_results.nlargest(5, 'Total Diff 2021')

# Display the first few rows of the results
print("Comparison Results:")
print(comparison_results.head())

# Display the average difference across all countries
# average_diff = comparison_results.mean()
average_diff = comparison_results.drop('COUNTRY OF NATIONALITY', axis=1).mean()
# print("\nAverage difference across all countries:")
# print(average_diff)

# # Display the top 5 countries with the largest differences for 2020 and 2021
# print("\nTop 5 countries with largest differences in 2020:")
# for index, row in largest_diff_2020.iterrows():
#     print(f"{row['COUNTRY OF NATIONALITY']}:")
#     print(f"  Male Difference: {row['MALE 2020 Diff']:.2f}")
#     print(f"  Female Difference: {row['FEMALE 2020 Diff']:.2f}")
#     print(f"  Total Difference: {row['Total Diff 2020']:.2f}")
#     print()

# print("\nTop 5 countries with largest differences in 2021:")
# for index, row in largest_diff_2021.iterrows():
#     print(f"{row['COUNTRY OF NATIONALITY']}:")
#     print(f"  Male Difference: {row['MALE 2021 Diff']:.2f}")
#     print(f"  Female Difference: {row['FEMALE 2021 Diff']:.2f}")
#     print(f"  Total Difference: {row['Total Diff 2021']:.2f}")
#     print()

average_diff_df = pd.DataFrame(average_diff, columns=['Average Difference'])
average_diff_df['Metric'] = average_diff_df.index
average_diff_df = average_diff_df[['Metric', 'Average Difference']]

# Find top 5 countries with largest differences
largest_diff_2020 = comparison_results.nlargest(5, 'Total Diff 2020')
largest_diff_2021 = comparison_results.nlargest(5, 'Total Diff 2021')

# Create DataFrames for top 5 countries
top_5_2020_df = pd.DataFrame({
    'Country': largest_diff_2020['COUNTRY OF NATIONALITY'],
    'Male Difference 2020': largest_diff_2020['MALE 2020 Diff'],
    'Female Difference 2020': largest_diff_2020['FEMALE 2020 Diff'],
    'Total Difference 2020': largest_diff_2020['Total Diff 2020']
})

top_5_2021_df = pd.DataFrame({
    'Country': largest_diff_2021['COUNTRY OF NATIONALITY'],
    'Male Difference 2021': largest_diff_2021['MALE 2021 Diff'],
    'Female Difference 2021': largest_diff_2021['FEMALE 2021 Diff'],
    'Total Difference 2021': largest_diff_2021['Total Diff 2021']
})

# Display results
print("Average difference across all countries:")
print(average_diff_df)

print("\nTop 5 countries with largest differences in 2020:")
print(top_5_2020_df)

print("\nTop 5 countries with largest differences in 2021:")
print(top_5_2021_df)

Comparison Results:
  COUNTRY OF NATIONALITY  MALE 2020 Diff  MALE 2021 Diff  FEMALE 2020 Diff  \
0            AFGHANISTAN        -47300.0        -68018.0          -16899.0
1              ARGENTINA         -3486.0         -4951.0           -3673.0
2              AUSTRALIA       -124420.0       -159238.0         -104729.0
3                AUSTRIA        -12334.0        -15730.0           -9463.0
4                BAHRAIN       -441188.0       -442967.0         -212568.0

   FEMALE 2021 Diff  Total Diff 2020  Total Diff 2021
0           -7262.0          64199.0          75280.0
1           -5972.0           7159.0          10923.0
2         -122805.0         229149.0         282043.0
3          -10838.0          21797.0          26568.0
4         -212491.0         653756.0         655458.0
Average difference across all countries:
                            Metric  Average Difference
MALE 2020 Diff      MALE 2020 Diff       -60940.968254
MALE 2021 Diff      MALE 2021 Diff       -77188.064516
FEMALE 2020 Diff  FEMALE 2020 Diff       -43457.809524
FEMALE 2021 Diff  FEMALE 2021 Diff       -47941.951613
Total Diff 2020    Total Diff 2020       104777.539683
Total Diff 2021    Total Diff 2021       125151.048387

Top 5 countries with largest differences in 2020:
                     Country  Male Difference 2020  Female Difference 2020  \
5                 BANGLADESH             -731464.0               -394056.0
60  UNITED STATES OF AMERICA             -504619.0               -441084.0
4                    BAHRAIN             -441188.0               -212568.0
59            UNITED KINGDOM             -331976.0               -276969.0
2                  AUSTRALIA             -124420.0               -104729.0

    Total Difference 2020
5               1125520.0
60               945703.0
4                653756.0
59               608945.0
2                229149.0

Top 5 countries with largest differences in 2021:
                     Country  Male Difference 2021  Female Difference 2021  \
5                 BANGLADESH            -1033063.0               -401307.0
60  UNITED STATES OF AMERICA             -524146.0               -385789.0
59            UNITED KINGDOM             -418069.0               -318607.0
4                    BAHRAIN             -442967.0               -212491.0
2                  AUSTRALIA             -159238.0               -122805.0

    Total Difference 2021
5               1434370.0
60               909935.0
59               736676.0
4                655458.0
2                282043.0

In [585]:
# comparison_results.to_csv("1_Gender_Yearwise_Avg_Difference.csv",index=False)
# average_diff_df.to_csv("1_Gender_Average_difference_across_all_countries.csv",index=False)
# top_5_2020_df.to_csv("1_Gender_Top_5_countries_with_largest_differences_in_2020.csv",index=False)
# top_5_2021_df.to_csv("1_Gender_Top_5_countries_with_largest_differences_in_2021.csv",index=False)

In [586]:
# print("\nAverage difference across all countries:")
# # print(average_diff)
# average_diff

In [587]:
import pandas as pd
import numpy as np

df=gender_df

# Function to calculate percentage changes for MALE and FEMALE
def calculate_percentage_change(df, year):
    other_years = [2013, 2014, 2016, 2017, 2018, 2019, 2022]
    for gender in ['MALE', 'FEMALE']:
        avg_other_years = df[[f'{gender} {y}' for y in other_years]].mean(axis=1)
        df[f'{gender} {year} % Change'] = ((df[f'{gender} {year}'] - avg_other_years) / avg_other_years) * 100
    return df

# Calculate percentage changes for 2020 and 2021
df_2020 = calculate_percentage_change(df, 2020)
df_2021 = calculate_percentage_change(df, 2021)

# Calculate average percentage change across all countries
avg_change_2020 = df_2020[['MALE 2020 % Change', 'FEMALE 2020 % Change']].mean().mean()
avg_change_2021 = df_2021[['MALE 2021 % Change', 'FEMALE 2021 % Change']].mean().mean()

# print(f"Average percentage change across all countries in 2020: {avg_change_2020:.2f}%")
# print(f"Average percentage change across all countries in 2021: {avg_change_2021:.2f}%")

# Find countries with largest percentage changes
largest_change_2020 = df_2020.loc[df_2020[['MALE 2020 % Change', 'FEMALE 2020 % Change']].abs().sum(axis=1).idxmax()]
largest_change_2021 = df_2021.loc[df_2021[['MALE 2021 % Change', 'FEMALE 2021 % Change']].abs().sum(axis=1).idxmax()]

# print("\nCountry with largest percentage change in 2020:")
# print(f"Country: {largest_change_2020['COUNTRY OF NATIONALITY']}")
# print(f"Male change: {largest_change_2020['MALE 2020 % Change']:.2f}%")
# print(f"Female change: {largest_change_2020['FEMALE 2020 % Change']:.2f}%")

# print("\nCountry with largest percentage change in 2021:")
# print(f"Country: {largest_change_2021['COUNTRY OF NATIONALITY']}")
# print(f"Male change: {largest_change_2021['MALE 2021 % Change']:.2f}%")
# print(f"Female change: {largest_change_2021['FEMALE 2021 % Change']:.2f}%")

result_df = pd.DataFrame({
    'Metric': ['Average % Change 2020', 'Average % Change 2021', 
               'Largest Change Country 2020', 'Male % Change 2020', 'Female % Change 2020',
               'Largest Change Country 2021', 'Male % Change 2021', 'Female % Change 2021'],
    'Value': [avg_change_2020, avg_change_2021,
              largest_change_2020['COUNTRY OF NATIONALITY'], 
              largest_change_2020['MALE 2020 % Change'], 
              largest_change_2020['FEMALE 2020 % Change'],
              largest_change_2021['COUNTRY OF NATIONALITY'], 
              largest_change_2021['MALE 2021 % Change'], 
              largest_change_2021['FEMALE 2021 % Change']]
})

# Format the percentage values
result_df['Value'] = result_df['Value'].apply(lambda x: f"{x:.2f}%" if isinstance(x, (int, float)) else x)

# Display the resulting DataFrame
# print(result_df)
# result_df

# Display resulting DataFrame with percentage changes
# print("\nPercentage changes for all countries:")
# print(df[['COUNTRY OF NATIONALITY', 'MALE 2020 % Change', 'MALE 2021 % Change', 'FEMALE 2020 % Change', 'FEMALE 2021 % Change']])

In [588]:
df_2020

,COUNTRY OF NATIONALITY,MALE 2013,FEMALE 2013,MALE 2014,FEMALE 2014,MALE 2016,FEMALE 2016,MALE 2017,FEMALE 2017,MALE 2018,FEMALE 2018,MALE 2019,FEMALE 2019,MALE 2020,FEMALE 2020,MALE 2021,FEMALE 2021,MALE 2022,FEMALE 2022,MALE 2020 % Change,FEMALE 2020 % Change,MALE 2021 % Change,FEMALE 2021 % Change
0,AFGHANISTAN,85405.0,30163.0,84202.0,30203.0,87440,35889,103229,45946,106040,47864,84029,40090,31361,16170,10643.0,25807.0,286.0,1330.0,-60.131740,-51.102663,-86.469886,-21.960818
1,ARGENTINA,4495.0,5235.0,4413.0,4937.0,5624,6683,6426,8449,6962,9382,5754,7089,1670,2623,205.0,324.0,2421.0,2298.0,-67.613243,-58.339573,-96.024380,-94.853992
2,AUSTRALIA,138822.0,100939.0,152072.0,111028.0,167953,125671,184170,140072,195764,150721,206022,161218,48905,37852,14087.0,19776.0,168473.0,208424.0,-71.784244,-73.452443,-91.872501,-86.130073
3,AUSTRIA,19653.0,14706.0,19259.0,14410.0,19257,13831,18494,13337,19322,13877,18461,13870,5094,4087,1698.0,2712.0,7552.0,10822.0,-70.771652,-69.838592,-90.257217,-79.985873
4,BAHRAIN,8604.0,4531.0,9234.0,4778.0,11663,5718,3053332,1463431,9253,4661,10740,4387,2488,940,709.0,1017.0,2908.0,7050.0,-99.439231,-99.559735,-99.840199,-99.523671
5,BANGLADESH,688070.0,254491.0,827731.0,306147.0,992514,387894,1520372,636184,1572902,683772,1791520,783629,382184,166978,80585.0,159727.0,402430.0,875126.0,-65.681809,-70.237492,-92.763874,-71.529926
6,BELGIUM,22539.0,14901.0,22340.0,14343.0,23345,14614,25350,16551,26275,17810,23871,15391,6655,4366,2783.0,4598.0,9523.0,14648.0,-69.600569,-71.769292,-87.287511,-70.269172
7,BHUTAN,9584.0,6416.0,11125.0,7958.0,12333,8606,14326,10940,14982,11487,15582,12595,4091,3809,2779.0,3301.0,10427.0,10344.0,-67.590172,-60.988207,-77.984133,-66.191145
8,BRAZIL,10505.0,9057.0,11191.0,9418.0,11517,9771,12935,11517,13741,12837,13702,11719,4034,4057,721.0,1333.0,5560.0,6740.0,-64.323887,-60.034619,-93.623580,-86.868658
9,CANADA,144176.0,124308.0,151342.0,129963.0,169405,147833,177782,157656,186402,164637,186837,165021,65402,57465,36920.0,43516.0,137398.0,151860.0,-60.305443,-61.369106,-77.592076,-70.746333
10,CZECH REPUBLIC,6302.0,3575.0,7322.0,4118.0,8173,4758,7099,4752,7980,5432,7761,5528,2036,1570,314.0,668.0,2338.0,3948.0,-69.660458,-65.774968,-95.320915,-85.438012
11,DENMARK,15288.0,11486.0,14251.0,9821.0,14508,10208,15735,11025,16014,12180,15338,11153,4380,3871,704.0,1320.0,4624.0,7706.0,-67.981787,-63.172916,-94.853694,-87.442069
12,EGYPT,11784.0,4930.0,12823.0,6344.0,14041,6822,14123,6404,13869,6616,14818,6719,3387,1498,351.0,1387.0,2403.0,7209.0,-71.728217,-76.720540,-97.070152,-78.445520
13,FINLAND,10320.0,8444.0,9862.0,8266.0,10012,8358,10925,9458,11192,10046,10362,8582,2451,1858,580.0,748.0,3556.0,5224.0,-74.094430,-77.721059,-93.869755,-91.030868
14,FRANCE,133140.0,112960.0,125815.0,105038.0,130334,108372,134794,114825,140246,121406,132272,114965,37292,36950,12301.0,18072.0,51360.0,68921.0,-69.215094,-65.351038,-89.845406,-83.053422
15,GERMANY,144180.0,94925.0,149733.0,98580.0,157695,108232,160281,109098,161437,112649,154744,110228,41125,31432,12732.0,21039.0,55014.0,86410.0,-70.717151,-69.446288,-90.934244,-79.548882
16,GREECE,5436.0,2863.0,5434.0,2652.0,5808,3239,6099,4186,6233,4422,6190,4126,1802,1051,226.0,917.0,1860.0,3127.0,-65.963303,-70.111720,-95.731247,-73.922405
17,HUNGARY,NaN,NaN,NaN,NaN,4211,3749,4657,4583,4692,4508,5001,4786,1425,1538,272.0,380.0,1977.0,2320.0,-65.308209,-61.445904,-93.378128,-90.474281
18,INDONESIA,19006.0,13208.0,22461.0,12471.0,21366,13717,25372,18600,24839,22027,27095,23081,6756,5038,675.0,1429.0,7036.0,6924.0,-67.866825,-67.948159,-96.789536,-90.908678
19,IRAN,16641.0,14580.0,16340.0,14433.0,20218,18965,21405,21235,18830,16765,18408,14879,3915,3174,1082.0,1286.0,6113.0,6950.0,-76.766564,-79.390949,-93.578907,-91.649893
20,IRAQ,34259.0,14061.0,30288.0,12371.0,33807,14419,39473,16756,47649,20812,42715,19191,12424,5398,5123.0,11089.0,11173.0,25103.0,-63.667051,-69.207826,-85.018215,-36.744273
21,IRELAND,15793.0,13184.0,17739.0,15233.0,19568,16871,20478,17514,21169,18106,22403,18779,5322,4385,3366.0,4233.0,13900.0,17058.0,-71.572682,-73.707653,-82.020603,-74.619042
22,ISRAEL,30820.0,18492.0,31434.0,18699.0,36249,22981,35808,22322,40150,27215,42931,30205,9876,7567,1081.0,3519.0,14348.0,22069.0,-70.168292,-67.299655,-96.734703,-84.792849
23,ITALY,57975.0,33613.0,57082.0,31008.0,61353,34063,69611,42303,77300,49630,77914,50657,18265,12920,4425.0,9233.0,22152.0,40073.0,-69.801860,-67.854642,-92.683998,-77.028012
24,JAPAN,156295.0,63220.0,153487.0,53927.0,153711,55135,162667,59859,172924,63311,172965,65937,32914,15276,4530.0,10827.0,18873.0,45322.0,-76.749129,-73.708112,-96.799950,-81.365392
25,KAZAKHSTAN,6644.0,10091.0,5729.0,8776.0,4944,8034,6045,9375,5298,8015,6047,9661,2425,3492,1338.0,1039.0,5527.0,4018.0,-57.809316,-57.833362,-76.721181,-87.453855
26,KENYA,25802.0,20355.0,25699.0,20439.0,25123,19659,25536,20474,26864,21980,26167,22471,6909,5869,6044.0,7328.0,16763.0,18979.0,-71.874455,-71.540694,-75.395745,-64.465873
27,MALAYSIA,139397.0,122628.0,146842.0,126098.0,158831,143129,167827,154298,161181,157990,171304,163274,37709,32187,2492.0,4135.0,61076.0,65115.0,-73.773073,-75.839006,-98.266793,-96.896085
28,MALDIVES,33892.0,31159.0,36038.0,32868.0,35347,32109,34464,31685,32352,29984,40708,37878,7820,6706,13046.0,13524.0,35351.0,36355.0,-77.940939,-79.769693,-63.199168,-59.201510
29,MAURITIUS,12659.0,15285.0,14477.0,18055.0,15391,18888,16892,20813,18606,23489,20738,26075,5069,6340,1044.0,1073.0,12940.0,11802.0,-68.234515,-66.980886,-93.457651,-94.411749
30,MEXICO,7100.0,6877.0,7291.0,6757.0,7970,7718,8839,9274,9516,10392,10113,10652,2191,2388,370.0,488.0,4546.0,4368.0,-72.303386,-70.170242,-95.322799,-93.904136
31,MYANMAR,24747.0,29883.0,24737.0,30603.0,23889,27486,25571,31380,32203,43569,36734,50107,14165,21125,1199.0,1813.0,8268.0,7694.0,-43.709587,-33.003960,-95.235284,-94.250233
32,NEPAL,86089.0,40326.0,105364.0,49355.0,108418,52678,110548,53469,115773,58322,107282,56757,26248,14573,19598.0,32945.0,51411.0,86791.0,-73.172722,-74.349632,-79.969484,-42.012532
33,NETHERLANDS,41596.0,26150.0,40966.0,25214.0,43750,28089,46527,30124,48887,32727,48348,31964,14518,11739,7158.0,8472.0,22942.0,32076.0,-65.317252,-60.176695,-82.899910,-71.259644
34,NEW ZEALAND,23918.0,18945.0,24979.0,20191.0,28106,22810,30732,25864,33122,27541,35725,29825,9142,7510,1789.0,2707.0,24683.0,30290.0,-68.204109,-70.039780,-93.777855,-89.200757
35,NIGERIA,17129.0,11184.0,14793.0,9498.0,10993,6970,7856,4794,7433,4633,8770,5262,2368,1450,2112.0,3403.0,3907.0,6164.0,-76.614325,-79.074322,-79.142506,-50.889599
36,NORWAY,10868.0,8821.0,11063.0,8693.0,11020,9127,11338,9543,12084,10546,11737,10160,3171,3052,1160.0,1629.0,5971.0,7477.0,-70.036852,-66.809079,-89.039025,-82.284400
37,OMAN,56116.0,32395.0,64941.0,38798.0,66382,39322,66903,40313,58618,36541,46453,28110,9645,5784,3408.0,6765.0,21403.0,35070.0,-82.270966,-83.840287,-93.735557,-81.099505
38,PAKISTAN,54003.0,42430.0,87946.0,36977.0,80424,24295,24169,20096,22870,18788,26571,12446,10262,3969,799.0,7363.0,6438.0,10198.0,-76.247020,-83.185257,-98.150591,-68.806512
39,PHILIPPINES,23003.0,20236.0,26830.0,21081.0,28190,24501,27521,26441,24169,29303,25376,31016,9586,6465,2091.0,4835.0,14303.0,14075.0,-60.386559,-72.844773,-91.359096,-79.691335
40,POLAND,13030.0,12174.0,13779.0,12719.0,12981,12724,14394,14279,15840,15714,16708,16978,5776,6384,807.0,1653.0,8886.0,9138.0,-57.715075,-52.320594,-94.092117,-87.654440
41,PORTUGAL,23790.0,12365.0,29401.0,15214.0,35494,18944,43344,23033,47823,26668,47760,26982,20578,10426,9843.0,22220.0,24958.0,44563.0,-42.967890,-56.498519,-72.720038,-7.289189
42,REPUBLIC OF CHINA,114766.0,66253.0,131633.0,74688.0,158075,93237,157488,89746,177795,103972,214866,124575,21930,17655,584.0,2917.0,4551.0,7210.0,-83.995605,-77.918672,-99.573800,-96.351672
43,REPUBLIC OF KOREA,69038.0,37831.0,67769.0,35223.0,71421,39654,86426,55956,94386,56149,96541,52903,19859,12442,3692.0,9637.0,15074.0,34348.0,-72.233774,-72.090981,-94.837962,-78.382960
44,RUSSIAN FEDERATION,115488.0,154343.0,76381.0,96037.0,99298,128450,119928,158975,114366,147942,108569,142749,44125,58040,6815.0,10751.0,48270.0,49640.0,-54.730324,-53.733818,-93.008208,-91.429915
45,SAUDI ARABIA,44278.0,11208.0,49663.0,14171.0,46388,15216,41321,11654,37323,10222,38529,9996,7931,2491,318.0,769.0,3091.0,15421.0,-78.695897,-80.159976,-99.145794,-93.875159
46,SINGAPORE,89534.0,61196.0,89972.0,62265.0,94939,68748,100587,75264,105191,78389,108350,81738,19795,13951,6100.0,7306.0,58506.0,74161.0,-78.586077,-80.537148,-93.401115,-89.807498
47,SOUTH AFRICA,29585.0,26660.0,27882.0,24039.0,28476,24159,29785,27274,30595,28017,29725,27548,6782,5778,1264.0,2555.0,11507.0,14352.0,-74.687958,-76.491581,-95.282450,-89.604706
48,SPAIN,35956.0,30506.0,36000.0,29693.0,40461,35880,42919,38522,44033,40322,43494,39827,8945,7389,2234.0,4747.0,16854.0,22803.0,-75.891066,-78.226754,-93.978831,-86.011964
49,SRI LANKA,172214.0,129386.0,167128.0,132384.0,167743,129674,165456,138133,185684,167999,174032,156828,39128,29517,9278.0,16710.0,70081.0,113377.0,-75.153174,-78.650232,-94.108341,-87.913588
50,SUDAN,9778.0,2117.0,11305.0,2398.0,13127,3965,15865,6896,18327,16384,19789,14213,5266,3847,2610.0,4170.0,8999.0,15930.0,-62.072230,-56.498070,-81.201770,-52.845581
51,SWEDEN,24676.0,20271.0,23700.0,18925.0,24378,19310,25447,20403,25755,20987,23613,18704,6293,5698,2209.0,3369.0,9194.0,13177.0,-71.899619,-69.732199,-90.136065,-82.103857
52,SWITZERLAND,24946.0,20826.0,25059.0,21091.0,26034,22088,26688,22918,26042,23279,25145,21680,6563,6111,1729.0,2468.0,11339.0,13915.0,-72.199597,-70.659890,-92.676078,-88.150648
53,TAIWAN,18036.0,17820.0,19701.0,16647.0,21756,20570,23944,23098,25371,24085,24868,23326,4257,4711,NaN,NaN,NaN,NaN,-80.892606,-77.485543,NaN,NaN
54,TANZANIA,14061.0,12222.0,13585.0,11902.0,12042,10983,11931,10329,12471,10971,12576,11197,3381,3119,2928.0,3551.0,8825.0,9755.0,-72.316384,-71.777040,-76.025547,-67.867992
55,THAILAND,53520.0,67841.0,53759.0,62100.0,51933,67729,59396,80690,66849,99443,68662,101293,22060,30565,2772.0,1895.0,33761.0,20605.0,-60.188718,-57.183396,-94.997422,-97.345413
56,TURKEY,13531.0,10762.0,15530.0,10139.0,17579,11965,20050,13200,20125,13699,21418,13694,6797,4055,474.0,3235.0,6572.0,12423.0,-58.556683,-66.948837,-97.109882,-73.632426
57,UKRAINE,14611.0,14669.0,11964.0,11133.0,13349,13403,12240,13747,11895,14364,13024,16443,5003,5615,1616.0,3580.0,4163.0,3140.0,-56.895109,-54.769330,-86.076853,-71.161924
58,UNITED ARAB EMIRATES,29191.0,30140.0,27127.0,28690.0,32642,34522,33282,33955,28965,31005,26321,29091,3779,3607,2045.0,1881.0,24298.0,19403.0,-86.893165,-87.790973,-92.907257,-93.633163
59,UNITED KINGDOM,469761.0,369098.0,485856.0,381744.0,523686,418196,545421,440874,566366,463390,550160,450131,158808,133065,72715.0,91427.0,294242.0,346808.0,-67.642015,-67.547847,-85.183927,-77.702604
60,UNITED STATES OF AMERICA,625511.0,493471.0,673561.0,540062.0,714613,582325,754551,622367,798259,658418,827081,684950,217262,176829,197735.0,232124.0,659597.0,743801.0,-69.903385,-71.382884,-72.608399,-62.434220
61,VIETNAM,7323.0,7808.0,7869.0,7471.0,8614,8113,10887,12883,13325,18101,14059,19576,3961,4866,353.0,750.0,22264.0,14967.0,-67.125123,-61.693226,-97.070227,-94.095750
62,YEMEN,24047.0,10159.0,15404.0,5496.0,14827,4555,15750,5944,15366,6307,18297,7767,4143,1738,1864.0,4370.0,6087.0,12934.0,-73.582138,-77.115233,-88.114194,-42.458899

In [589]:
result_df

                        Metric    Value
0        Average % Change 2020  -69.44%
1        Average % Change 2021  -83.87%
2  Largest Change Country 2020  BAHRAIN
3           Male % Change 2020  -99.44%
4         Female % Change 2020  -99.56%
5  Largest Change Country 2021  BAHRAIN
6           Male % Change 2021  -99.84%
7         Female % Change 2021  -99.52%

In [590]:
comparison_results

,COUNTRY OF NATIONALITY,MALE 2020 Diff,MALE 2021 Diff,FEMALE 2020 Diff,FEMALE 2021 Diff,Total Diff 2020,Total Diff 2021
0,AFGHANISTAN,-47300.0,-68018.0,-16899.0,-7262.0,64199.0,75280.0
1,ARGENTINA,-3486.0,-4951.0,-3673.0,-5972.0,7159.0,10923.0
2,AUSTRALIA,-124420.0,-159238.0,-104729.0,-122805.0,229149.0,282043.0
3,AUSTRIA,-12334.0,-15730.0,-9463.0,-10838.0,21797.0,26568.0
4,BAHRAIN,-441188.0,-442967.0,-212568.0,-212491.0,653756.0,655458.0
5,BANGLADESH,-731464.0,-1033063.0,-394056.0,-401307.0,1125520.0,1434370.0
6,BELGIUM,-15236.0,-19108.0,-11099.0,-10867.0,26335.0,29975.0
7,BHUTAN,-8531.0,-9843.0,-5954.0,-6462.0,14485.0,16305.0
8,BRAZIL,-7273.0,-10586.0,-6094.0,-8818.0,13367.0,19404.0
9,CANADA,-99361.0,-127843.0,-91289.0,-105238.0,190650.0,233081.0
10,CZECH REPUBLIC,-4674.0,-6396.0,-3017.0,-3919.0,7691.0,10315.0
11,DENMARK,-9299.0,-12975.0,-6640.0,-9191.0,15939.0,22166.0
12,EGYPT,-8593.0,-11629.0,-4936.0,-5047.0,13529.0,16676.0
13,FINLAND,-7010.0,-8881.0,-6481.0,-7591.0,13491.0,16472.0
14,FRANCE,-83845.0,-108836.0,-69691.0,-88569.0,153536.0,197405.0
15,GERMANY,-99315.0,-127708.0,-71442.0,-81835.0,170757.0,209543.0
16,GREECE,-3492.0,-5068.0,-2465.0,-2599.0,5957.0,7667.0
17,HUNGARY,1425.0,272.0,1538.0,380.0,2963.0,652.0
18,INDONESIA,-14269.0,-20350.0,-10680.0,-14289.0,24949.0,34639.0
19,IRAN,-12935.0,-15768.0,-12227.0,-14115.0,25162.0,29883.0
20,IRAQ,-21770.0,-29071.0,-12132.0,-6441.0,33902.0,35512.0
21,IRELAND,-13399.0,-15355.0,-12292.0,-12444.0,25691.0,27799.0
22,ISRAEL,-23229.0,-32024.0,-15573.0,-19621.0,38802.0,51645.0
23,ITALY,-42218.0,-56058.0,-27272.0,-30959.0,69490.0,87017.0
24,JAPAN,-108646.0,-137030.0,-42825.0,-47274.0,151471.0,184304.0
25,KAZAKHSTAN,-3322.0,-4409.0,-4789.0,-7242.0,8111.0,11651.0
26,KENYA,-17655.0,-18520.0,-14753.0,-13294.0,32408.0,31814.0
27,MALAYSIA,-106070.0,-141287.0,-101031.0,-129083.0,207101.0,270370.0
28,MALDIVES,-27630.0,-22404.0,-26442.0,-19624.0,54072.0,42028.0
29,MAURITIUS,-10888.0,-14913.0,-12861.0,-18128.0,23749.0,33041.0
30,MEXICO,-5719.0,-7540.0,-5617.0,-7517.0,11336.0,15057.0
31,MYANMAR,-10999.0,-23965.0,-10406.0,-29718.0,21405.0,53683.0
32,NEPAL,-71592.0,-78242.0,-42241.0,-23869.0,113833.0,102111.0
33,NETHERLANDS,-27341.0,-34701.0,-17738.0,-21005.0,45079.0,55706.0
34,NEW ZEALAND,-19610.0,-26963.0,-17556.0,-22359.0,37166.0,49322.0
35,NIGERIA,-7757.0,-8013.0,-5479.0,-3526.0,13236.0,11539.0
36,NORWAY,-7412.0,-9423.0,-6143.0,-7566.0,13555.0,16989.0
37,OMAN,-44757.0,-50994.0,-30008.0,-29027.0,74765.0,80021.0
38,PAKISTAN,-32941.0,-42404.0,-19635.0,-16241.0,52576.0,58645.0
39,PHILIPPINES,-14612.0,-22107.0,-17342.0,-18972.0,31954.0,41079.0
40,POLAND,-7883.0,-12852.0,-7005.0,-11736.0,14888.0,24588.0
41,PORTUGAL,-15503.0,-26238.0,-13541.0,-1747.0,29044.0,27985.0
42,REPUBLIC OF CHINA,-115094.0,-136440.0,-62299.0,-77037.0,177393.0,213477.0
43,REPUBLIC OF KOREA,-51663.0,-67830.0,-32138.0,-34943.0,83801.0,102773.0
44,RUSSIAN FEDERATION,-53346.0,-90656.0,-67408.0,-114697.0,120754.0,205353.0
45,SAUDI ARABIA,-29296.0,-36909.0,-10064.0,-11786.0,39360.0,48695.0
46,SINGAPORE,-72644.0,-86339.0,-57729.0,-64374.0,130373.0,150713.0
47,SOUTH AFRICA,-20011.0,-25529.0,-18800.0,-22023.0,38811.0,47552.0
48,SPAIN,-28157.0,-34868.0,-26547.0,-29189.0,54704.0,64057.0
49,SRI LANKA,-118348.0,-148198.0,-108737.0,-121544.0,227085.0,269742.0
50,SUDAN,-8618.0,-11274.0,-4996.0,-4673.0,13614.0,15947.0
51,SWEDEN,-16101.0,-20185.0,-13127.0,-15456.0,29228.0,35641.0
52,SWITZERLAND,-17044.0,-21878.0,-14717.0,-18360.0,31761.0,40238.0
53,TAIWAN,4257.0,NaN,4711.0,NaN,8968.0,NaN
54,TANZANIA,-8832.0,-9285.0,-7932.0,-7500.0,16764.0,16785.0
55,THAILAND,-33351.0,-52639.0,-40820.0,-69490.0,74171.0,122129.0
56,TURKEY,-9603.0,-15926.0,-8213.0,-9033.0,17816.0,24959.0
57,UKRAINE,-6603.0,-9990.0,-6799.0,-8834.0,13402.0,18824.0
58,UNITED ARAB EMIRATES,-25053.0,-26787.0,-25936.0,-27662.0,50989.0,54449.0
59,UNITED KINGDOM,-331976.0,-418069.0,-276969.0,-318607.0,608945.0,736676.0
60,UNITED STATES OF AMERICA,-504619.0,-524146.0,-441084.0,-385789.0,945703.0,909935.0
61,VIETNAM,-8087.0,-11695.0,-7836.0,-11952.0,15923.0,23647.0
62,YEMEN,-11539.0,-13818.0,-5856.0,-3224.0,17395.0,17042.0

In [591]:
# top_5_2020_df.reset_index(inplace=True)
top_5_2020_df

,Country,Male Difference 2020,Female Difference 2020,Total Difference 2020
5,BANGLADESH,-731464.0,-394056.0,1125520.0
60,UNITED STATES OF AMERICA,-504619.0,-441084.0,945703.0
4,BAHRAIN,-441188.0,-212568.0,653756.0
59,UNITED KINGDOM,-331976.0,-276969.0,608945.0
2,AUSTRALIA,-124420.0,-104729.0,229149.0

## Result Gender

In [592]:
comparison_results.to_csv("1_Gender_Yearwise_Avg_Difference.csv",index=False)
average_diff_df.to_csv("1_Gender_Average_difference_across_all_countries.csv",index=False)
top_5_2020_df.to_csv("1_Gender_Top_5_countries_with_largest_differences_in_2020.csv",index=False)
top_5_2021_df.to_csv("1_Gender_Top_5_countries_with_largest_differences_in_2021.csv",index=False)

In [593]:
t_df=df[['COUNTRY OF NATIONALITY', 'MALE 2020 % Change', 'MALE 2021 % Change', 'FEMALE 2020 % Change', 'FEMALE 2021 % Change']]
t_df.to_csv("1_Gender_Percentage_Change_for_All_Countries.csv",index=False)

In [594]:
t_df

,COUNTRY OF NATIONALITY,MALE 2020 % Change,MALE 2021 % Change,FEMALE 2020 % Change,FEMALE 2021 % Change
0,AFGHANISTAN,-60.131740,-86.469886,-51.102663,-21.960818
1,ARGENTINA,-67.613243,-96.024380,-58.339573,-94.853992
2,AUSTRALIA,-71.784244,-91.872501,-73.452443,-86.130073
3,AUSTRIA,-70.771652,-90.257217,-69.838592,-79.985873
4,BAHRAIN,-99.439231,-99.840199,-99.559735,-99.523671
5,BANGLADESH,-65.681809,-92.763874,-70.237492,-71.529926
6,BELGIUM,-69.600569,-87.287511,-71.769292,-70.269172
7,BHUTAN,-67.590172,-77.984133,-60.988207,-66.191145
8,BRAZIL,-64.323887,-93.623580,-60.034619,-86.868658
9,CANADA,-60.305443,-77.592076,-61.369106,-70.746333
10,CZECH REPUBLIC,-69.660458,-95.320915,-65.774968,-85.438012
11,DENMARK,-67.981787,-94.853694,-63.172916,-87.442069
12,EGYPT,-71.728217,-97.070152,-76.720540,-78.445520
13,FINLAND,-74.094430,-93.869755,-77.721059,-91.030868
14,FRANCE,-69.215094,-89.845406,-65.351038,-83.053422
15,GERMANY,-70.717151,-90.934244,-69.446288,-79.548882
16,GREECE,-65.963303,-95.731247,-70.111720,-73.922405
17,HUNGARY,-65.308209,-93.378128,-61.445904,-90.474281
18,INDONESIA,-67.866825,-96.789536,-67.948159,-90.908678
19,IRAN,-76.766564,-93.578907,-79.390949,-91.649893
20,IRAQ,-63.667051,-85.018215,-69.207826,-36.744273
21,IRELAND,-71.572682,-82.020603,-73.707653,-74.619042
22,ISRAEL,-70.168292,-96.734703,-67.299655,-84.792849
23,ITALY,-69.801860,-92.683998,-67.854642,-77.028012
24,JAPAN,-76.749129,-96.799950,-73.708112,-81.365392
25,KAZAKHSTAN,-57.809316,-76.721181,-57.833362,-87.453855
26,KENYA,-71.874455,-75.395745,-71.540694,-64.465873
27,MALAYSIA,-73.773073,-98.266793,-75.839006,-96.896085
28,MALDIVES,-77.940939,-63.199168,-79.769693,-59.201510
29,MAURITIUS,-68.234515,-93.457651,-66.980886,-94.411749
30,MEXICO,-72.303386,-95.322799,-70.170242,-93.904136
31,MYANMAR,-43.709587,-95.235284,-33.003960,-94.250233
32,NEPAL,-73.172722,-79.969484,-74.349632,-42.012532
33,NETHERLANDS,-65.317252,-82.899910,-60.176695,-71.259644
34,NEW ZEALAND,-68.204109,-93.777855,-70.039780,-89.200757
35,NIGERIA,-76.614325,-79.142506,-79.074322,-50.889599
36,NORWAY,-70.036852,-89.039025,-66.809079,-82.284400
37,OMAN,-82.270966,-93.735557,-83.840287,-81.099505
38,PAKISTAN,-76.247020,-98.150591,-83.185257,-68.806512
39,PHILIPPINES,-60.386559,-91.359096,-72.844773,-79.691335
40,POLAND,-57.715075,-94.092117,-52.320594,-87.654440
41,PORTUGAL,-42.967890,-72.720038,-56.498519,-7.289189
42,REPUBLIC OF CHINA,-83.995605,-99.573800,-77.918672,-96.351672
43,REPUBLIC OF KOREA,-72.233774,-94.837962,-72.090981,-78.382960
44,RUSSIAN FEDERATION,-54.730324,-93.008208,-53.733818,-91.429915
45,SAUDI ARABIA,-78.695897,-99.145794,-80.159976,-93.875159
46,SINGAPORE,-78.586077,-93.401115,-80.537148,-89.807498
47,SOUTH AFRICA,-74.687958,-95.282450,-76.491581,-89.604706
48,SPAIN,-75.891066,-93.978831,-78.226754,-86.011964
49,SRI LANKA,-75.153174,-94.108341,-78.650232,-87.913588
50,SUDAN,-62.072230,-81.201770,-56.498070,-52.845581
51,SWEDEN,-71.899619,-90.136065,-69.732199,-82.103857
52,SWITZERLAND,-72.199597,-92.676078,-70.659890,-88.150648
53,TAIWAN,-80.892606,NaN,-77.485543,NaN
54,TANZANIA,-72.316384,-76.025547,-71.777040,-67.867992
55,THAILAND,-60.188718,-94.997422,-57.183396,-97.345413
56,TURKEY,-58.556683,-97.109882,-66.948837,-73.632426
57,UKRAINE,-56.895109,-86.076853,-54.769330,-71.161924
58,UNITED ARAB EMIRATES,-86.893165,-92.907257,-87.790973,-93.633163
59,UNITED KINGDOM,-67.642015,-85.183927,-67.547847,-77.702604
60,UNITED STATES OF AMERICA,-69.903385,-72.608399,-71.382884,-62.434220
61,VIETNAM,-67.125123,-97.070227,-61.693226,-94.095750
62,YEMEN,-73.582138,-88.114194,-77.115233,-42.458899

In [595]:
result_df.to_csv('1_Gender_Avg_Largest_Pct_Change.csv',index=False)

In [596]:
result_df

                        Metric    Value
0        Average % Change 2020  -69.44%
1        Average % Change 2021  -83.87%
2  Largest Change Country 2020  BAHRAIN
3           Male % Change 2020  -99.44%
4         Female % Change 2020  -99.56%
5  Largest Change Country 2021  BAHRAIN
6           Male % Change 2021  -99.84%
7         Female % Change 2021  -99.52%

In [597]:
df_combined.head()

,COUNTRY OF NATIONALITY,MALE 2013,FEMALE 2013,0-14 2013,15-24 2013,25-34 2013,35-44 2013,45-54 2013,55-64 2013,65 AND ABOVE 2013,BUSINESS AND PROFESSIONAL 2013,LEISURE HOLIDAY AND RECREATION 2013,MEDICAL 2013,INDIAN DIASPORA 2013,OTHERS 2013,MALE 2014,FEMALE 2014,0-14 2014,15-24 2014,25-34 2014,35-44 2014,45-54 2014,55-64 2014,65 AND ABOVE 2014,BUSINESS AND PROFESSIONAL 2014,LEISURE HOLIDAY AND RECREATION 2014,MEDICAL 2014,INDIAN DIASPORA 2014,OTHERS 2014,MALE 2016,FEMALE 2016,0-14 2016,15-24 2016,25-34 2016,35-44 2016,45-54 2016,55-64 2016,65 AND ABOVE 2016,BUSINESS AND PROFESSIONAL 2016,LEISURE HOLIDAY AND RECREATION 2016,MEDICAL 2016,INDIAN DIASPORA 2016,OTHERS 2016,MALE 2017,FEMALE 2017,0-14 2017,15-24 2017,25-34 2017,35-44 2017,45-54 2017,55-64 2017,65 AND ABOVE 2017,BUSINESS AND PROFESSIONAL 2017,LEISURE HOLIDAY AND RECREATION 2017,MEDICAL 2017,INDIAN DIASPORA 2017,OTHERS 2017,MALE 2018,FEMALE 2018,0-14 2018,15-24 2018,25-34 2018,35-44 2018,45-54 2018,55-64 2018,65 AND ABOVE 2018,BUSINESS AND PROFESSIONAL 2018,LEISURE HOLIDAY AND RECREATION 2018,MEDICAL 2018,INDIAN DIASPORA 2018,OTHERS 2018,MALE 2019,FEMALE 2019,0-14 2019,15-24 2019,25-34 2019,35-44 2019,45-54 2019,55-64 2019,65 AND ABOVE 2019,BUSINESS AND PROFESSIONAL 2019,LEISURE HOLIDAY AND RECREATION 2019,MEDICAL 2019,INDIAN DIASPORA 2019,OTHERS 2019,MALE 2020,FEMALE 2020,0-14 2020,15-24 2020,25-34 2020,35-44 2020,45-54 2020,55-64 2020,65 AND ABOVE 2020,BUSINESS AND PROFESSIONAL 2020,LEISURE HOLIDAY AND RECREATION 2020,MEDICAL 2020,INDIAN DIASPORA 2020,OTHERS 2020,MALE 2021,FEMALE 2021,0-14 2021,15-24 2021,25-34 2021,35-44 2021,45-54 2021,55-64 2021,65 AND ABOVE 2021,BUSINESS AND PROFESSIONAL 2021,LEISURE HOLIDAY AND RECREATION 2021,MEDICAL 2021,INDIAN DIASPORA 2021,OTHERS 2021,MALE 2022,FEMALE 2022,0-14 2022,15-24 2022,25-34 2022,35-44 2022,45-54 2022,55-64 2022,65 AND ABOVE 2022,BUSINESS AND PROFESSIONAL 2022,LEISURE HOLIDAY AND RECREATION 2022,MEDICAL 2022,INDIAN DIASPORA 2022,OTHERS 2022,CONTINENT
0,AFGHANISTAN,85405.0,30163.0,12250.0,25540.0,33515.0,19184.0,12828.0,8320.0,3929.0,NaN,NaN,NaN,NaN,NaN,84202.0,30203.0,12584.0,24482.0,32720.0,19220.0,13042.0,8580.0,3775.0,NaN,NaN,NaN,NaN,NaN,87440,35889,14676,24419,34779,20226,14182,10113,4809,3329,48444,52501,11963,7091,103229,45946,18199,28194,42515,24763,17155,12232,6116,4185.0,20689.0,16170.0,3091.0,3376.0,106040,47864,18776,28626,44786,25394,17391,12312,6617,12004,74951,46787,10465,9696,84029,40090,14894,22838,36615,20355,13901,9929,5585,4185.0,20689.0,16170.0,3091.0,3376.0,31361,16170,6040,8703,13554,7752,5421,3995,2140,4185,20689,16170,3091,3376,10643.0,25807.0,3426.0,6889.0,11226.0,7217.0,3754.0,2624.0,1312.0,7982.0,145.0,19537.0,4884.0,3863.0,286.0,1330.0,126.0,253.0,645.0,318.0,122.0,85.0,64.0,12.0,268.0,9.0,72.0,1253.0,SOUTH ASIA
1,ARGENTINA,4495.0,5235.0,155.0,535.0,2588.0,1878.0,1712.0,1702.0,1157.0,1070.0,8047.0,9.0,38.0,564.0,4413.0,4937.0,205.0,551.0,2665.0,2019.0,1580.0,1477.0,850.0,NaN,NaN,NaN,NaN,NaN,5624,6683,209,713,3384,2535,2240,2018,1206,1319,10637,1,237,112,6426,8449,208,862,4269,2989,2439,2499,1606,1886.0,10095.0,10.0,160.0,691.0,6962,9382,294,866,4641,3448,2647,2631,1814,1601,14350,32,261,98,5754,7089,231,629,3326,2889,2144,2273,1361,1886.0,10095.0,10.0,160.0,691.0,1670,2623,94,304,991,845,790,798,468,317,3851,0,64,60,205.0,324.0,51.0,78.0,140.0,131.0,74.0,36.0,15.0,334.0,43.0,7.0,112.0,32.0,2421.0,2298.0,160.0,221.0,1231.0,1156.0,859.0,670.0,420.0,1132.0,2973.0,14.0,179.0,420.0,CENTRAL & SOUTH AMERICA
2,AUSTRALIA,138822.0,100939.0,41239.0,17502.0,46513.0,50350.0,39800.0,29490.0,14865.0,NaN,NaN,NaN,NaN,NaN,152072.0,111028.0,47621.0,19206.0,51830.0,55251.0,42096.0,30256.0,16838.0,NaN,NaN,NaN,NaN,NaN,167953,125671,56082,19966,54027,63423,46099,33473,20260,30419,148456,146,107877,6724,184170,140072,64848,21724,56094,72630,50257,35990,22697,4945.0,35917.0,86.0,35831.0,9977.0,195764,150721,70336,21828,53012,80038,54051,39499,27718,47815,168045,3118,125081,2425,206022,161218,77120,22034,51046,89974,57289,40763,29012,4945.0,35917.0,86.0,35831.0,9977.0,48905,37852,16050,5552,14054,20821,12146,10063,7547,4945,35917,86,35831,9977,14087.0,19776.0,9651.0,1422.0,4707.0,11005.0,4639.0,1964.0,474.0,948.0,3013.0,101.0,22147.0,7653.0,168473.0,208424.0,106662.0,22613.0,36936.0,114200.0,58042.0,26005.0,12437.0,12814.0,100631.0,376.0,166212.0,96862.0,AUSTRALASIA
3,AUSTRIA,19653.0,14706.0,1649.0,2611.0,5497.0,6700.0,8830.0,5944.0,3126.0,8005.0,19275.0,0.0,5497.0,1580.0,19259.0,14410.0,1649.0,2693.0,5488.0,6498.0,8619.0,5858.0,2929.0,NaN,NaN,NaN,NaN,NaN,19257,13831,1687,2713,5194,5757,8206,6088,3408,8613,19668,13,4298,496,18494,13337,1623,2864,5124,5538,7703,6048,2928,7323.0,15493.0,29.0,5441.0,4044.0,19322,13877,1660,2855,5278,5411,7669,6573,3751,8565,19056,298,5013,265,18461,13870,1616,2586,5043,5205,7307,6725,3815,7323.0,15493.0,29.0,5441.0,4044.0,5094,4087,275,642,1496,1395,2001,2157,1212,1726,5114,18,1671,661,1698.0,2712.0,357.0,366.0,705.0,674.0,1071.0,917.0,322.0,1124.0,167.0,30.0,2121.0,961.0,7552.0,10822.0,1451.0,1617.0,3160.0,3215.0,3895.0,3491.0,1543.0,4520.0,5383.0,36.0,4354.0,4079.0,WESTERN EUROPE
4,BAHRAIN,8604.0,4531.0,1300.0,1891.0,2600.0,2036.0,2377.0,1996.0,932.0,NaN,NaN,NaN,NaN,NaN,9234.0,4778.0,1317.0,2101.0,28726.0,2087.0,2564.0,2129.0,938.0,NaN,NaN,NaN,NaN,NaN,11663,5718,1651,2068,3789,2798,3545,2398,1112,830,13566,921,1491,573,3053332,1463431,1391,1760,3872,2531,3621,2464,1106,198.0,1776.0,380.0,658.0,418.0,9253,4661,1210,1419,3144,2115,2713,2184,1127,1127,8390,1461,2435,500,10740,4387,953,1240,3963,2390,3207,2193,1179,198.0,1776.0,380.0,658.0,418.0,2488,940,157,332,881,617,730,483,222,198,1776,380,658,418,709.0,1017.0,227.0,141.0,291.0,229.0,253.0,354.0,227.0,51.0,198.0,369.0,727.0,381.0,2908.0,7050.0,756.0,727.0,2569.0,1961.0,1583.0,1463.0,896.0,229.0,3057.0,497.0,1324.0,4850.0,WEST ASIA

## Agewise

In [598]:
# import pandas as pd

# # Load the dataset
# # data = pd.read_csv('9temp1.csv')
# data=df_combined.copy()

# # Extract gender data
# gender_columns = ['COUNTRY OF NATIONALITY'] + [col for col in data.columns if col.startswith('MALE') or col.startswith('FEMALE')]
# gender_df = data[gender_columns]

# # Extract age group data
# age_columns = ['COUNTRY OF NATIONALITY'] + [col for col in data.columns if any(age in col for age in ['0-14', '15-24', '25-34', '35-44', '45-54', '55-64', '65 AND ABOVE'])]
# age_df = data[age_columns]

# # Extract purpose data
# purpose_columns = ['COUNTRY OF NATIONALITY'] + [col for col in data.columns if any(purpose in col for purpose in ['BUSINESS AND PROFESSIONAL', 'LEISURE HOLIDAY AND RECREATION', 'MEDICAL', 'INDIAN DIASPORA', 'OTHERS'])]
# purpose_df = data[purpose_columns]

# # Display the first few rows of each DataFrame
# print("Gender Data:")
# print(gender_df.head())
# print("\nAge Group Data:")
# print(age_df.head())
# print("\nPurpose Data:")
# print(purpose_df.head())

In [599]:
age_df.head()

,COUNTRY OF NATIONALITY,0-14 2013,15-24 2013,25-34 2013,35-44 2013,45-54 2013,55-64 2013,65 AND ABOVE 2013,0-14 2014,15-24 2014,25-34 2014,35-44 2014,45-54 2014,55-64 2014,65 AND ABOVE 2014,0-14 2016,15-24 2016,25-34 2016,35-44 2016,45-54 2016,55-64 2016,65 AND ABOVE 2016,0-14 2017,15-24 2017,25-34 2017,35-44 2017,45-54 2017,55-64 2017,65 AND ABOVE 2017,0-14 2018,15-24 2018,25-34 2018,35-44 2018,45-54 2018,55-64 2018,65 AND ABOVE 2018,0-14 2019,15-24 2019,25-34 2019,35-44 2019,45-54 2019,55-64 2019,65 AND ABOVE 2019,0-14 2020,15-24 2020,25-34 2020,35-44 2020,45-54 2020,55-64 2020,65 AND ABOVE 2020,0-14 2021,15-24 2021,25-34 2021,35-44 2021,45-54 2021,55-64 2021,65 AND ABOVE 2021,0-14 2022,15-24 2022,25-34 2022,35-44 2022,45-54 2022,55-64 2022,65 AND ABOVE 2022
0,AFGHANISTAN,12250.0,25540.0,33515.0,19184.0,12828.0,8320.0,3929.0,12584.0,24482.0,32720.0,19220.0,13042.0,8580.0,3775.0,14676,24419,34779,20226,14182,10113,4809,18199,28194,42515,24763,17155,12232,6116,18776,28626,44786,25394,17391,12312,6617,14894,22838,36615,20355,13901,9929,5585,6040,8703,13554,7752,5421,3995,2140,3426.0,6889.0,11226.0,7217.0,3754.0,2624.0,1312.0,126.0,253.0,645.0,318.0,122.0,85.0,64.0
1,ARGENTINA,155.0,535.0,2588.0,1878.0,1712.0,1702.0,1157.0,205.0,551.0,2665.0,2019.0,1580.0,1477.0,850.0,209,713,3384,2535,2240,2018,1206,208,862,4269,2989,2439,2499,1606,294,866,4641,3448,2647,2631,1814,231,629,3326,2889,2144,2273,1361,94,304,991,845,790,798,468,51.0,78.0,140.0,131.0,74.0,36.0,15.0,160.0,221.0,1231.0,1156.0,859.0,670.0,420.0
2,AUSTRALIA,41239.0,17502.0,46513.0,50350.0,39800.0,29490.0,14865.0,47621.0,19206.0,51830.0,55251.0,42096.0,30256.0,16838.0,56082,19966,54027,63423,46099,33473,20260,64848,21724,56094,72630,50257,35990,22697,70336,21828,53012,80038,54051,39499,27718,77120,22034,51046,89974,57289,40763,29012,16050,5552,14054,20821,12146,10063,7547,9651.0,1422.0,4707.0,11005.0,4639.0,1964.0,474.0,106662.0,22613.0,36936.0,114200.0,58042.0,26005.0,12437.0
3,AUSTRIA,1649.0,2611.0,5497.0,6700.0,8830.0,5944.0,3126.0,1649.0,2693.0,5488.0,6498.0,8619.0,5858.0,2929.0,1687,2713,5194,5757,8206,6088,3408,1623,2864,5124,5538,7703,6048,2928,1660,2855,5278,5411,7669,6573,3751,1616,2586,5043,5205,7307,6725,3815,275,642,1496,1395,2001,2157,1212,357.0,366.0,705.0,674.0,1071.0,917.0,322.0,1451.0,1617.0,3160.0,3215.0,3895.0,3491.0,1543.0
4,BAHRAIN,1300.0,1891.0,2600.0,2036.0,2377.0,1996.0,932.0,1317.0,2101.0,28726.0,2087.0,2564.0,2129.0,938.0,1651,2068,3789,2798,3545,2398,1112,1391,1760,3872,2531,3621,2464,1106,1210,1419,3144,2115,2713,2184,1127,953,1240,3963,2390,3207,2193,1179,157,332,881,617,730,483,222,227.0,141.0,291.0,229.0,253.0,354.0,227.0,756.0,727.0,2569.0,1961.0,1583.0,1463.0,896.0

In [600]:
df_combined.head()

,COUNTRY OF NATIONALITY,MALE 2013,FEMALE 2013,0-14 2013,15-24 2013,25-34 2013,35-44 2013,45-54 2013,55-64 2013,65 AND ABOVE 2013,BUSINESS AND PROFESSIONAL 2013,LEISURE HOLIDAY AND RECREATION 2013,MEDICAL 2013,INDIAN DIASPORA 2013,OTHERS 2013,MALE 2014,FEMALE 2014,0-14 2014,15-24 2014,25-34 2014,35-44 2014,45-54 2014,55-64 2014,65 AND ABOVE 2014,BUSINESS AND PROFESSIONAL 2014,LEISURE HOLIDAY AND RECREATION 2014,MEDICAL 2014,INDIAN DIASPORA 2014,OTHERS 2014,MALE 2016,FEMALE 2016,0-14 2016,15-24 2016,25-34 2016,35-44 2016,45-54 2016,55-64 2016,65 AND ABOVE 2016,BUSINESS AND PROFESSIONAL 2016,LEISURE HOLIDAY AND RECREATION 2016,MEDICAL 2016,INDIAN DIASPORA 2016,OTHERS 2016,MALE 2017,FEMALE 2017,0-14 2017,15-24 2017,25-34 2017,35-44 2017,45-54 2017,55-64 2017,65 AND ABOVE 2017,BUSINESS AND PROFESSIONAL 2017,LEISURE HOLIDAY AND RECREATION 2017,MEDICAL 2017,INDIAN DIASPORA 2017,OTHERS 2017,MALE 2018,FEMALE 2018,0-14 2018,15-24 2018,25-34 2018,35-44 2018,45-54 2018,55-64 2018,65 AND ABOVE 2018,BUSINESS AND PROFESSIONAL 2018,LEISURE HOLIDAY AND RECREATION 2018,MEDICAL 2018,INDIAN DIASPORA 2018,OTHERS 2018,MALE 2019,FEMALE 2019,0-14 2019,15-24 2019,25-34 2019,35-44 2019,45-54 2019,55-64 2019,65 AND ABOVE 2019,BUSINESS AND PROFESSIONAL 2019,LEISURE HOLIDAY AND RECREATION 2019,MEDICAL 2019,INDIAN DIASPORA 2019,OTHERS 2019,MALE 2020,FEMALE 2020,0-14 2020,15-24 2020,25-34 2020,35-44 2020,45-54 2020,55-64 2020,65 AND ABOVE 2020,BUSINESS AND PROFESSIONAL 2020,LEISURE HOLIDAY AND RECREATION 2020,MEDICAL 2020,INDIAN DIASPORA 2020,OTHERS 2020,MALE 2021,FEMALE 2021,0-14 2021,15-24 2021,25-34 2021,35-44 2021,45-54 2021,55-64 2021,65 AND ABOVE 2021,BUSINESS AND PROFESSIONAL 2021,LEISURE HOLIDAY AND RECREATION 2021,MEDICAL 2021,INDIAN DIASPORA 2021,OTHERS 2021,MALE 2022,FEMALE 2022,0-14 2022,15-24 2022,25-34 2022,35-44 2022,45-54 2022,55-64 2022,65 AND ABOVE 2022,BUSINESS AND PROFESSIONAL 2022,LEISURE HOLIDAY AND RECREATION 2022,MEDICAL 2022,INDIAN DIASPORA 2022,OTHERS 2022,CONTINENT
0,AFGHANISTAN,85405.0,30163.0,12250.0,25540.0,33515.0,19184.0,12828.0,8320.0,3929.0,NaN,NaN,NaN,NaN,NaN,84202.0,30203.0,12584.0,24482.0,32720.0,19220.0,13042.0,8580.0,3775.0,NaN,NaN,NaN,NaN,NaN,87440,35889,14676,24419,34779,20226,14182,10113,4809,3329,48444,52501,11963,7091,103229,45946,18199,28194,42515,24763,17155,12232,6116,4185.0,20689.0,16170.0,3091.0,3376.0,106040,47864,18776,28626,44786,25394,17391,12312,6617,12004,74951,46787,10465,9696,84029,40090,14894,22838,36615,20355,13901,9929,5585,4185.0,20689.0,16170.0,3091.0,3376.0,31361,16170,6040,8703,13554,7752,5421,3995,2140,4185,20689,16170,3091,3376,10643.0,25807.0,3426.0,6889.0,11226.0,7217.0,3754.0,2624.0,1312.0,7982.0,145.0,19537.0,4884.0,3863.0,286.0,1330.0,126.0,253.0,645.0,318.0,122.0,85.0,64.0,12.0,268.0,9.0,72.0,1253.0,SOUTH ASIA
1,ARGENTINA,4495.0,5235.0,155.0,535.0,2588.0,1878.0,1712.0,1702.0,1157.0,1070.0,8047.0,9.0,38.0,564.0,4413.0,4937.0,205.0,551.0,2665.0,2019.0,1580.0,1477.0,850.0,NaN,NaN,NaN,NaN,NaN,5624,6683,209,713,3384,2535,2240,2018,1206,1319,10637,1,237,112,6426,8449,208,862,4269,2989,2439,2499,1606,1886.0,10095.0,10.0,160.0,691.0,6962,9382,294,866,4641,3448,2647,2631,1814,1601,14350,32,261,98,5754,7089,231,629,3326,2889,2144,2273,1361,1886.0,10095.0,10.0,160.0,691.0,1670,2623,94,304,991,845,790,798,468,317,3851,0,64,60,205.0,324.0,51.0,78.0,140.0,131.0,74.0,36.0,15.0,334.0,43.0,7.0,112.0,32.0,2421.0,2298.0,160.0,221.0,1231.0,1156.0,859.0,670.0,420.0,1132.0,2973.0,14.0,179.0,420.0,CENTRAL & SOUTH AMERICA
2,AUSTRALIA,138822.0,100939.0,41239.0,17502.0,46513.0,50350.0,39800.0,29490.0,14865.0,NaN,NaN,NaN,NaN,NaN,152072.0,111028.0,47621.0,19206.0,51830.0,55251.0,42096.0,30256.0,16838.0,NaN,NaN,NaN,NaN,NaN,167953,125671,56082,19966,54027,63423,46099,33473,20260,30419,148456,146,107877,6724,184170,140072,64848,21724,56094,72630,50257,35990,22697,4945.0,35917.0,86.0,35831.0,9977.0,195764,150721,70336,21828,53012,80038,54051,39499,27718,47815,168045,3118,125081,2425,206022,161218,77120,22034,51046,89974,57289,40763,29012,4945.0,35917.0,86.0,35831.0,9977.0,48905,37852,16050,5552,14054,20821,12146,10063,7547,4945,35917,86,35831,9977,14087.0,19776.0,9651.0,1422.0,4707.0,11005.0,4639.0,1964.0,474.0,948.0,3013.0,101.0,22147.0,7653.0,168473.0,208424.0,106662.0,22613.0,36936.0,114200.0,58042.0,26005.0,12437.0,12814.0,100631.0,376.0,166212.0,96862.0,AUSTRALASIA
3,AUSTRIA,19653.0,14706.0,1649.0,2611.0,5497.0,6700.0,8830.0,5944.0,3126.0,8005.0,19275.0,0.0,5497.0,1580.0,19259.0,14410.0,1649.0,2693.0,5488.0,6498.0,8619.0,5858.0,2929.0,NaN,NaN,NaN,NaN,NaN,19257,13831,1687,2713,5194,5757,8206,6088,3408,8613,19668,13,4298,496,18494,13337,1623,2864,5124,5538,7703,6048,2928,7323.0,15493.0,29.0,5441.0,4044.0,19322,13877,1660,2855,5278,5411,7669,6573,3751,8565,19056,298,5013,265,18461,13870,1616,2586,5043,5205,7307,6725,3815,7323.0,15493.0,29.0,5441.0,4044.0,5094,4087,275,642,1496,1395,2001,2157,1212,1726,5114,18,1671,661,1698.0,2712.0,357.0,366.0,705.0,674.0,1071.0,917.0,322.0,1124.0,167.0,30.0,2121.0,961.0,7552.0,10822.0,1451.0,1617.0,3160.0,3215.0,3895.0,3491.0,1543.0,4520.0,5383.0,36.0,4354.0,4079.0,WESTERN EUROPE
4,BAHRAIN,8604.0,4531.0,1300.0,1891.0,2600.0,2036.0,2377.0,1996.0,932.0,NaN,NaN,NaN,NaN,NaN,9234.0,4778.0,1317.0,2101.0,28726.0,2087.0,2564.0,2129.0,938.0,NaN,NaN,NaN,NaN,NaN,11663,5718,1651,2068,3789,2798,3545,2398,1112,830,13566,921,1491,573,3053332,1463431,1391,1760,3872,2531,3621,2464,1106,198.0,1776.0,380.0,658.0,418.0,9253,4661,1210,1419,3144,2115,2713,2184,1127,1127,8390,1461,2435,500,10740,4387,953,1240,3963,2390,3207,2193,1179,198.0,1776.0,380.0,658.0,418.0,2488,940,157,332,881,617,730,483,222,198,1776,380,658,418,709.0,1017.0,227.0,141.0,291.0,229.0,253.0,354.0,227.0,51.0,198.0,369.0,727.0,381.0,2908.0,7050.0,756.0,727.0,2569.0,1961.0,1583.0,1463.0,896.0,229.0,3057.0,497.0,1324.0,4850.0,WEST ASIA

In [601]:
# import pandas as pd
import numpy as np

# data=pd.read_csv('9temp1.csv')
data = df_combined.copy()
def calculate_age_group_percentage_changes(data):
    other_years = [2013, 2014, 2016, 2017, 2018, 2019, 2022]
    age_groups = ['0-14', '15-24', '25-34', '35-44', '45-54', '55-64', '65 AND ABOVE']
    results = []
    for index, row in data.iterrows():
        country_results = {'COUNTRY OF NATIONALITY': row['COUNTRY OF NATIONALITY']}
        for age in age_groups:
            other_years_mean = np.mean([row[f'{age} {year}'] for year in other_years])
            if other_years_mean != 0:
                diff_2020 = ((row[f'{age} 2020'] - other_years_mean) / other_years_mean) * 100
                diff_2021 = ((row[f'{age} 2021'] - other_years_mean) / other_years_mean) * 100
            else:
                diff_2020 = float('nan')
                diff_2021 = float('nan')
            country_results[f'{age} 2020 % Change'] = diff_2020
            country_results[f'{age} 2021 % Change'] = diff_2021
        results.append(country_results)  # Move this line inside the outer loop
    return pd.DataFrame(results)

# Calculate percentage changes
percentage_change_df = calculate_age_group_percentage_changes(data)

# Compile average percentage changes for each age group
age_groups = ['0-14', '15-24', '25-34', '35-44', '45-54', '55-64', '65 AND ABOVE']
avg_changes = {
    'Age Group': age_groups,
    'Average Change 2020': [percentage_change_df[f'{age} 2020 % Change'].mean() for age in age_groups],
    'Average Change 2021': [percentage_change_df[f'{age} 2021 % Change'].mean() for age in age_groups]
}
average_changes_df = pd.DataFrame(avg_changes)

# Format average changes as percentages
average_changes_df['Average Change 2020'] = average_changes_df['Average Change 2020'].apply(lambda x: f"{x:.2f}%")
average_changes_df['Average Change 2021'] = average_changes_df['Average Change 2021'].apply(lambda x: f"{x:.2f}%")

# Get top 5 countries for each age group
top_countries_df = {}
for age in age_groups:
    # top_2020 = percentage_change_df.nlargest(5, f'{age} 2020 % Change')[['COUNTRY OF NATIONALITY', f'{age} 2020 % Change']]
    top_2020 = percentage_change_df.nsmallest(1, f'{age} 2020 % Change')[['COUNTRY OF NATIONALITY', f'{age} 2020 % Change']]
    # top_2021 = percentage_change_df.nlargest(5, f'{age} 2021 % Change')[['COUNTRY OF NATIONALITY', f'{age} 2021 % Change']]
    top_2021 = percentage_change_df.nsmallest(1, f'{age} 2021 % Change')[['COUNTRY OF NATIONALITY', f'{age} 2021 % Change']]
    top_countries_df[f'{age} 2020'] = top_2020
    top_countries_df[f'{age} 2021'] = top_2021

# Format top countries' changes as percentages
for key in top_countries_df:
    change_column = f'{key} % Change'
    top_countries_df[key][change_column] = top_countries_df[key][change_column].apply(lambda x: f"{x:.2f}%")

# Display results
print("Average Percentage Changes by Age Group:")
print(average_changes_df.to_string(index=False))

# print("\nTop 5 Countries with Largest Percentage Changes by Age Group:")
# for age_group in age_groups:
#     print(f"\n{age_group} (2020):")
#     print(top_countries_df[f'{age_group} 2020'].to_string(index=False))
#     print(f"\n{age_group} (2021):")
#     print(top_countries_df[f'{age_group} 2021'].to_string(index=False))

all_data = []

for age_group in age_groups:
    # # 2020 data
    # df_2020 = top_countries_df[f'{age_group} 2020'].copy()
    # df_2020['Year'] = 2020
    # df_2020['Age Group'] = age_group
    # df_2020.rename(columns={'COUNTRY OF NATIONALITY': 'Country', f'{age_group} 2020': 'Percentage Change'}, inplace=True)
    
    # # 2021 data
    # df_2021 = top_countries_df[f'{age_group} 2021'].copy()
    # df_2021['Year'] = 2021
    # df_2021['Age Group'] = age_group
    # df_2021.rename(columns={'COUNTRY OF NATIONALITY': 'Country', f'{age_group} 2021': 'Percentage Change'}, inplace=True)
    
    # 2020 data
    df_2020 = top_countries_df[f'{age_group} 2020'].copy()
    df_2020['Year'] = 2020
    df_2020['Age Group'] = age_group
    df_2020.rename(columns={'COUNTRY OF NATIONALITY': 'Country', f'{age_group} 2020 % Change': 'Percent Change'}, inplace=True)

    # 2021 data
    df_2021 = top_countries_df[f'{age_group} 2021'].copy()
    df_2021['Year'] = 2021
    df_2021['Age Group'] = age_group
    df_2021.rename(columns={'COUNTRY OF NATIONALITY': 'Country', f'{age_group} 2021 % Change': 'Percent Change'}, inplace=True)



    # Append both to the list
    all_data.append(df_2020)
    all_data.append(df_2021)


for df in all_data:
    if 'Percentage Change' in df.columns:
        df.rename(columns={'Percentage Change': 'Percent Change'}, inplace=True)

# Concatenate all the data into a single DataFrame
# # Assuming all_data is a list of DataFrames with the correct column names
result_df = pd.concat(all_data, ignore_index=True)

# Reorder columns for better readability
result_df = result_df[['Age Group', 'Year', 'Country', 'Percent Change']]

# Sort the DataFrame
result_df = result_df.sort_values(['Age Group', 'Year', 'Percent Change'], ascending=[True, True, False])

# Display the result
# print(result_df.to_string(index=False))
# result_df

Average Percentage Changes by Age Group:
   Age Group Average Change 2020 Average Change 2021
        0-14             -72.06%             -77.87%
       15-24             -72.70%             -84.95%
       25-34             -70.45%             -85.57%
       35-44             -70.29%             -83.85%
       45-54             -68.76%             -85.04%
       55-64             -65.84%             -86.68%
65 AND ABOVE             -61.79%             -89.61%

In [602]:
percentage_change_df.head()

,COUNTRY OF NATIONALITY,0-14 2020 % Change,0-14 2021 % Change,15-24 2020 % Change,15-24 2021 % Change,25-34 2020 % Change,25-34 2021 % Change,35-44 2020 % Change,35-44 2021 % Change,45-54 2020 % Change,45-54 2021 % Change,55-64 2020 % Change,55-64 2021 % Change,65 AND ABOVE 2020 % Change,65 AND ABOVE 2021 % Change
0,AFGHANISTAN,-53.794875,-73.791596,-60.531124,-68.757774,-57.939488,-65.163693,-58.084350,-60.977136,-57.180578,-70.347886,-54.580890,-70.167774,-51.513190,-70.273507
1,ARGENTINA,-54.993160,-75.581395,-51.382225,-87.525703,-68.616540,-95.566413,-65.028970,-94.578456,-59.400925,-96.197049,-57.905049,-98.100980,-61.064892,-98.752080
2,AUSTRALIA,-75.781836,-85.437414,-73.173745,-93.129155,-71.848405,-90.571399,-72.284384,-85.350831,-75.542668,-90.658854,-70.085699,-94.161613,-63.269066,-97.693062
3,AUSTRIA,-83.017203,-77.953242,-74.948436,-85.718267,-69.894204,-85.812443,-74.519883,-87.689176,-73.181566,-85.645906,-62.926314,-84.238957,-60.539535,-89.516279
4,BAHRAIN,-87.188156,-81.475869,-79.261110,-91.192218,-87.327127,-95.814068,-72.867194,-89.929639,-73.941866,-90.968893,-77.197005,-83.287246,-78.683128,-78.203018

In [603]:
percentage_change_df

,COUNTRY OF NATIONALITY,0-14 2020 % Change,0-14 2021 % Change,15-24 2020 % Change,15-24 2021 % Change,25-34 2020 % Change,25-34 2021 % Change,35-44 2020 % Change,35-44 2021 % Change,45-54 2020 % Change,45-54 2021 % Change,55-64 2020 % Change,55-64 2021 % Change,65 AND ABOVE 2020 % Change,65 AND ABOVE 2021 % Change
0,AFGHANISTAN,-53.794875,-73.791596,-60.531124,-68.757774,-57.939488,-65.163693,-58.084350,-60.977136,-57.180578,-70.347886,-54.580890,-70.167774,-51.513190,-70.273507
1,ARGENTINA,-54.993160,-75.581395,-51.382225,-87.525703,-68.616540,-95.566413,-65.028970,-94.578456,-59.400925,-96.197049,-57.905049,-98.100980,-61.064892,-98.752080
2,AUSTRALIA,-75.781836,-85.437414,-73.173745,-93.129155,-71.848405,-90.571399,-72.284384,-85.350831,-75.542668,-90.658854,-70.085699,-94.161613,-63.269066,-97.693062
3,AUSTRIA,-83.017203,-77.953242,-74.948436,-85.718267,-69.894204,-85.812443,-74.519883,-87.689176,-73.181566,-85.645906,-62.926314,-84.238957,-60.539535,-89.516279
4,BAHRAIN,-87.188156,-81.475869,-79.261110,-91.192218,-87.327127,-95.814068,-72.867194,-89.929639,-73.941866,-90.968893,-77.197005,-83.287246,-78.683128,-78.203018
5,BANGLADESH,-69.229386,-87.146016,-62.392136,-85.493930,-67.574013,-86.999118,-67.219321,-84.976062,-68.320668,-84.903988,-67.954639,-84.575191,-65.612269,-86.416527
6,BELGIUM,-75.434317,-53.447160,-75.341831,-79.657010,-71.208226,-82.126261,-72.840400,-79.784382,-71.362404,-81.653864,-66.938085,-84.384798,-59.109608,-90.561294
7,BHUTAN,-58.823529,-75.019608,-58.113837,-50.451734,-65.493650,-71.139378,-68.773155,-79.975706,-68.549383,-83.487654,-66.724453,-86.459854,-56.161396,-88.113413
8,BRAZIL,-60.881825,-69.495001,-68.127148,-85.633830,-67.071724,-91.095078,-60.575584,-89.096911,-60.382492,-91.075177,-57.481222,-94.531798,-57.571149,-96.882468
9,CANADA,-61.077145,-62.509765,-72.290482,-83.043795,-57.256061,-75.349274,-63.282626,-74.897595,-62.103398,-73.428219,-57.592936,-78.295482,-57.472789,-78.609763
10,CZECH REPUBLIC,-47.468917,-75.133215,-74.957663,-92.739204,-72.350108,-92.082358,-69.348523,-91.278035,-64.136974,-89.079130,-63.278958,-94.249501,-64.770697,-98.540798
11,DENMARK,-68.822906,-82.481442,-64.096186,-95.066335,-69.293415,-90.898154,-73.145893,-91.100288,-68.207584,-91.448601,-62.301163,-91.311791,-49.724175,-95.873445
12,EGYPT,-73.250000,-80.500000,-86.459640,-93.193225,-75.587639,-91.862546,-69.802383,-88.580238,-68.709547,-89.912015,-70.499391,-91.900122,-81.459270,-96.501749
13,FINLAND,-74.742839,-72.970407,-79.807692,-94.652266,-78.471093,-92.996205,-76.639165,-91.890891,-77.918266,-93.768345,-75.156359,-94.232106,-59.960264,-97.511241
14,FRANCE,-76.352183,-79.552531,-76.472224,-89.701385,-70.601872,-88.225241,-71.083612,-85.343379,-66.624243,-81.358924,-62.836571,-88.673068,-56.280248,-93.833613
15,GERMANY,-75.593734,-60.384032,-73.106341,-88.874227,-69.369678,-85.176555,-72.216038,-83.555844,-74.152828,-88.668404,-64.835336,-88.344642,-61.615691,-92.853094
16,GREECE,-67.753366,-62.792346,-56.681401,-83.339000,-68.732687,-92.243767,-71.276955,-88.406679,-68.104678,-85.075585,-65.542074,-83.081780,-61.487519,-92.154865
17,HUNGARY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,INDONESIA,-75.059164,-88.772022,-67.449507,-93.654298,-68.347934,-94.012329,-68.866139,-94.339298,-66.444759,-94.157731,-67.185190,-96.477089,-64.690969,-95.410438
19,IRAN,-86.006243,-93.497325,-83.067422,-91.255322,-78.989211,-92.549688,-74.156486,-91.045919,-76.580064,-93.374867,-77.562948,-95.085462,-77.560775,-94.173877
20,IRAQ,-69.430118,-66.441194,-68.954389,-69.664372,-64.019122,-67.273350,-65.878822,-69.559560,-65.870475,-69.576459,-64.631686,-69.682485,-62.357070,-66.610061
21,IRELAND,-84.829467,-68.490704,-75.392104,-83.342347,-71.492635,-88.903663,-76.239308,-75.304461,-69.805705,-75.366268,-61.512494,-83.295825,-43.656128,-92.971538
22,ISRAEL,-70.932129,-85.861247,-73.692699,-97.362457,-79.439861,-94.819086,-72.760481,-89.022880,-66.741136,-86.107328,-63.680387,-90.423729,-41.279021,-94.277770
23,ITALY,-70.455906,-65.662509,-73.571152,-79.402790,-73.156516,-88.892351,-75.212478,-88.753281,-69.778362,-84.945716,-62.109968,-87.332813,-55.132783,-95.557389
24,JAPAN,-73.277875,-88.806188,-70.452034,-96.094234,-76.858022,-91.565667,-77.602368,-92.190217,-76.993019,-90.827643,-74.952932,-92.327260,-70.919481,-98.227816
25,KAZAKHSTAN,-56.979617,-74.346304,-66.563830,-86.372340,-61.336634,-84.777228,-55.365319,-78.200114,-57.019537,-85.642890,-50.384123,-87.580026,-50.129273,-88.537777
26,KENYA,-83.495594,-65.893047,-79.137352,-70.896235,-70.804985,-75.151234,-70.413866,-69.454090,-71.137923,-66.784954,-68.152595,-69.187518,-67.244505,-73.853765
27,MALAYSIA,-82.012287,-96.312612,-77.120396,-96.140356,-72.331143,-97.630260,-75.631169,-97.843656,-75.138317,-98.008402,-72.893367,-98.216424,-70.490589,-98.193410
28,MALDIVES,-84.379313,-65.686594,-80.311029,-70.052789,-77.459171,-61.769698,-77.221124,-56.602944,-78.119949,-60.450872,-76.780941,-55.733547,-79.213896,-61.400428
29,MAURITIUS,-76.868087,-90.322363,-64.950466,-91.903763,-63.968642,-92.571400,-70.238849,-93.739986,-69.214291,-95.279785,-65.150215,-95.760610,-64.417685,-95.045501
30,MEXICO,-76.163699,-69.384567,-79.712323,-97.219837,-71.879911,-94.476820,-71.002556,-94.490202,-69.794027,-94.268795,-68.856199,-96.931852,-66.249506,-98.893426
31,MYANMAR,-65.471401,-87.510932,-56.066792,-86.112856,-51.405975,-86.627951,-47.397365,-92.567986,-35.863489,-96.258567,-29.037209,-97.947699,-26.469954,-98.912903
32,NEPAL,-75.697754,-73.179033,-69.035198,-57.546889,-74.760066,-61.671149,-75.625720,-70.857270,-75.234535,-72.456675,-71.957147,-68.636820,-70.115363,-71.140817
33,NETHERLANDS,-77.786018,-55.162184,-75.695302,-86.499677,-62.524235,-80.841829,-65.289950,-72.998631,-60.844135,-76.857414,-58.861970,-81.300895,-56.018726,-90.224338
34,NEW ZEALAND,-89.561810,-96.091913,-85.947790,-97.811632,-83.462819,-94.935452,-88.724970,-96.347005,-86.514791,-96.402436,-84.629472,-97.006657,-83.807440,-97.823973
35,NIGERIA,-77.304836,-68.556421,-79.622424,-24.643320,-77.486854,-65.108406,-77.466227,-71.123558,-78.083104,-81.697061,-75.567463,-79.891345,-76.858185,-79.890561
36,NORWAY,-75.488411,-74.793046,-67.891514,-93.044619,-67.809393,-89.201234,-73.497492,-79.626737,-69.131745,-86.914544,-65.577780,-87.405014,-59.351159,-88.904526
37,OMAN,-83.723452,-92.182131,-87.141925,-92.691680,-84.144852,-89.037350,-80.049597,-86.947959,-82.302212,-87.259093,-82.840042,-87.460802,-81.536660,-87.160928
38,PAKISTAN,-71.261453,-96.105317,-80.479049,-91.232580,-77.391620,-83.272413,-75.654384,-78.636171,-80.770414,-87.379361,-84.377199,-91.161154,-87.469618,-97.397844
39,PHILIPPINES,-73.377723,-79.776549,-71.157796,-90.266130,-67.366880,-86.701051,-64.565610,-84.609378,-64.454272,-82.814227,-68.609238,-85.982522,-65.276212,-93.291995
40,POLAND,-45.914149,-83.863275,-55.478974,-89.068225,-66.181664,-90.581297,-59.429922,-90.695061,-46.584669,-91.302438,-43.145322,-92.629949,-25.371120,-95.748988
41,PORTUGAL,-68.828370,-58.374981,-52.339668,-49.151524,-42.373930,-35.379677,-48.914563,-46.482608,-43.972251,-44.684236,-49.375540,-52.613479,-45.976483,-62.196944
42,REPUBLIC OF CHINA,-46.713152,-97.408031,-81.430637,-98.947892,-83.707568,-98.093110,-82.422842,-98.189711,-81.467045,-98.664077,-79.284559,-99.221372,-75.490573,-99.528665
43,REPUBLIC OF KOREA,-64.492754,-67.383703,-70.935501,-92.958833,-75.821022,-92.564964,-73.958303,-86.249793,-71.730818,-86.446482,-69.403870,-92.427583,-70.299844,-96.752132
44,RUSSIAN FEDERATION,-50.117851,-91.424887,-61.569881,-95.704906,-61.312117,-94.215409,-50.834980,-89.802666,-51.030737,-89.576691,-45.434392,-91.803594,-41.130114,-96.541909
45,SAUDI ARABIA,-81.302508,-94.500738,-83.355693,-98.541375,-75.648255,-97.746754,-78.689764,-97.793637,-81.220366,-98.197325,-77.245321,-98.788864,-80.592858,-99.436846
46,SINGAPORE,-88.676448,-86.405494,-82.242194,-89.577793,-77.050469,-94.626240,-82.332091,-93.021845,-78.797644,-90.614857,-75.294763,-92.337853,-74.016303,-94.441937
47,SOUTH AFRICA,-86.974089,-89.802424,-82.949679,-94.097966,-74.755017,-91.678415,-77.428492,-91.532022,-75.405675,-91.904632,-71.414173,-94.184969,-65.716580,-95.644320
48,SPAIN,-71.513205,-64.846908,-81.395413,-92.581348,-78.725384,-92.974794,-77.717055,-90.231565,-75.818245,-87.521572,-76.520358,-91.643164,-71.586351,-95.729055
49,SRI LANKA,-82.922564,-94.410654,-75.143539,-91.162441,-74.283132,-87.465747,-76.267776,-89.257025,-77.204242,-89.157830,-77.903808,-93.334259,-76.403808,-96.824814
50,SUDAN,-68.964610,-66.938561,-74.415590,-65.282482,-58.674171,-69.618512,-52.645453,-70.382226,-56.166636,-71.100318,-61.395784,-76.768122,-54.777070,-71.592357
51,SWEDEN,-73.898081,-60.995616,-76.817125,-92.139317,-70.438531,-87.701650,-73.825979,-79.246855,-74.382453,-90.071368,-66.099342,-92.121263,-59.382462,-94.779708
52,SWITZERLAND,-76.675192,-83.069054,-72.973537,-91.672928,-72.538904,-91.406431,-74.624855,-90.322915,-74.004032,-91.043011,-68.027779,-89.638532,-64.616421,-92.473508
53,TAIWAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,TANZANIA,-83.906623,-77.964453,-72.116753,-46.602894,-66.530445,-72.513963,-72.784640,-77.767144,-73.285497,-76.819279,-72.020907,-75.310757,-69.362276,-74.923743
55,THAILAND,-77.988041,-93.696799,-69.357045,-94.629719,-66.433987,-94.066675,-61.313571,-94.585851,-57.361395,-97.510865,-49.812896,-98.830916,-41.987247,-99.568277
56,TURKEY,-58.977556,-77.597672,-74.651022,-94.547845,-68.497638,-91.497454,-61.049483,-82.388134,-57.635652,-82.782786,-45.525971,-82.060236,-29.091950,-97.596337
57,UKRAINE,-57.929694,-61.785194,-64.754905,-90.317727,-61.462376,-83.308839,-55.629088,-71.698162,-47.879142,-75.959958,-43.164436,-73.422562,-31.117562,-76.835994
58,UNITED ARAB EMIRATES,-94.546871,-95.546611,-91.912746,-95.357858,-84.076998,-93.650897,-84.929510,-92.380534,-85.981247,-93.185011,-86.015593,-91.448473,-84.980040,-90.486674
59,UNITED KINGDOM,-80.383435,-71.739845,-77.988980,-84.085196,-69.197348,-85.669370,-72.932864,-76.039548,-69.405110,-79.926249,-60.210793,-87.533455,-48.964117,-90.206348
60,UNITED STATES OF AMERICA,-79.988256,-68.839466,-78.321432,-70.553434,-65.558213,-74.733254,-73.996407,-72.440853,-69.729438,-60.348320,-62.276341,-63.033425,-60.448998,-72.783975
61,VIETNAM,-33.783784,-92.766296,-53.284810,-94.044806,-63.260408,-93.279524,-67.233751,-94.661582,-68.332286,-96.411918,-65.818222,-98.598063,-61.890561,-99.563076
62,YEMEN,-77.517084,-72.201974,-80.692087,-79.678201,-75.908937,-71.890477,-70.854607,-67.918794,-73.100930,-73.873721,-71.743119,-74.684818,-69.263783,-72.191042

## Result Age

In [604]:
average_changes_df.to_csv("3_Age_Average_Percentage_Changes_by_Age_Group.csv",index=False)
result_df.to_csv("3_Age_Top_Country_per_year.csv",index=False)
percentage_change_df.to_csv("3_Age_per_Country.csv",index=False)

# 2

In [605]:
df_dvf_2013=pd.read_excel('../data-students/TourismData-2013/STATE UT-WISE DOMESTIC AND FOREIGN TOURIST VISITS.xlsx')
df_dvf_2014=pd.read_excel('../data-students/TourismData-2014/STATE UT-WISE DOMESTIC AND FOREIGN TOURIST VISITS.xlsx')
df_dvf_2016=pd.read_excel('../data-students/TourismData-2016/STATE UT-WISE DOMESTIC AND FOREIGN TOURIST VISITS.xlsx')
df_dvf_2017=pd.read_excel('../data-students/TourismData-2017/STATE UT-WISE DOMESTIC AND FOREIGN TOURIST VISITS.xlsx')
df_dvf_2018=pd.read_excel('../data-students/TourismData-2018/STATE UT-WISE DOMESTIC AND FOREIGN TOURIST VISITS.xlsx')
df_dvf_2019=pd.read_excel('../data-students/TourismData-2019/STATE UT-WISE DOMESTIC AND FOREIGN TOURIST VISITS.xlsx')
df_dvf_2020=pd.read_excel('../data-students/TourismData-2020/STATE UT-WISE DOMESTIC AND FOREIGN TOURIST VISITS.xlsx')
df_dvf_2021=pd.read_excel('../data-students/TourismData-2021/STATE UT-WISE DOMESTIC AND FOREIGN TOURIST VISITS.xlsx')
df_dvf_2022=pd.read_excel('../data-students/TourismData-2022/STATE UT-WISE DOMESTIC AND FOREIGN TOURIST VISITS.xlsx')

In [606]:
list_dvf=[df_dvf_2013,df_dvf_2014,df_dvf_2016,df_dvf_2017,df_dvf_2018,df_dvf_2019,df_dvf_2020,df_dvf_2021,df_dvf_2022]
for df in list_dvf:
    df.columns = df.columns.str.upper()
    df['STATE/UT'] = df['STATE/UT'].str.strip()
    df['STATE/UT'] = df['STATE/UT'].str.upper()

list_dvf=[df_dvf_2013,df_dvf_2014,df_dvf_2016,df_dvf_2017,df_dvf_2018,df_dvf_2019,df_dvf_2020,df_dvf_2021,df_dvf_2022]

In [607]:
dfs=list_dvf

# Define the specific values for row match in 'A' and 'C' (e.g., "QW")
match_value_A = "DADRA & NAGAR HAVELI"
match_value_B = "DAMAN & DIU"

# Initialize the sum for the specific row and column
sum_value_A_Dom = 0
sum_value_B_Dom = 0

# Iterate over all DataFrames in the list
for df in dfs:
    # Check if the row in column 'A' and 'C' matches the values
    # matching_row = (df['STATE/UT'] == match_value_A) & (df['C'] == match_value_C)
    matching_row_DADRA = (df['STATE/UT'] == match_value_A)
    matching_row_DAMAN = (df['STATE/UT'] == match_value_B)
    
    # If a match is found, sum the corresponding 'B' value
    sum_value_A_Dom += df.loc[matching_row_DADRA, 'DOMESTIC'].sum()
    sum_value_B_Dom += df.loc[matching_row_DAMAN, 'DOMESTIC'].sum()

# Display the final sum for column 'B' in the matched row
# print("Total sum of 'DADRA' for matching row:", sum_value_A_Dom)
# print("Total sum of 'DAMAN' for matching row:", sum_value_B_Dom)
DD_Ratio_Dom=sum_value_A_Dom/(sum_value_B_Dom+sum_value_A_Dom)
# print("The raio for Domestic 'DADRA'/'DAMAN: ",DD_Ratio_Dom)

In [608]:
dfs=list_dvf

# Define the specific values for row match in 'A' and 'C' (e.g., "QW")
match_value_DADRA = "DADRA & NAGAR HAVELI"
match_value_DAMAN = "DAMAN & DIU"

# Initialize the sum for the specific row and column
sum_value_DADRA_For = 0
sum_value_DAMAN_For = 0

# Iterate over all DataFrames in the list
for df in dfs:
    # Check if the row in column 'A' and 'C' matches the values
    # matching_row = (df['STATE/UT'] == match_value_A) & (df['C'] == match_value_C)
    matching_row_DADRA = (df['STATE/UT'] == match_value_DADRA)
    matching_row_DAMAN = (df['STATE/UT'] == match_value_DAMAN)
    
    # If a match is found, sum the corresponding 'B' value
    sum_value_DADRA_For += df.loc[matching_row_DADRA, 'FOREIGN'].sum()
    sum_value_DAMAN_For += df.loc[matching_row_DAMAN, 'FOREIGN'].sum()

# Display the final sum for column 'B' in the matched row
# print("Total sum of 'DADRA' for matching row:", sum_value_DADRA_For)
# print("Total sum of 'DAMAN' for matching row:", sum_value_DAMAN_For)
DD_Ratio_For=sum_value_DADRA_For/(sum_value_DAMAN_For+sum_value_DADRA_For)
# print("The raio for Foreign 'DADRA'/'DAMAN': ",DD_Ratio_For)

In [609]:
# Rename the 'DOMESTIC' column in each dataframe to include the year to avoid conflicts
df_dvf_2013.rename(columns={'DOMESTIC': 'DOMESTIC_2013'}, inplace=True)
df_dvf_2014.rename(columns={'DOMESTIC': 'DOMESTIC_2014'}, inplace=True)
df_dvf_2016.rename(columns={'DOMESTIC': 'DOMESTIC_2016'}, inplace=True)
df_dvf_2017.rename(columns={'DOMESTIC': 'DOMESTIC_2017'}, inplace=True)
df_dvf_2018.rename(columns={'DOMESTIC': 'DOMESTIC_2018'}, inplace=True)
df_dvf_2019.rename(columns={'DOMESTIC': 'DOMESTIC_2019'}, inplace=True)
df_dvf_2020.rename(columns={'DOMESTIC': 'DOMESTIC_2020'}, inplace=True)
df_dvf_2021.rename(columns={'DOMESTIC': 'DOMESTIC_2021'}, inplace=True)
df_dvf_2022.rename(columns={'DOMESTIC': 'DOMESTIC_2022'}, inplace=True)

df_dvf_2013.rename(columns={'FOREIGN': 'FOREIGN_2013'}, inplace=True)
df_dvf_2014.rename(columns={'FOREIGN': 'FOREIGN_2014'}, inplace=True)
df_dvf_2016.rename(columns={'FOREIGN': 'FOREIGN_2016'}, inplace=True)
df_dvf_2017.rename(columns={'FOREIGN': 'FOREIGN_2017'}, inplace=True)
df_dvf_2018.rename(columns={'FOREIGN': 'FOREIGN_2018'}, inplace=True)
df_dvf_2019.rename(columns={'FOREIGN': 'FOREIGN_2019'}, inplace=True)
df_dvf_2020.rename(columns={'FOREIGN': 'FOREIGN_2020'}, inplace=True)
df_dvf_2021.rename(columns={'FOREIGN': 'FOREIGN_2021'}, inplace=True)
df_dvf_2022.rename(columns={'FOREIGN': 'FOREIGN_2022'}, inplace=True)

# List of renamed dataframes to merge
dfs_renamed = [df_dvf_2013, df_dvf_2014, df_dvf_2016, df_dvf_2017, df_dvf_2018, df_dvf_2019, df_dvf_2020, df_dvf_2021, df_dvf_2022]

# Perform an outer join on "STATE/UT" column
dvf_df = dfs_renamed[0]
for df in dfs_renamed[1:]:
    dvf_df = dvf_df.merge(df, on='STATE/UT', how='outer')

# Display the combined dataframe
# dvf_df
# print(dvf_df)
# dvf_df

In [610]:
matching_row_DAD_DAM = (dvf_df['STATE/UT'] == 'UT OF DADRA & NAGAR HAVELI AND DAMAN & DIU')
DAD_DAM_Dom=dvf_df.loc[matching_row_DAD_DAM, 'DOMESTIC_2022']
DAD_DAM_For=dvf_df.loc[matching_row_DAD_DAM, 'FOREIGN_2022']
# matching_row_DAD_DAM
# DAD_DAM_For
matching_row_DADRA = (dvf_df['STATE/UT'] == match_value_DADRA)
matching_row_DAMAN = (dvf_df['STATE/UT'] == match_value_DADRA)
# dvf_df.loc[matching_row_DADRA, 'DOMESTIC_2022'] = DD_Ratio_Dom*(DAD_DAM_Dom)
# dvf_df.loc[matching_row_DAMAN, 'DOMESTIC_2022'] = (1-DD_Ratio_Dom)*(DAD_DAM_Dom)

# # matching_row_DADRA = (dvf_df['STATE/UT'] == match_value_DADRA)
# dvf_df.loc[matching_row_DADRA, 'FOREIGN_2022'] = DD_Ratio_For*(DAD_DAM_For)
# dvf_df.loc[matching_row_DAMAN, 'FOREIGN_2022'] = (1-DD_Ratio_For)*(DAD_DAM_For)
# DAD_DAM_Dom,DAD_DAM_For
# x=(1-DD_Ratio_For)*(DAD_DAM_For)
# int(x)
Dadra_Dom=DD_Ratio_Dom*(DAD_DAM_Dom)
Daman_Dom=(1-DD_Ratio_Dom)*(DAD_DAM_Dom)
Dadra_For=DD_Ratio_For*(DAD_DAM_For)
Daman_For=(1-DD_Ratio_For)*(DAD_DAM_For)

In [611]:
dvf_df.loc[dvf_df['STATE/UT'] == 'DADRA & NAGAR HAVELI', 'DOMESTIC_2022'] = int(Dadra_Dom)
dvf_df.loc[dvf_df['STATE/UT'] == 'DAMAN & DIU', 'DOMESTIC_2022'] = int(Daman_Dom)

dvf_df.loc[dvf_df['STATE/UT'] == 'DADRA & NAGAR HAVELI', 'FOREIGN_2022'] = int(Dadra_For)
dvf_df.loc[dvf_df['STATE/UT'] == 'DAMAN & DIU', 'FOREIGN_2022'] = int(Daman_For)

dvf_df = dvf_df[dvf_df['STATE/UT'] != 'UT OF DADRA & NAGAR HAVELI AND DAMAN & DIU']

In [612]:
# Assuming dvf_df is your original DataFrame
df = dvf_df.copy()

# Check the columns in your DataFrame
columns_in_df = df.columns
# print("Columns available in the DataFrame:", columns_in_df)

# Dynamically filter out valid year columns (excluding 2015)
valid_years = [str(year) for year in range(2013, 2023) if f'DOMESTIC_{year}' in columns_in_df and f'FOREIGN_{year}' in columns_in_df]

# List of year columns (DOMESTIC and FOREIGN for each available year)
year_columns = []
for year in valid_years:
    year_columns.append(f'DOMESTIC_{year}')
    year_columns.append(f'FOREIGN_{year}')

# Calculate the total sum for each year (sum of domestic and foreign for each year)
total_per_year = df[year_columns].sum()

# Check if there are any zero or NaN values in the total sums (which could lead to NaNs in the probability calculation)
# print("Total sum for each year:\n", total_per_year)

# Handle any NaN or zero values in total_per_year by replacing them with a small number or skipping them
total_per_year = total_per_year.replace(0, 1)  # Avoid division by zero by replacing zeros with 1
total_per_year = total_per_year.fillna(1)  # Replace NaN with 1 to avoid NaN in division

In [613]:
dvf_df.head()

,STATE/UT,DOMESTIC_2013,FOREIGN_2013,DOMESTIC_2014,FOREIGN_2014,DOMESTIC_2016,FOREIGN_2016,DOMESTIC_2017,FOREIGN_2017,DOMESTIC_2018,FOREIGN_2018,DOMESTIC_2019,FOREIGN_2019,DOMESTIC_2020,FOREIGN_2020,DOMESTIC_2021,FOREIGN_2021,DOMESTIC_2022,FOREIGN_2022
0,ANDAMAN & NICOBAR ISLANDS,243703.0,14742.0,285146.0,17235.0,384552.0,15466.0,471919.0,15313.0,498279.0,15242.0,505398.0,16206.0,191207.0,5412.0,126238.0,1687.0,235100.0,4500.0
1,ANDHRA PRADESH,98017783.0,69552.0,93306974.0,66333.0,153163354.0,341764.0,165433898.0,271362.0,194767874.0,281083.0,237051508.0,280356.0,70828590.0,67591.0,93277569.0,27551.0,192767000.0,165800.0
2,ARUNACHAL PRADESH,125461.0,10846.0,335974.0,5204.0,385875.0,6598.0,444005.0,7147.0,512436.0,7653.0,555639.0,7825.0,42871.0,961.0,102915.0,182.0,222400.0,1100.0
3,ASSAM,4684527.0,17638.0,4826702.0,21537.0,5160599.0,12685.0,6052667.0,21760.0,5856282.0,36846.0,5447805.0,26878.0,1266898.0,7285.0,1409161.0,536.0,8382000.0,9000.0
4,BIHAR,21588306.0,765835.0,22544377.0,829508.0,28516127.0,1010531.0,32414063.0,1082705.0,33621613.0,1087971.0,33990038.0,1093141.0,5638024.0,308080.0,2501193.0,1046.0,25330400.0,86800.0

In [614]:
import pandas as pd
import numpy as np

# Load the data
# file_path = 't_dvf.csv'
# data = pd.read_csv(file_path)
data =dvf_df.copy()


# Calculate percentage change for domestic and foreign visitors
for year in [2020, 2021]:
    data[f'DOMESTIC_{year}_% Change'] = ((data[f'DOMESTIC_{year}'] - data[f'DOMESTIC_{year - 7}']) / data[f'DOMESTIC_{year - 7}']) * 100
    data[f'FOREIGN_{year}_% Change'] = ((data[f'FOREIGN_{year}'] - data[f'FOREIGN_{year - 7}']) / data[f'FOREIGN_{year - 7}']) * 100

# Create a DataFrame for state-wise statistics
state_stats = data[['STATE/UT', 'DOMESTIC_2020_% Change', 'FOREIGN_2020_% Change', 'DOMESTIC_2021_% Change', 'FOREIGN_2021_% Change']].copy()
state_stats = state_stats.rename(columns={
    'DOMESTIC_2020_% Change': 'Domestic 2020',
    'FOREIGN_2020_% Change': 'Foreign 2020',
    'DOMESTIC_2021_% Change': 'Domestic 2021',
    'FOREIGN_2021_% Change': 'Foreign 2021'
})

# Add max columns (same as min for each state)
# state_stats['Max Domestic 2020'] = state_stats['Min Domestic 2020']
# state_stats['Max Foreign 2020'] = state_stats['Min Foreign 2020']
# state_stats['Max Domestic 2021'] = state_stats['Min Domestic 2021']
# state_stats['Max Foreign 2021'] = state_stats['Min Foreign 2021']

# Create a DataFrame for overall statistics
# overall_stats = {
#     'Year': [2020, 2020, 2021, 2021],
#     'Stat Type': ['Min', 'Max', 'Min', 'Max'],
#     'DOMESTIC': [
#         data['DOMESTIC_2020_% Change'].min(),
#         data['DOMESTIC_2020_% Change'].max(),
#         data['DOMESTIC_2021_% Change'].min(),
#         data['DOMESTIC_2021_% Change'].max()
#     ],
#     'FOREIGN': [
#         data['FOREIGN_2020_% Change'].min(),
#         data['FOREIGN_2020_% Change'].max(),
#         data['FOREIGN_2021_% Change'].min(),
#         data['FOREIGN_2021_% Change'].max()
#     ]
# }
# overall_stats_df = pd.DataFrame(overall_stats)

# # Display the results
# print("Overall Percentage Changes:")
# print(overall_stats_df)
# print("\nState-wise Percentage Changes:")
# print(state_stats)

In [615]:
print("\nState-wise Percentage Changes:")
# print(state_stats)
state_stats

State-wise Percentage Changes:

,STATE/UT,Domestic 2020,Foreign 2020,Domestic 2021,Foreign 2021
0,ANDAMAN & NICOBAR ISLANDS,-21.540974,-63.288563,-55.728644,-90.211778
1,ANDHRA PRADESH,-27.739041,-2.819473,-0.031514,-58.465620
2,ARUNACHAL PRADESH,-65.829222,-91.139591,-69.368165,-96.502690
3,ASSAM,-72.955690,-58.697131,-70.804889,-97.511260
4,BIHAR,-73.883898,-59.772014,-88.905469,-99.873901
5,CHANDIGARH,-55.390844,-69.549397,-78.443103,-80.782655
6,CHHATTISGARH,-87.675000,-40.247041,-98.061365,-99.897133
7,DADRA & NAGAR HAVELI,-78.207002,-85.967130,-65.874908,-95.553085
8,DAMAN & DIU,-63.724972,-71.292065,-41.720418,-97.727273
9,DELHI,-52.591727,-70.399258,-52.965292,-95.680206
10,GOA,23.945525,-38.505490,-6.673326,-95.691522
11,GUJARAT,-28.994054,5.671796,-20.661310,-95.194120
12,HARYANA,-70.332169,-92.342682,-72.874881,-98.545545
13,HIMACHAL PRADESH,-78.453362,-89.700639,-64.631863,-98.734408
14,JAMMU & KASHMIR,-76.360263,-99.194675,19.879931,-98.091978
15,JHARKHAND,-87.716326,-88.440048,-89.877562,-98.942035
16,KARNATAKA,-20.974157,-74.020944,-31.238210,-87.098973
17,KERALA,-54.051770,-60.291583,-35.550645,-93.449293
18,LADAKH,NaN,NaN,NaN,NaN
19,LAKSHADWEEP,-27.633779,11.320755,84.552290,-99.221790
20,MADHYA PRADESH,-62.732740,-64.392704,-59.829823,-86.843245
21,MAHARASHTRA,-52.558250,-69.626929,-52.965290,-95.770361
22,MANIPUR,-64.691874,64.517820,-57.254175,-76.598050
23,MEGHALAYA,-96.421943,-65.879226,-78.448614,-95.256233
24,MIZORAM,-51.259921,-66.875000,27.900532,-74.592834
25,NAGALAND,-69.192996,-84.322034,-59.033962,-87.427466
26,ODISHA,-52.834599,-84.692913,-65.319691,-96.823286
27,PUDUCHERRY,11.463325,116.028529,5.481052,-99.614604
28,PUNJAB,-21.783025,75.972441,9.761021,20.624861
29,RAJASTHAN,-50.105076,-68.934817,-33.521564,-97.718498
30,SIKKIM,-45.139393,-37.109597,-9.023360,-76.597865
31,TAMIL NADU,-42.410921,-69.218743,-64.788620,-98.762847
32,TELANGANA,-26.047020,-69.672525,-55.799707,-92.128613
33,TRIPURA,-64.454957,168.936134,-50.777169,-99.981265
35,UTTAR PRADESH,-61.982131,-56.633405,-39.991046,-98.462506
36,UTTARAKHAND,-64.870272,-57.680456,-11.626590,-91.632505
37,WEST BENGAL,12.895421,-62.795227,-50.385096,-97.468417

In [616]:
state_stats.to_csv("4_Dom_Foreign_Statewise_pct.csv",index=False)

In [617]:
import pandas as pd

# Load the data
# file_path = 't_dvf.csv'
# data = pd.read_csv(file_path)
data =dvf_df.copy()


# Calculate percentage change for domestic and foreign visitors
for year in [2020, 2021]:
    data[f'DOMESTIC_{year}_% Change'] = ((data[f'DOMESTIC_{year}'] - data[f'DOMESTIC_{year - 7}']) / data[f'DOMESTIC_{year - 7}']) * 100
    data[f'FOREIGN_{year}_% Change'] = ((data[f'FOREIGN_{year}'] - data[f'FOREIGN_{year - 7}']) / data[f'FOREIGN_{year - 7}']) * 100

# Function to find highest and lowest percentage change
def find_extreme_changes(data, year, visitor_type):
    column = f'{visitor_type}_{year}_% Change'
    
    highest = data.loc[data[column].idxmax()]
    lowest = data.loc[data[column].idxmin()]
    
    return {
        'Year': year,
        'Visitor Type': visitor_type,
        'Highest State': highest['STATE/UT'],
        'Highest %': highest[column],
        'Lowest State': lowest['STATE/UT'],
        'Lowest %': lowest[column]
    }

# Find extreme changes for each year and visitor type
results = []
for year in [2020, 2021]:
    for visitor_type in ['DOMESTIC', 'FOREIGN']:
        results.append(find_extreme_changes(data, year, visitor_type))

# Create a DataFrame with the results
extreme_changes_df = pd.DataFrame(results)

# Display the results
print("States with Highest and Lowest Percentage Changes:")
# print(extreme_changes_df.to_string(index=False))
extreme_changes_df

States with Highest and Lowest Percentage Changes:

   Year Visitor Type Highest State   Highest %     Lowest State   Lowest %
0  2020     DOMESTIC           GOA   23.945525        MEGHALAYA -96.421943
1  2020      FOREIGN       TRIPURA  168.936134  JAMMU & KASHMIR -99.194675
2  2021     DOMESTIC   LAKSHADWEEP   84.552290     CHHATTISGARH -98.061365
3  2021      FOREIGN        PUNJAB   20.624861          TRIPURA -99.981265

In [618]:
extreme_changes_df.to_csv("4_Extreme_State_change.csv",index=False)

In [619]:
dvf_df

,STATE/UT,DOMESTIC_2013,FOREIGN_2013,DOMESTIC_2014,FOREIGN_2014,DOMESTIC_2016,FOREIGN_2016,DOMESTIC_2017,FOREIGN_2017,DOMESTIC_2018,FOREIGN_2018,DOMESTIC_2019,FOREIGN_2019,DOMESTIC_2020,FOREIGN_2020,DOMESTIC_2021,FOREIGN_2021,DOMESTIC_2022,FOREIGN_2022
0,ANDAMAN & NICOBAR ISLANDS,243703.0,14742.0,285146.0,17235.0,384552.0,15466.0,471919.0,15313.0,498279.0,15242.0,505398.0,16206.0,191207.0,5412.0,126238.0,1687.0,235100.0,4500.0
1,ANDHRA PRADESH,98017783.0,69552.0,93306974.0,66333.0,153163354.0,341764.0,165433898.0,271362.0,194767874.0,281083.0,237051508.0,280356.0,70828590.0,67591.0,93277569.0,27551.0,192767000.0,165800.0
2,ARUNACHAL PRADESH,125461.0,10846.0,335974.0,5204.0,385875.0,6598.0,444005.0,7147.0,512436.0,7653.0,555639.0,7825.0,42871.0,961.0,102915.0,182.0,222400.0,1100.0
3,ASSAM,4684527.0,17638.0,4826702.0,21537.0,5160599.0,12685.0,6052667.0,21760.0,5856282.0,36846.0,5447805.0,26878.0,1266898.0,7285.0,1409161.0,536.0,8382000.0,9000.0
4,BIHAR,21588306.0,765835.0,22544377.0,829508.0,28516127.0,1010531.0,32414063.0,1082705.0,33621613.0,1087971.0,33990038.0,1093141.0,5638024.0,308080.0,2501193.0,1046.0,25330400.0,86800.0
5,CHANDIGARH,936922.0,40124.0,1061419.0,28365.0,1182504.0,31549.0,1425781.0,31832.0,1538796.0,39681.0,1563795.0,44132.0,417953.0,12218.0,228809.0,5451.0,3027200.0,28400.0
6,CHHATTISGARH,22801031.0,3886.0,244884465.0,7777.0,16534471.0,9220.0,12231935.0,6655.0,19329501.0,14399.0,17304506.0,6817.0,2810227.0,2322.0,4747417.0,8.0,23636300.0,200.0
7,DADRA & NAGAR HAVELI,481618.0,1582.0,579638.0,1799.0,589074.0,1891.0,614182.0,1908.0,609435.0,1608.0,618330.0,1666.0,104959.0,222.0,197802.0,80.0,314393.0,437.0
8,DAMAN & DIU,819947.0,4814.0,795167.0,4620.0,826201.0,5669.0,858131.0,5535.0,898824.0,5694.0,897804.0,5703.0,297436.0,1382.0,463420.0,105.0,485206.0,1362.0
9,DELHI,20215187.0,2301395.0,22626859.0,2319046.0,28460832.0,2520083.0,29114423.0,2740502.0,29114423.0,2740502.0,36467598.0,2983436.0,9583671.0,681230.0,10642477.0,100178.0,27186200.0,815700.0
10,GOA,2629151.0,492322.0,3544634.0,513592.0,5650061.0,680683.0,6895234.0,842220.0,7081559.0,933841.0,7127287.0,937113.0,3258715.0,302751.0,3308089.0,22128.0,7012000.0,174800.0
11,GUJARAT,27412517.0,198773.0,30912043.0,235524.0,42252909.0,343752.0,48343121.0,448853.0,54369873.0,513113.0,58864661.0,595607.0,19464517.0,210047.0,24525210.0,11319.0,135811300.0,1777200.0
12,HARYANA,7128027.0,228200.0,7467064.0,314757.0,7382995.0,331291.0,6050325.0,193381.0,4888952.0,73977.0,4549017.0,48046.0,2114731.0,17474.0,2025450.0,4578.0,2108500.0,2400.0
13,HIMACHAL PRADESH,14715586.0,414249.0,15924701.0,389699.0,17997750.0,452770.0,19130541.0,470992.0,16093935.0,356568.0,16829231.0,382876.0,3170714.0,42665.0,5632270.0,4932.0,15070900.0,29300.0
14,JAMMU & KASHMIR,10891424.0,60845.0,9438544.0,86477.0,9414579.0,63207.0,14235473.0,79765.0,17076315.0,139520.0,35580768.0,176043.0,2574704.0,490.0,11314920.0,1650.0,18499300.0,20000.0
15,JHARKHAND,20511160.0,45995.0,33427144.0,154731.0,33389286.0,169442.0,33723185.0,170987.0,35408822.0,175801.0,16163330.0,57920.0,2519524.0,5317.0,3383642.0,1637.0,38284400.0,192300.0
16,KARNATAKA,98010140.0,636378.0,118283220.0,561870.0,129762600.0,461752.0,179980191.0,498148.0,214306456.0,543716.0,227934714.0,608754.0,77453339.0,165325.0,81333659.0,72487.0,182413200.0,128500.0
17,KERALA,10857811.0,858143.0,11695411.0,923366.0,13172536.0,1038419.0,14673520.0,1091870.0,15604661.0,1096407.0,18384233.0,1189771.0,4988972.0,340755.0,7537617.0,60487.0,18867400.0,345500.0
18,LADAKH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,241285.0,38652.0,6743.0,1126.0,303023.0,1054.0,510100.0,21300.0
19,LAKSHADWEEP,4784.0,371.0,7315.0,514.0,8716.0,753.0,6620.0,1027.0,10435.0,1313.0,6985.0,820.0,3462.0,413.0,13500.0,4.0,22800.0,100.0
20,MADHYA PRADESH,63110709.0,280333.0,63614525.0,316195.0,150490339.0,363195.0,78038522.0,359119.0,83969799.0,375476.0,88707139.0,327958.0,23519632.0,99819.0,25554067.0,41601.0,35848800.0,204500.0
21,MAHARASHTRA,82700556.0,4156343.0,92632097.0,4389098.0,116515801.0,4670049.0,119191539.0,5078514.0,119191539.0,5078514.0,149294703.0,5528704.0,39234591.0,1262409.0,43569238.0,185643.0,111297600.0,1511600.0
22,MANIPUR,140673.0,1908.0,115499.0,2769.0,150638.0,3064.0,153454.0,3497.0,176109.0,6391.0,167560.0,13608.0,49669.0,3139.0,49371.0,648.0,139500.0,3900.0
23,MEGHALAYA,691269.0,6773.0,716469.0,8664.0,830887.0,8476.0,990856.0,12051.0,1198340.0,18114.0,1245633.0,25813.0,24734.0,2311.0,154409.0,411.0,937100.0,7800.0
24,MIZORAM,63377.0,800.0,68203.0,921.0,67238.0,942.0,67772.0,1155.0,76551.0,967.0,163762.0,2249.0,30890.0,265.0,87232.0,234.0,218400.0,2600.0
25,NAGALAND,35638.0,3304.0,58507.0,2585.0,58178.0,3260.0,63362.0,4166.0,101588.0,5010.0,125949.0,5577.0,10979.0,518.0,23968.0,325.0,97400.0,2900.0
26,ODISHA,9800135.0,66675.0,10790622.0,71426.0,12842766.0,7636.0,14011229.0,100014.0,15208540.0,110818.0,15307637.0,115128.0,4622273.0,10206.0,3742221.0,2269.0,7867900.0,22100.0
27,PUDUCHERRY,1000277.0,42624.0,1188093.0,83291.0,1398289.0,117437.0,1531972.0,131407.0,1616660.0,141133.0,1713248.0,149919.0,1114942.0,92080.0,1253213.0,321.0,1760500.0,900.0
28,PUNJAB,21340888.0,204074.0,24271302.0,255449.0,38703326.0,659736.0,40293352.0,1108635.0,44595061.0,1200969.0,47385387.0,1101343.0,16692197.0,359114.0,26640429.0,308135.0,26089400.0,329500.0
29,RAJASTHAN,30298150.0,1437162.0,33076491.0,1525574.0,41495115.0,1513729.0,45916573.0,1609963.0,50235643.0,1754348.0,52220431.0,1605560.0,15117239.0,446457.0,21988734.0,34806.0,108328200.0,396700.0
30,SIKKIM,576749.0,31698.0,562418.0,49175.0,747343.0,66012.0,1375854.0,49111.0,1426127.0,71172.0,1421823.0,133388.0,316408.0,19935.0,511669.0,11508.0,1625600.0,68600.0
31,TAMIL NADU,244232487.0,3990490.0,327555233.0,4657630.0,343812413.0,4721978.0,345061140.0,4860455.0,385909376.0,6074345.0,494865257.0,6866327.0,140651241.0,1228323.0,115336719.0,57622.0,218584800.0,407100.0
32,TELANGANA,54084367.0,153966.0,72399113.0,75171.0,95160830.0,166570.0,85266596.0,251846.0,92878329.0,318154.0,83035894.0,323326.0,39997001.0,46694.0,32000620.0,5917.0,60748400.0,68400.0
33,TRIPURA,359586.0,11853.0,361247.0,26688.0,370618.0,36780.0,398669.0,69899.0,414388.0,102861.0,437201.0,154405.0,127815.0,31877.0,177816.0,5.0,235600.0,8500.0
35,UTTAR PRADESH,226531091.0,2054420.0,182820108.0,2909735.0,211707090.0,3156812.0,233977619.0,3556204.0,285079848.0,3780752.0,535855162.0,4745181.0,86122293.0,890932.0,109708435.0,44737.0,317913600.0,649000.0
36,UTTARAKHAND,19941128.0,97683.0,21991315.0,101966.0,30505363.0,117106.0,34359989.0,133725.0,35609650.0,151320.0,37585920.0,152273.0,7005264.0,41339.0,19434475.0,8532.0,54642600.0,61600.0
37,WEST BENGAL,25547300.0,1245230.0,49029590.0,1375740.0,74460250.0,1528700.0,79687645.0,1574915.0,85657365.0,1617105.0,92366025.0,1656145.0,28841732.0,463285.0,24325984.0,34828.0,84542200.0,1037000.0

In [620]:
import pandas as pd

# Load the data
# file_path = 't_dvf.csv'
# data = pd.read_csv(file_path)
data =dvf_df.copy()

def calculate_total_change(year):
    # Calculate the total domestic change
    domestic_current = data[f'DOMESTIC_{year}'].sum()
    domestic_previous = data[f'DOMESTIC_{year-7}'].sum()
    domestic_change = domestic_current - domestic_previous
    
    # Calculate the total foreign change
    foreign_current = data[f'FOREIGN_{year}'].sum()
    foreign_previous = data[f'FOREIGN_{year-7}'].sum()
    foreign_change = foreign_current - foreign_previous
    
    return domestic_change, foreign_change

# Calculate changes for 2020 and 2021
changes_2020 = calculate_total_change(2020)
changes_2021 = calculate_total_change(2021)

# Create a DataFrame to store the results
results = pd.DataFrame({
    'Year': [2020, 2020, 2021, 2021],
    'Visitor Type': ['Domestic', 'Foreign', 'Domestic', 'Foreign'],
    'Total Change': [changes_2020[0], changes_2020[1], changes_2021[0], changes_2021[1]]
})

# Calculate percentage change
results['Percentage Change'] = (results['Total Change'] / results.groupby('Visitor Type')['Total Change'].transform('first').abs()) * 100

# Display the results
# print(results.to_string(index=False))
results

   Year Visitor Type  Total Change  Percentage Change
0  2020     Domestic  -532313308.0        -100.000000
1  2020      Foreign   -12779257.0        -100.000000
2  2021     Domestic  -825564648.0        -155.089988
3  2021      Foreign   -21279389.0        -166.515072

In [ ]:
# results.to_csv("4_Overall_Change_in_Dom_Foreign_Tourist.csv",index=False)