1. For every year, find the lean and peak months of visit in terms of fees received.
2. For every country and continent, find the lean and peak quarters of visit

# Data Preprocessing

In [1]:
import pandas as pd
import warnings
pd.set_option('display.max_rows', None)  # Show all rows
pd.set_option('display.max_columns', None)  # Show all columns
pd.set_option('display.width', None)  # Automatically adjust the width
pd.set_option('display.max_colwidth', None)  # Show full content of columns
warnings.filterwarnings('ignore')

In [2]:
# df=pd.read_excel('../data-students/TourismData-2013/MONTH-WISE FEE FROM TOURISM (CRORE) IN INDIA.xlsx')
df_2013=pd.read_excel('../data-students/TourismData-2013/MONTH-WISE FEE FROM TOURISM (CRORE) IN INDIA.xlsx')
df_2014=pd.read_excel('../data-students/TourismData-2014/MONTH-WISE FEE FROM TOURISM (CRORE) IN INDIA.xlsx')
df_2016=pd.read_excel('../data-students/TourismData-2016/MONTH-WISE FEE FROM TOURISM (CRORE) IN INDIA.xlsx')
df_2017=pd.read_excel('../data-students/TourismData-2017/MONTH-WISE FEE FROM TOURISM (CRORE) IN INDIA.xlsx')
df_2018=pd.read_excel('../data-students/TourismData-2018/MONTH-WISE FEE FROM TOURISM (CRORE) IN INDIA.xlsx')
df_2019=pd.read_excel('../data-students/TourismData-2019/MONTH-WISE FEE FROM TOURISM (CRORE) IN INDIA.xlsx')
df_2020=pd.read_excel('../data-students/TourismData-2020/MONTH-WISE FEE FROM TOURISM (CRORE) IN INDIA.xlsx')
df_2021=pd.read_excel('../data-students/TourismData-2021/MONTH-WISE FEE FROM TOURISM (CRORE) IN INDIA.xlsx')
df_2022=pd.read_excel('../data-students/TourismData-2022/MONTH-WISE FEE FROM TOURISM (CRORE) IN INDIA.xlsx')
# df

In [3]:
df_2013

,MONTH,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013
0,January,3843,4700,20200,18205,17755,15799,13671,12100,11664,10785
1,February,4524,5477,18241,17959,17757,15353,13661,11642,11510,10255
2,March,6385,6642,5830,16214,17222,14667,12985,11133,10479,9545
3,April,10053,6891,71,17134,15620,14260,11495,10091,9179,7226
4,May,10900,1730,94,13642,12752,12255,10260,9505,7936,6627
5,June,13360,3157,208,16083,14398,12971,10677,9564,8366,7149
6,July,16189,4105,307,18205,16976,14796,14285,11982,10284,8620
7,August,12716,5251,479,17867,16492,13811,12553,11411,10385,8351
8,September,13435,6549,686,16824,15150,13840,11642,10415,9057,7811
9,October,13447,5094,831,17057,14701,14213,12100,10549,10041,8645
10,November,15556,7022,1413,19840,16584,16528,14259,12649,11431,10663
11,December,19527,8452,1776,22631,19474,19381,16558,14152,12988,11994

In [4]:
are_equal = df_2013.equals(df_2014)
print(are_equal)

True

In [5]:
are_equal = df_2013.equals(df_2016)
print(are_equal)

True

In [6]:
are_equal = df_2013.equals(df_2017)
print(are_equal)

True

In [7]:
are_equal = df_2013.equals(df_2018)
print(are_equal)

True

In [8]:
are_equal = df_2013.equals(df_2019)
print(are_equal)

True

In [9]:
are_equal = df_2013.equals(df_2018)
print(are_equal)

True

In [10]:
are_equal = df_2013.equals(df_2019)
print(are_equal)

True

In [11]:
are_equal = df_2013.equals(df_2020)
print(are_equal)

True

In [12]:
are_equal = df_2013.equals(df_2021)
print(are_equal)

True

In [13]:
are_equal = df_2013.equals(df_2022)
print(are_equal)

True

- All the 'fee' data are the same.

In [14]:
df=df_2013
df

,MONTH,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013
0,January,3843,4700,20200,18205,17755,15799,13671,12100,11664,10785
1,February,4524,5477,18241,17959,17757,15353,13661,11642,11510,10255
2,March,6385,6642,5830,16214,17222,14667,12985,11133,10479,9545
3,April,10053,6891,71,17134,15620,14260,11495,10091,9179,7226
4,May,10900,1730,94,13642,12752,12255,10260,9505,7936,6627
5,June,13360,3157,208,16083,14398,12971,10677,9564,8366,7149
6,July,16189,4105,307,18205,16976,14796,14285,11982,10284,8620
7,August,12716,5251,479,17867,16492,13811,12553,11411,10385,8351
8,September,13435,6549,686,16824,15150,13840,11642,10415,9057,7811
9,October,13447,5094,831,17057,14701,14213,12100,10549,10041,8645
10,November,15556,7022,1413,19840,16584,16528,14259,12649,11431,10663
11,December,19527,8452,1776,22631,19474,19381,16558,14152,12988,11994

In [15]:
# df.to_csv("temp.csv",index=False)

# 1

In [16]:
df

,MONTH,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013
0,January,3843,4700,20200,18205,17755,15799,13671,12100,11664,10785
1,February,4524,5477,18241,17959,17757,15353,13661,11642,11510,10255
2,March,6385,6642,5830,16214,17222,14667,12985,11133,10479,9545
3,April,10053,6891,71,17134,15620,14260,11495,10091,9179,7226
4,May,10900,1730,94,13642,12752,12255,10260,9505,7936,6627
5,June,13360,3157,208,16083,14398,12971,10677,9564,8366,7149
6,July,16189,4105,307,18205,16976,14796,14285,11982,10284,8620
7,August,12716,5251,479,17867,16492,13811,12553,11411,10385,8351
8,September,13435,6549,686,16824,15150,13840,11642,10415,9057,7811
9,October,13447,5094,831,17057,14701,14213,12100,10549,10041,8645
10,November,15556,7022,1413,19840,16584,16528,14259,12649,11431,10663
11,December,19527,8452,1776,22631,19474,19381,16558,14152,12988,11994

- Dropping column 2015, as directed in the clarifications

In [17]:
df = df.drop(2015, axis=1)

In [18]:
df

        MONTH   2022  2021   2020   2019   2018   2017   2016   2014   2013
0     January   3843  4700  20200  18205  17755  15799  13671  11664  10785
1    February   4524  5477  18241  17959  17757  15353  13661  11510  10255
2       March   6385  6642   5830  16214  17222  14667  12985  10479   9545
3       April  10053  6891     71  17134  15620  14260  11495   9179   7226
4         May  10900  1730     94  13642  12752  12255  10260   7936   6627
5        June  13360  3157    208  16083  14398  12971  10677   8366   7149
6        July  16189  4105    307  18205  16976  14796  14285  10284   8620
7      August  12716  5251    479  17867  16492  13811  12553  10385   8351
8   September  13435  6549    686  16824  15150  13840  11642   9057   7811
9     October  13447  5094    831  17057  14701  14213  12100  10041   8645
10   November  15556  7022   1413  19840  16584  16528  14259  11431  10663
11   December  19527  8452   1776  22631  19474  19381  16558  12988  11994

In [19]:
# Set the 'MONTH' column as the index
df.set_index('MONTH', inplace=True)

# Iterate over each year (each column) and find the peak and lean months
peak_lean_months = {}
for year in df.columns:
    # Find the month with the maximum fee (peak month)
    peak_month = df[year].idxmax()
    peak_value = df[year].max()
    
    # Find the month with the minimum fee (lean month)
    lean_month = df[year].idxmin()
    lean_value = df[year].min()
    
    peak_lean_months[year] = {
        'Peak Month': peak_month,
        'Peak Value': peak_value,
        'Lean Month': lean_month,
        'Lean Value': lean_value
    }

# Display the result
# for year, months in peak_lean_months.items():
#     print(f"{year}:")
#     print(f"  Peak Month: {months['Peak Month']} ({months['Peak Value']})")
#     print(f"  Lean Month: {months['Lean Month']} ({months['Lean Value']})")
#     print()

peak_lean_df = pd.DataFrame(peak_lean_months)

# Display the resulting DataFrame
# print(peak_lean_df)
peak_lean_df

,2022,2021,2020,2019,2018,2017,2016,2014,2013
Peak Month,December,December,January,December,December,December,December,December,December
Peak Value,19527,8452,20200,22631,19474,19381,16558,12988,11994
Lean Month,January,May,April,May,May,May,May,May,May
Lean Value,3843,1730,71,13642,12752,12255,10260,7936,6627

In [20]:
peak_lean_df.to_csv("1_Lean_Peak_Months.csv")

In [21]:
import plotly.graph_objects as go

# Set the 'MONTH' column as the index
# df.set_index('MONTH', inplace=True)

# Create the figure
fig = go.Figure()

# Iterate over each year (each column) and add it to the plot
for year in df.columns:
    # Add the year data as a line trace
    fig.add_trace(go.Scatter(
        x=df.index, 
        y=df[year], 
        mode='lines+markers', 
        name=f'{year}',
        text=df[year],  # Display the values on hover
        hoverinfo='text+x+y'  # Show month, value, and year on hover
    ))

    # Find the peak and lean months
    peak_month = df[year].idxmax()
    peak_value = df[year].max()
    lean_month = df[year].idxmin()
    lean_value = df[year].min()

    # Add markers for the peak and lean months
    fig.add_trace(go.Scatter(
        x=[peak_month], 
        y=[peak_value], 
        mode='markers',
        name=f'{year} Peak', 
        marker=dict(color='green', size=12),
        text=f'Peak: {peak_month} - {peak_value}', 
        hoverinfo='text'
    ))

    fig.add_trace(go.Scatter(
        x=[lean_month], 
        y=[lean_value], 
        mode='markers',
        name=f'{year} Lean', 
        marker=dict(color='red', size=12),
        text=f'Lean: {lean_month} - {lean_value}', 
        hoverinfo='text'
    ))

# Update layout for better visualization
fig.update_layout(
    title='Peak and Lean Months for Each Year',
    xaxis_title='Month',
    yaxis_title='Fee Value',
    legend_title="Year",
    hovermode='closest',
    # template='plotly_dark',  # Optional: You can change the theme
    template='plotly',  # Optional: You can change the theme
    xaxis=dict(tickmode='array', tickvals=df.index),  # Ensure all months are visible
    showlegend=True
)

# Show the interactive plot
fig.show()

# 2

In [22]:
# df=pd.read_excel('../data-students/TourismData-2013/MONTH-WISE FEE FROM TOURISM (CRORE) IN INDIA.xlsx')
df_2013=pd.read_excel('../data-students/TourismData-2013/NATIONALITY-WISE QUARTER-WISE DISTRIBUTION OF FTAs IN INDIA.xlsx')
df_2014=pd.read_excel('../data-students/TourismData-2014/NATIONALITY-WISE QUARTER-WISE DISTRIBUTION OF FTAs IN INDIA.xlsx')
df_2016=pd.read_excel('../data-students/TourismData-2016/NATIONALITY-WISE QUARTER-WISE DISTRIBUTION OF FTAs IN INDIA.xlsx')
df_2017=pd.read_excel('../data-students/TourismData-2017/NATIONALITY-WISE QUARTER-WISE DISTRIBUTION OF FTAs IN INDIA.xlsx')
df_2018=pd.read_excel('../data-students/TourismData-2018/NATIONALITY-WISE QUARTER-WISE DISTRIBUTION OF FTAs IN INDIA.xlsx')
df_2019=pd.read_excel('../data-students/TourismData-2019/NATIONALITY-WISE QUARTER-WISE DISTRIBUTION OF FTAs IN INDIA.xlsx')
df_2020=pd.read_excel('../data-students/TourismData-2020/NATIONALITY-WISE QUARTER-WISE DISTRIBUTION OF FTAs IN INDIA.xlsx')
df_2021=pd.read_excel('../data-students/TourismData-2021/NATIONALITY-WISE QUARTER-WISE DISTRIBUTION OF FTAs IN INDIA.xlsx')
df_2022=pd.read_excel('../data-students/TourismData-2022/NATIONALITY-WISE QUARTER-WISE DISTRIBUTION OF FTAs IN INDIA.xlsx')
# df

In [23]:
df_2013.head()

,Country of Nationality,Arrivals (in numbers),1st Quarter (Jan-Mar),2nd Quarter (Apr-June),3rd Quarter (July-Sep),4th Quarter (Oct-Dec)
0,North America,NaN,NaN,NaN,NaN,NaN
1,Canada,268485.0,33.1,14.5,15.7,36.7
2,United States of America,1118983.0,25.7,22.0,20.6,31.7
3,Central & South America,NaN,NaN,NaN,NaN,NaN
4,Argentina,9731.0,46.8,15.6,13.9,23.7

In [24]:
list1=[df_2013,df_2014,df_2016,df_2017,df_2018,df_2019,df_2020,df_2021,df_2022]
for df in list1:
    df.columns = df.columns.str.upper()
    df['COUNTRY OF NATIONALITY'] = df['COUNTRY OF NATIONALITY'].str.upper()
    df['COUNTRY OF NATIONALITY'] = df['COUNTRY OF NATIONALITY'].str.strip()

list1=[df_2013,df_2014,df_2016,df_2017,df_2018,df_2019,df_2020,df_2021,df_2022]

In [25]:
# # Convert the string data to a pandas DataFrame
# df = df_2013
# df = df[df['COUNTRY OF NATIONALITY'] != 'OTHERS']
# df = df.reset_index(drop=True)

# # Add the continent column based on the country names
# continent_mapping = {
#     "NORTH AMERICA": ["CANADA", "UNITED STATES OF AMERICA"],
#     "CENTRAL & SOUTH AMERICA": ["ARGENTINA", "BRAZIL", "MEXICO"],
#     "WESTERN EUROPE": ["AUSTRIA", "BELGIUM", "DENMARK", "FINLAND", "FRANCE", "GERMANY", "GREECE", 
#                        "IRELAND", "ITALY", "NETHERLANDS", "NORWAY", "PORTUGAL", "SPAIN", "SWEDEN", 
#                        "SWITZERLAND", "UNITED KINGDOM"],
#     "EASTERN EUROPE": ["CZECH REPUBLIC", "KAZAKHSTAN", "POLAND", "RUSSIAN FEDERATION", "UKRAINE", "HUNGARY"],
#     "AFRICA": ["EGYPT", "KENYA", "MAURITIUS", "NIGERIA", "SOUTH AFRICA", "SUDAN", "TANZANIA"],
#     "WEST ASIA": ["BAHRAIN", "IRAQ", "ISRAEL", "OMAN", "SAUDI ARABIA", "TURKEY", "UNITED ARAB EMIRATES", 
#                   "YEMEN"],
#     "SOUTH ASIA": ["AFGHANISTAN", "IRAN", "MALDIVES", "NEPAL", "PAKISTAN", "BANGLADESH", "SRI LANKA", "BHUTAN"],
#     "SOUTH EAST ASIA": ["INDONESIA", "MALAYSIA", "MYANMAR", "PHILIPPINES", "SINGAPORE", "THAILAND", "VIETNAM"],
#     "EAST ASIA": ["REPUBLIC OF CHINA", "TAIWAN", "JAPAN", "REPUBLIC OF KOREA"],
#     "AUSTRALASIA": ["AUSTRALIA", "NEW ZEALAND"]
# }

# # Function to assign continent based on the country
# def assign_continent(row):
#     for continent, countries in continent_mapping.items():
#         if row['COUNTRY OF NATIONALITY'] in countries:
#             return continent
#     return "Unknown"

# # Apply the function to create the new continent column
# df['CONTINENT'] = df.apply(assign_continent, axis=1)

# # Print the updated dataframe
# # print(df)
# df.dropna(inplace=True)
# df = df.reset_index(drop=True)
# df.head(10)

In [26]:
# # Function to find lean and peak quarters
# def find_lean_peak(row):
#     quarters = ['1ST QUARTER (JAN-MAR)', '2ND QUARTER (APR-JUNE)', '3RD QUARTER (JULY-SEP)', '4TH QUARTER (OCT-DEC)']
#     values = [row['1ST QUARTER (JAN-MAR)'], row['2ND QUARTER (APR-JUNE)'], row['3RD QUARTER (JULY-SEP)'], row['4TH QUARTER (OCT-DEC)']]
    
#     peak_quarter = quarters[values.index(max(values))]
#     lean_quarter = quarters[values.index(min(values))]
    
#     return pd.Series([lean_quarter, peak_quarter], index=['LEAN QUARTER', 'Peak Quarter'])

# # Apply the function to each row in the DataFrame
# df[['LEAN QUARTER', 'PEAK QUARTER']] = df.apply(find_lean_peak, axis=1)

# # Display the result
# # print(df[['Country of Nationality', 'Continent', 'Lean Quarter', 'Peak Quarter']])
# df[['COUNTRY OF NATIONALITY', 'CONTINENT', 'LEAN QUARTER', 'PEAK QUARTER']]
# # df

In [27]:
# # Define the columns for the quarters
# # quarters = ['1st Quarter (Jan-Mar)', '2nd Quarter (Apr-June)', '3rd Quarter (July-Sep)', '4th Quarter (Oct-Dec)']
# quarters = ['1ST QUARTER (JAN-MAR)', '2ND QUARTER (APR-JUNE)', '3RD QUARTER (JULY-SEP)', '4TH QUARTER (OCT-DEC)']
# # Calculate the average arrivals for each quarter by continent
# continent_avg = df.groupby('CONTINENT')[quarters].mean()

# # Find the lean and peak quarters for each continent
# def find_lean_peak_for_continent(row):
#     # Calculate the peak and lean quarters based on average arrivals
#     peak_quarter = row.idxmax()  # Find the quarter with maximum average
#     lean_quarter = row.idxmin()  # Find the quarter with minimum average
#     return pd.Series([lean_quarter, peak_quarter], index=['LEAN QUARTER', 'PEAK QUARTER'])

# # Apply the function to each continent's average data
# continent_lean_peak = continent_avg.apply(find_lean_peak_for_continent, axis=1)

# # Combine the results with the continent averages
# continent_result = pd.concat([continent_avg, continent_lean_peak], axis=1)
# # continent_result = continent_result[continent_result['CONTINENT'] != 'OTHERS']
# # continent_result = continent_result.reset_index(drop=True)
# # Display the result
# # print(continent_result)
# continent_result = continent_result.reset_index()
# continent_result

In [28]:
years=[2013,2014,2016,2017,2018,2019,2020,2021,2022]
country_quarter=pd.DataFrame(columns=['COUNTRY OF NATIONALITY'])
continent_quarter=pd.DataFrame(columns=['CONTINENT'])

In [29]:
i=0
for df in list1:
    # Convert the string data to a pandas DataFrame
    df = df[df['COUNTRY OF NATIONALITY'] != 'OTHERS']
    df = df.reset_index(drop=True)

    # Add the continent column based on the country names
    continent_mapping = {
        "NORTH AMERICA": ["CANADA", "UNITED STATES OF AMERICA"],
        "CENTRAL & SOUTH AMERICA": ["ARGENTINA", "BRAZIL", "MEXICO"],
        "WESTERN EUROPE": ["AUSTRIA", "BELGIUM", "DENMARK", "FINLAND", "FRANCE", "GERMANY", "GREECE", 
                        "IRELAND", "ITALY", "NETHERLANDS", "NORWAY", "PORTUGAL", "SPAIN", "SWEDEN", 
                        "SWITZERLAND", "UNITED KINGDOM"],
        "EASTERN EUROPE": ["CZECH REPUBLIC", "KAZAKHSTAN", "POLAND", "RUSSIAN FEDERATION", "UKRAINE", "HUNGARY"],
        "AFRICA": ["EGYPT", "KENYA", "MAURITIUS", "NIGERIA", "SOUTH AFRICA", "SUDAN", "TANZANIA"],
        "WEST ASIA": ["BAHRAIN", "IRAQ", "ISRAEL", "OMAN", "SAUDI ARABIA", "TURKEY", "UNITED ARAB EMIRATES", 
                    "YEMEN"],
        "SOUTH ASIA": ["AFGHANISTAN", "IRAN", "MALDIVES", "NEPAL", "PAKISTAN", "BANGLADESH", "SRI LANKA", "BHUTAN"],
        "SOUTH EAST ASIA": ["INDONESIA", "MALAYSIA", "MYANMAR", "PHILIPPINES", "SINGAPORE", "THAILAND", "VIETNAM"],
        "EAST ASIA": ["REPUBLIC OF CHINA", "TAIWAN", "JAPAN", "REPUBLIC OF KOREA"],
        "AUSTRALASIA": ["AUSTRALIA", "NEW ZEALAND"]
    }

    # Function to assign continent based on the country
    def assign_continent(row):
        for continent, countries in continent_mapping.items():
            if row['COUNTRY OF NATIONALITY'] in countries:
                return continent
        return "Unknown"

    # Apply the function to create the new continent column
    df['CONTINENT'] = df.apply(assign_continent, axis=1)

    # Print the updated dataframe
    # print(df)
    df.dropna(inplace=True)
    df = df.reset_index(drop=True)
    # df.head(10)
    # Function to find lean and peak quarters
    def find_lean_peak(row):
        quarters = ['1ST QUARTER (JAN-MAR)', '2ND QUARTER (APR-JUNE)', '3RD QUARTER (JULY-SEP)', '4TH QUARTER (OCT-DEC)']
        values = [row['1ST QUARTER (JAN-MAR)'], row['2ND QUARTER (APR-JUNE)'], row['3RD QUARTER (JULY-SEP)'], row['4TH QUARTER (OCT-DEC)']]
        
        peak_quarter = quarters[values.index(max(values))]
        lean_quarter = quarters[values.index(min(values))]
        
        return pd.Series([lean_quarter, peak_quarter], index=['LEAN QUARTER', 'Peak Quarter'])

    # Apply the function to each row in the DataFrame
    df[['LEAN QUARTER', 'PEAK QUARTER']] = df.apply(find_lean_peak, axis=1)

    # Display the result
    # print(df[['Country of Nationality', 'Continent', 'Lean Quarter', 'Peak Quarter']])
    # df[['COUNTRY OF NATIONALITY', 'CONTINENT', 'LEAN QUARTER', 'PEAK QUARTER']]
    # df
    quarters = ['1ST QUARTER (JAN-MAR)', '2ND QUARTER (APR-JUNE)', '3RD QUARTER (JULY-SEP)', '4TH QUARTER (OCT-DEC)']
# Calculate the average arrivals for each quarter by continent
    continent_avg = df.groupby('CONTINENT')[quarters].mean()

    # Find the lean and peak quarters for each continent
    def find_lean_peak_for_continent(row):
        # Calculate the peak and lean quarters based on average arrivals
        peak_quarter = row.idxmax()  # Find the quarter with maximum average
        lean_quarter = row.idxmin()  # Find the quarter with minimum average
        return pd.Series([lean_quarter, peak_quarter], index=['LEAN QUARTER', 'PEAK QUARTER'])

    # Apply the function to each continent's average data
    continent_lean_peak = continent_avg.apply(find_lean_peak_for_continent, axis=1)

    # Combine the results with the continent averages
    continent_result = pd.concat([continent_avg, continent_lean_peak], axis=1)
    # continent_result = continent_result[continent_result['CONTINENT'] != 'OTHERS']
    # continent_result = continent_result.reset_index(drop=True)
    # Display the result
    # print(continent_result)
    # continent_result
    # df.columns = ['COUNTRY OF NATIONALITY', 'LEAN QUARTER '+str(years[i]), 'PEAK QUARTER '+str(years[i])] + list(df.columns[3:])
    df=df[['COUNTRY OF NATIONALITY', 'LEAN QUARTER','PEAK QUARTER']]
    continent_result = continent_result.reset_index()
    continent_result=continent_result[['CONTINENT', 'LEAN QUARTER','PEAK QUARTER']]
    # print(continent_result)
# # print(df[['Country of Nationality', 'Continent', 'Lean Quarter', 'Peak Quarter']])
    # print(years[i])
    df.columns = ['COUNTRY OF NATIONALITY', 'LEAN QUARTER '+str(years[i]), 'PEAK QUARTER '+str(years[i])]
    continent_result.columns = ['CONTINENT', 'LEAN QUARTER '+str(years[i]), 'PEAK QUARTER '+str(years[i])]
    # continent_quarter.columns = ['CONTINENT']+list(df.columns[3:])
    i=i+1

    country_quarter = pd.merge(country_quarter, df, on='COUNTRY OF NATIONALITY', how='outer')
    continent_quarter = pd.merge(continent_quarter, continent_result, on='CONTINENT', how='outer')

In [30]:
continent_quarter.head()

,CONTINENT,LEAN QUARTER 2013,PEAK QUARTER 2013,LEAN QUARTER 2014,PEAK QUARTER 2014,LEAN QUARTER 2016,PEAK QUARTER 2016,LEAN QUARTER 2017,PEAK QUARTER 2017,LEAN QUARTER 2018,PEAK QUARTER 2018,LEAN QUARTER 2019,PEAK QUARTER 2019,LEAN QUARTER 2020,PEAK QUARTER 2020,LEAN QUARTER 2021,PEAK QUARTER 2021,LEAN QUARTER 2022,PEAK QUARTER 2022
0,AFRICA,2ND QUARTER (APR-JUNE),4TH QUARTER (OCT-DEC),2ND QUARTER (APR-JUNE),4TH QUARTER (OCT-DEC),2ND QUARTER (APR-JUNE),4TH QUARTER (OCT-DEC),2ND QUARTER (APR-JUNE),4TH QUARTER (OCT-DEC),2ND QUARTER (APR-JUNE),4TH QUARTER (OCT-DEC),2ND QUARTER (APR-JUNE),4TH QUARTER (OCT-DEC),2ND QUARTER (APR-JUNE),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUNE),4TH QUARTER (OCT-DEC),1ST QUARTER (JAN-MAR),4TH QUARTER (OCT-DEC)
1,AUSTRALASIA,2ND QUARTER (APR-JUNE),4TH QUARTER (OCT-DEC),2ND QUARTER (APR-JUNE),4TH QUARTER (OCT-DEC),2ND QUARTER (APR-JUNE),4TH QUARTER (OCT-DEC),2ND QUARTER (APR-JUNE),4TH QUARTER (OCT-DEC),2ND QUARTER (APR-JUNE),4TH QUARTER (OCT-DEC),3RD QUARTER (JULY-SEP),4TH QUARTER (OCT-DEC),2ND QUARTER (APR-JUNE),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUNE),4TH QUARTER (OCT-DEC),1ST QUARTER (JAN-MAR),4TH QUARTER (OCT-DEC)
2,CENTRAL & SOUTH AMERICA,2ND QUARTER (APR-JUNE),1ST QUARTER (JAN-MAR),3RD QUARTER (JULY-SEP),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUNE),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUNE),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUNE),1ST QUARTER (JAN-MAR),3RD QUARTER (JULY-SEP),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUNE),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUNE),4TH QUARTER (OCT-DEC),1ST QUARTER (JAN-MAR),4TH QUARTER (OCT-DEC)
3,EAST ASIA,2ND QUARTER (APR-JUNE),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUNE),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUNE),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUNE),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUNE),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUNE),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUNE),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUNE),4TH QUARTER (OCT-DEC),1ST QUARTER (JAN-MAR),4TH QUARTER (OCT-DEC)
4,EASTERN EUROPE,2ND QUARTER (APR-JUNE),1ST QUARTER (JAN-MAR),3RD QUARTER (JULY-SEP),1ST QUARTER (JAN-MAR),3RD QUARTER (JULY-SEP),1ST QUARTER (JAN-MAR),3RD QUARTER (JULY-SEP),1ST QUARTER (JAN-MAR),3RD QUARTER (JULY-SEP),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUNE),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUNE),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUNE),4TH QUARTER (OCT-DEC),2ND QUARTER (APR-JUNE),4TH QUARTER (OCT-DEC)

In [31]:
country_quarter.head()

,COUNTRY OF NATIONALITY,LEAN QUARTER 2013,PEAK QUARTER 2013,LEAN QUARTER 2014,PEAK QUARTER 2014,LEAN QUARTER 2016,PEAK QUARTER 2016,LEAN QUARTER 2017,PEAK QUARTER 2017,LEAN QUARTER 2018,PEAK QUARTER 2018,LEAN QUARTER 2019,PEAK QUARTER 2019,LEAN QUARTER 2020,PEAK QUARTER 2020,LEAN QUARTER 2021,PEAK QUARTER 2021,LEAN QUARTER 2022,PEAK QUARTER 2022
0,AFGHANISTAN,2ND QUARTER (APR-JUNE),1ST QUARTER (JAN-MAR),3RD QUARTER (JULY-SEP),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUNE),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUNE),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUNE),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUNE),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUNE),1ST QUARTER (JAN-MAR),4TH QUARTER (OCT-DEC),1ST QUARTER (JAN-MAR),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUNE)
1,ARGENTINA,3RD QUARTER (JULY-SEP),1ST QUARTER (JAN-MAR),3RD QUARTER (JULY-SEP),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUNE),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUNE),1ST QUARTER (JAN-MAR),3RD QUARTER (JULY-SEP),1ST QUARTER (JAN-MAR),3RD QUARTER (JULY-SEP),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUNE),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUNE),4TH QUARTER (OCT-DEC),1ST QUARTER (JAN-MAR),4TH QUARTER (OCT-DEC)
2,AUSTRALIA,2ND QUARTER (APR-JUNE),4TH QUARTER (OCT-DEC),2ND QUARTER (APR-JUNE),4TH QUARTER (OCT-DEC),2ND QUARTER (APR-JUNE),4TH QUARTER (OCT-DEC),2ND QUARTER (APR-JUNE),4TH QUARTER (OCT-DEC),2ND QUARTER (APR-JUNE),4TH QUARTER (OCT-DEC),3RD QUARTER (JULY-SEP),4TH QUARTER (OCT-DEC),2ND QUARTER (APR-JUNE),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUNE),4TH QUARTER (OCT-DEC),1ST QUARTER (JAN-MAR),4TH QUARTER (OCT-DEC)
3,AUSTRIA,2ND QUARTER (APR-JUNE),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUNE),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUNE),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUNE),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUNE),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUNE),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUNE),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUNE),4TH QUARTER (OCT-DEC),1ST QUARTER (JAN-MAR),4TH QUARTER (OCT-DEC)
4,BAHRAIN,2ND QUARTER (APR-JUNE),3RD QUARTER (JULY-SEP),2ND QUARTER (APR-JUNE),3RD QUARTER (JULY-SEP),2ND QUARTER (APR-JUNE),3RD QUARTER (JULY-SEP),2ND QUARTER (APR-JUNE),3RD QUARTER (JULY-SEP),4TH QUARTER (OCT-DEC),3RD QUARTER (JULY-SEP),1ST QUARTER (JAN-MAR),3RD QUARTER (JULY-SEP),2ND QUARTER (APR-JUNE),1ST QUARTER (JAN-MAR),2ND QUARTER (APR-JUNE),4TH QUARTER (OCT-DEC),1ST QUARTER (JAN-MAR),4TH QUARTER (OCT-DEC)

In [32]:
continent_quarter.to_csv("2_continentwise_Quarter_Data.csv", index=False)
country_quarter.to_csv("2_Countrywise_Quarter_Data.csv", index=False)